/* ==UserStyle==
@name           color2
@namespace      github.com/openstyles/stylus
@version        2.1.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("twitter.com") {
	.css-175oi2r.r-13qz1uu.r-417010.r-18u37iz {
		filter: sepia(40%);
	}
}

@-moz-document domain("sofascore.com") {
	#__next {
		filter: sepia(40%);
	}
}

@-moz-document domain("espn.com"), domain("espn.com.au"), domain("espn.ph"), domain("espn.co.uk") {
    #fitt-analytics + div {
        filter: sepia(40%);
    }
}

@-moz-document domain("vlr.gg") {
    .ui-color-dark {
        filter: sepia(40%);
    }
}