/* ==UserStyle==
@name           color2
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("twitter.com") {
	.css-175oi2r.r-13qz1uu.r-417010.r-18u37iz {
		filter: sepia(60%);
	}
}