/* ==UserStyle==
@name           color
@namespace      github.com/openstyles/stylus
@version        2.0.1
@description    If it's filter: , it's here
@author         Zerohazard8x
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/grayscale.user.styl
@homepageURL    https://github.com/Zerohazard8x/custom/tree/main/stylus
==/UserStyle== */

@-moz-document domain("facebook.com"), domain("messenger.com"), domain("instagram.com") {
    /* facebook, messenger, instagram */
    #mount_0_0_CV,
    #mount_0_0_KX,
    #mount_0_0_R5,
    #mount_0_0_ff,
    #mount_0_0_ui,
    #splash-screen,
    div.AdBox.Ad.advert.post-ads,
    div._li,
    div.download_link_sponsored,
    div.fb_reset,
    div.widgetSponsors,
    iframe.MAWOembedIframe,
    div.ob-hover {
        filter: sepia(80%);
    }
}

@-moz-document domain("google.com") {
    /* Google */
    #Rvx4kc,
    #_2mOxZN2bHsP8hwP9q7jwBQ_1,
    #_2mOxZN2bHsP8hwP9q7jwBQ_55,
    #__HC_94253229,
    #drive_hist_frame,
    #drive_hist_state,
    #drive_main_page,
    #gac_scont,
    #goog-lr-150,
    #goog-lr-151,
    #goog-lr-160,
    #goog-lr-161,
    #goog-lr-270,
    #goog-lr-543,
    #hfcr,
    #lb,
    #lfootercc,
    #pagetual-preload,
    #snbc,
    #xUserInfo,
    c-wiz.zQTmif.SSPGKf,
    c-wiz.zQTmif.SSPGKf.O5K2Vd,
    c-wiz.zQTmif.SSPGKf.nELLM,
    div.CvDJxb,
    div.DH7hPe,
    div.Fgvgjc,
    div.L3eUgb,
    div.MVPoib,
    div.MdVxQe,
    div.T1diZc.KWE8qe,
    div.UkZxse,
    div.VUoKZ,
    div.VfPpkd-suEOdc.EY8ABd,
    div.VfPpkd-suEOdc.EY8ABddiv.gb_q,
    div.ZACE2c.vMI2nb.dif24c.vhoiae.KkxPLb,
    div.ZACE2c.vMI2nb.dif24c.vhoiae.KkxPLb.eO2Zfd,
    div.a-Cd.Hb-ja-hc.a-Cd-Na,
    div.a-b.a-b-ja-el-db.dif24c.bvmRsc.a-b-Oe-n.a-b-L.a-b-uoC0bf.vhoiae.KkxPLb,
    div.a-ie-Vq-bb-ta,
    div.a-pk,
    div.bJZIjf,
    div.cdk-describedby-message-container.cdk-visually-hidden,
    div.cdk-live-announcer-element.cdk-visually-hidden,
    div.cdk-overlay-container,
    div.e0yuIb,
    div.fp-nh,
    div.g-Yd.a-la-B.a-Ff-B.g-Yd-Ya,
    div.g-Yd.g-Yd-Ya.a-la-B.a-Ff-B,
    div.gb_Fe,
    div.gb_Hc,
    div.gb_He,
    div.gb_Ie,
    div.gb_Kc,
    div.gb_Uc,
    div.gb_bd,
    div.gb_ed,
    div.gb_jd,
    div.gb_kd,
    div.gb_ld,
    div.gb_n,
    div.gb_od,
    div.gb_q,
    div.gb_se,
    div.gb_te,
    div.gb_ue,
    div.gb_ve,
    div.gb_we,
    div.gb_xe,
    div.h-w.h-w-Xi.a-w,
    div.h-w.h-w-Xi.a-w.a-mb-w,
    div.jAwdKb.seKsf,
    div.lb-k-Qc,
    div.lb-k.ea-Rc-k.Dn-Ti-ea-Rc-k.fc-a-ea-Rc-k.ea-Rc-pk,
    div.lb-k.ea-Rc-wa-k,
    div.main,
    div.pGxpHc,
    div.rUCtP,
    div.tEhMVd,
    div.uRjBf,
    div.wYq63b,
    div.ynRLnc,
    h1.Uo8X3b.OhScic.zsYMMe,
    header.gb_Ha.gb_8a.gb_Ld.gb_jd.gb_ed.gb_Rc.gb_k,
    iframe.lb-k-Qc,
    span.a-b-ra-no,
    span.a-b-ra-no,
    span.kpshf.line.gsr.bilit.big.mdm,
    textarea.csi,
    div.MCcOAc.IqBfM.ecJEib.EWZcud.cjGgHb.d8Etdd.LcUz9d {
        filter: sepia(80%);
    }

    #cnt,
    .SGWAac,
    .L3eUgb {
        background: rgb(42, 28, 32) !important;
    }
}

@-moz-document domain("nitter.net"), domain("nitter.riverside.rocks"), domain("nitter.tiekoetter.com"), domain("twt.funami.tech"), domain("nitter.privacydev.net") {
    /* Nitter */
    div.container,
    .container,
    .tweet-content,
    .site-name,
    button,
    select,
    input {
        filter: sepia(80%);
    }
}

@-moz-document domain("inv.riverside.rocks"),domain("invidious.tiekoetter.com"),domain("yt.funami.tech"),domain("yewtu.be") {
    /* Invidious */
    div.pure-g,
    #dark_mode_pref {
        filter: sepia(80%);
    }
}

@-moz-document domain("deepl.com") {
    /* DeepL */
    #dl_mobile_iOS_app_banner,
    header.dl_header.dl_header--sticky,
    div.dl_translator_page_container,
    #modalPortal,
    #blockModalPortal,
    div.dl_footerV2_container,
    #dl_cookieBanner,
    #deepl-ui-tooltip-portal,
    #summarize-modal-container,
    div.sr-only {
        filter: sepia(80%);
    }
}

@-moz-document domain("cagematch.net") {
    /* Cagematch */
    div.LayoutUserAccount.LayoutWidth,
    div.LayoutHeader,
    div.LayoutWidth {
        filter: sepia(80%);
    }
}

@-moz-document domain("quora.com") {
    /* Quora */
    #credential_picker_container,
    #onetap_google_intermediate_iframe,
    #root,
    #staticError {
        filter: sepia(80%);
    }
}

@-moz-document domain("steampowered.com") {
    /* Steam */
    div.miniprofile_hover,
    div.responsive_page_frame.with_header,
    div.FullModalOverlay {
        filter: sepia(80%);
    }
}

@-moz-document domain("soranews24.com"), domain("rocketnews24.com") {
    /* SoraNews24 */
    #container,
    #div-gpt-ad-oop,
    #fb-root,
    #rufous-sandbox,
    #likes-master,
    #likes-other-gravatars {
        filter: sepia(80%);
    }

    body {
        background: rgb(100, 59, 54) !important;
    }
}

@-moz-document domain("amazon.com"), domain("amazon.co.jp"), domain("amazon.in") {
    /* Amazon */
    #a-page,
    #b,
    #h,
    #a-popover-root {
        filter: sepia(80%);
    }
}

@-moz-document domain("emojipedia.org") {
    /* Emojipedia */
    #__next,
    div.container,
    footer.page-footer.v2,
    div.sponsor,
    header.page-header,
    div.page-header-part.page-header-part--ad,
    div.topMainAd,
    #react-root {
        filter: sepia(80%);
    }
}

@-moz-document domain("flightaware.com") {
    /* FlightAware */
    #blockerDisclaimerContainer,
    #cookieDisclaimerContainer,
    #iecountdown,
    #mainBody,
    div.ac_results.fauxListWrapper,
    div.autocomplete-suggestions,
    div.select2-drop-mask,
    div.select2-drop.select2-drop-multi.select2-display-none.omnisearch_dropdown.select2-drop-active,
    div.select2-sizer,
    nav.navBarMobile,
    span.select2-hidden-accessible,
    div.ReactModalPortal {
        filter: sepia(80%);
    }
}

@-moz-document domain("espn.com"), domain("espn.com.au"), domain("espn.ph"), domain("espn.co.uk") {
    /* ESPN */
    #cboxOverlay,
    #colorbox,
    #fb-root,
    #global-viewport,
    #oneid-secure-responder,
    #oneid-wrapper,
    div.ad-slot.ad-slot-exclusions,
    div.ad-slot.ad-slot-overlay,
    div.shim {
        filter: sepia(80%);
    }
}

@-moz-document domain("metacritic.com") {
    /* Metacritic */
    #__nuxt,
    #onetrust-consent-sdk {
        filter: sepia(80%);
    }
}

@-moz-document domain("msn.com") {
    /* MSN */
    #ssr,
    #root,
    #recharts_measurement_span {
        filter: sepia(80%);
    }
}

@-moz-document regexp(".*twitch.tv\/popout.*") {
    /* Twitch popout */

    #bttvSettingsPanel,
    .chat-input,
    .chat-scrollable-area__message-container,
    .video-chat__message,
    .whispers .thread-message__message,
    div.ReactModalPortal,
    div.bttv-rs-toast-provider,
    section[data-test-selector="chat-room-component-layout"]
        .simplebar-content {
        filter: sepia(80%);
    }
}

@-moz-document domain("instructure.com") {
    /* Canvas */
    #calendar_color_style_overrides,
    #canvasplus-convo-peeker,
    #canvasplus-convo-peeker-back,
    #flash_message_holder,
    #nav-tray-portal,
    #smartscroll-padding,
    div.canvasplus-search-ui-wrapper,
    div.cpx-snackbar-container,
    div.eesy.eesy-tab2-container,
    div.event-details,
    div.ic-app,
    div.impact-sr-only,
    div.notification-container,
    div.screenreader-only,
    div.tinymce-a11y-checker-container,
    div.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all,
    div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable,
    div.event-details.carat-bottom {
        filter: sepia(80%);
    }
}

@-moz-document domain("tvtropes.org") {
    /* TV tropes */
    #fb-root,
    #main-container,
    #main-footer,
    #modal-box,
    #outer_sticky,
    #tvtropes_oop_ad_slot,
    .bw-filter,
    .i.browser-firefox,
    div.fad,
    div.mobile-on,
    header.headroom-element,
    div.full-screen {
        filter: sepia(80%);
    }
}

@-moz-document domain("github.com") {
    /* Github */
    div.logged-in.env-production.page-responsive.full-width,
    div.logged-in.env-production.page-responsive,
    div.sr-only {
        filter: sepia(80%);
    }

    html,
    .page-responsive {
        background: rgb(10, 10, 10) !important;
    }
}

@-moz-document domain("wikipedia.org") {
    /* Wikipedia + Replace Arial font */
    #p-namespaces,
    a.mw-jump-link,
    div.mw-page-container,
    div.mwe-popups.mwe-popups-type-page,
    div.vector-header-container,
    div.vector-settings,
    a.oo-ui-element-hidden {
        filter: sepia(80%);
    }
}

@-moz-document domain("stackoverflow.com"), domain("superuser.com"), domain("stackexchange.com") {
    /* StackOverflow */
    #notify-container,
    #custom-header,
    header.s-topbar.ps-fixed.t0.l0.js-top-bar,
    div.container,
    footer.site-footer.js-footer,
    div.d-none,
    #onetrust-banner-sdk,
    div.d-none.js-consent-banner-version,
    header.site-header {
        filter: sepia(80%);
    }
}

@-moz-document domain("poe.com") {
    /* Poe */
    #__next,
    div.ReactModalPortal {
        filter: sepia(80%);
    }
}

@-moz-document domain("chat.openai.com") {
    /* ChatGPT */
    #__next {
        filter: sepia(80%);
    }
}

@-moz-document domain("w3schools.com") {
    /* W3Schools */
    div.w3-bar.notranslate.w3-white,
    div.w3-hide-large,
    nav.w3-hide-small.navex,
    div.topnav.notranslate,
    div.w3-sidebar.w3-collapse,
    div.w3-main.w3-light-grey,
    a.ga-bottom,
    #pagetual-preload {
        filter: sepia(80%);
    }
}

@-moz-document domain("learn.microsoft.com") {
    /* MS Learn */
    div.header-holder.has-default-focus,
    div.mainContainer.uhf-container.uhf-container.is-full.has-default-focus,
    section.border-top.has-default-focus.is-hidden-interactive.margin-top-sm.margin-top-none,
    div.action-panel.has-default-focus {
        filter: sepia(80%);
    }
}

@-moz-document domain("wikiwand.com") {
    /* Wikiwand */
    .gallery_wrapper__1a7bM,
    article {
        filter: sepia(80%);
    }
}

@-moz-document domain("developer.mozilla.org") {
    /* Mozilla Dev */
    #root,
    #a11y-status-message {
        filter: sepia(80%);
    }
}

@-moz-document domain("symbolab.com") {
    /* Symbolab */
    #dateTimePicker,
    #fb-root,
    #force-svg,
    #hiddenData,
    #loading-spinner,
    #no-render-svg,
    #symbolabLogoPrint,
    #symbolabLogoPrint1,
    div.hide-important,
    div.nl-cookiepolicy,
    div.nl-footer.print-hide.no-select,
    div.nl-generatePdf.nl-hidden,
    div.nl-hidden.nl-generatePdf,
    div.nl-page,
    div.print-hide,
    section.nl-center,
    div.nl-hidden.page {
        filter: sepia(80%);
    }
}

@-moz-document domain("tcrf.net"), domain("mariowiki.com"), domain("ssbwiki.com"), domain("wikirby.com"), domain("splatoonwiki.org"), domain("niwanetwork.org"), domain("betawiki.net"), domain("raymanpc.com") {
    /* MediaWiki */
    .mw-mmv-image,
    .mw-mmv-post-image,
    #mw-panel,
    #mw-head,
    #mw-wrapper,
    #globalWrapper,
    a.mw-wiki-logo,
    div.mw-panel,
    div.noprint,
    div.mw-body,
    #footer,
    div.suggestions {
        filter: sepia(80%);
    }
}

@-moz-document domain("bing.com") {
    /* Bing */
	#tab_3,
    object,
    .b_clearfix,
    .HeroTab,
    .feedback-binded,
    .batg,
    p.b_algoSlug,
    #tab_1,
    .b_vlist2col,
    .b_algoRCAggreFC,
    .b_divdef,
    #mic_cont_icon,
    #sb_search,
    .mmsp,
    #sp_requery,
    #sp_recourse,
    .pagereco_CBCntr,
    .b_moreLink,
    .b_slidebar,
    .b_rc_gb_sub_cell,
    .pagereco_CBTextCard,
    .pagereco_TCntr,
    cib-serp,
    .sb_count,
    .sbiopc,
    .ptitle,
    .ent-dtab-btn,
    .scs_theme,
    .b_imagePair,
    #syd_qna_suggestion,
    .rs_chatReD,
    .b_sideBleed,
    .mc_vtvc_meta_block,
    .b_scopebar,
    #fltIdtCon,
    #imagemeta,
    #rd_gtrtb_ttl,
    #vvlb,
    .algoSlug_icon,
    .asSectionHeading,
    .b_algo > h2 > a,
    .b_algospacing,
    .b_app_common_btn,
    .b_bfbLcgAnchorText,
    .b_entityTitle,
    .b_fbText,
    .b_focusTextLarge,
    .b_focusTextMedium,
    .b_logo,
    .b_mgridTitle,
    .b_primtxt,
    .b_rc_gb_widget_title,
    .b_seeMoreCont,
    .b_topTitle,
    .b_vList,
    .b_vPanel,
    .cbtn,
    .container,
    .dest_name,
    .dg_b .infnmpt .infpd a,
    .ent-dtab-nam-ov-dtp,
    .fdbtext,
    .hb_title_col,
    .hp_body,
    .irp-video-slogan,
    .item,
    .l_ecrd_ftr_txt,
    .l_ecrd_rrct-items,
    .mc_vtvc_meta_row_channel,
    .mc_vtvc_title > span,
    .mc_vtvc_title > strong,
    .mc_vtvc_title,
    .metaItem,
    .ms-Button-label,
    .ms-search-tenantLogo-text,
    .ms-search-text-h2,
    .qna_algoLink_title,
    .rd_cCodeBg,
    .rd_code_blu,
    .rd_code_red,
    .rd_gtrtb_nav_item,
    .recommendationsTableTitle > h2,
    .rstc,
    .rwrl,
    .sa_tm_subText,
    .sb_f_count,
    .scopes,
    .scs_metactn > div h2,
    .sto_attr_header,
    .sto_attr_table,
    .sto_attrlitc,
    .sto_title,
    .tdw_button,
    .tit,
    .title,
    .tptxt,
    .v-live-t-txt,
    .vrhcpt,
    .vrhtt,
    .wpvn_ala_wtt,
    button,
    canvas,
    container-title,
    div > p span,
    h2 > span,
    h2,
    h3,
    img,
    input,
    svg,
    #sw_as {
        filter: sepia(80%);
    }
}

@-moz-document domain("geeksforgeeks.org") {
    /* GeeksForGeeks */
    div.header-main__wrapper,
    div.header-main__slider,
    button.btn.btn-success,
    div.wrapper,
    div.modal.fade,
    div.backdrop,
    footer.gfg-footer,
    div.cookie-consent.hide-consent,
    div.lightbox-target,
    #GFG_AD_Desktop_Stickyunit_1x1 {
        filter: sepia(80%);
    }
}

@-moz-document domain("forum.xda-developers.com"), domain("xdaforums.com") {
    /* XDADevelopers */
    #_qc_cookie_access,
    #pagetual-preload,
    div.menu.menu--wide.menu--right.is-active.is-complete,
    div.menuOutsideClicker,
    div.pagetual_tipsWords,
    div.tooltip.tooltip--member.tooltip--bottom,
    div.tooltip.tooltip--member.tooltip--top,
    div.tooltipCover,
    div.u-bottomFixer.js-bottomFixTarget,
    div.uix_pageWrapper--fixed,
    span.globalAction,
    #jumpToTop {
        filter: sepia(80%);
    }
}

@-moz-document domain("discord.com") {
    /* Discord */
	.username_d30d99,
    .roleMention-11Aaqi,
    .membersGroup-2eiWxl,
    .roles-3vQPxb,
    .username-3_PJ5r,
    .username-h_Y3Us,
    .username-vAneIW,
    .mention {
        filter: sepia(80%);
    }
}

@-moz-document domain("knowyourmeme.com") {
    /* KnowYourMeme */
    #cboxOverlay,
    #container,
    #footer,
    #split-test,
    #sub_network_footer_wrapper,
    .r-top-block,
    div.header-unit-wrapper,
    div.hide,
    div.ui-helper-hidden-accessible,
    div.x_brb6.c,
    img,
    ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front,
    #pagetual-preload {
        filter: sepia(80%);
    }
}

@-moz-document domain("codeberg.org") {
    /* Codeberg */
    div.full.height,
    footer.page-footer {
        filter: sepia(80%);
    }
}

@-moz-document domain("docs.oracle.com") {
    /* Oracle docs */
    div.bottomNav,
    div.contentContainer,
    div.header,
    div.subNav,
    div.topNav,
    p.legalCopy,
    #footer-banner {
        filter: sepia(80%);
    }
}

@-moz-document domain("yahoo.com") {
    /* Yahoo */
    #HPSPON-ad,
    #Header,
    #Masterwrap,
    #advertisement-thamba,
    #doc,
    #pagetual-preload,
    #sa-feedback-panel,
    #yui3-css-stamp,
    div.darla,
    div.hide,
    div.sa-aria-live-region,
    div.uh3-p,
    div.uh3-p.uh3lite,
    div.wafer-lightbox-overlay,
    div.wafer-template,
    div.yui3-widget.yui3-safesearch.hide,
    div._yb_1ayze._yb_2ahyx {
        filter: sepia(80%);
    }
}

@-moz-document domain("baeldung.com") {
    /* Baeldung */
    #fvp,
    #wrap {
        filter: sepia(80%);
    }
}
@-moz-document domain("17track.net") {
    /* 17track */
    #topBillboard,
    div.back-top,
    div.s-app,
    footer.footer,
    header.header,
    header.navbar.navbar-default.yq-header.yq-header-v3,
    iframe.jcTrackIframe,
    main.page.animsition,
    ul.hide,
    div.modal.modal-primary.yqc-modal {
        filter: sepia(80%);
    }
}

@-moz-document domain("weibo.com") {
    /* Weibo */
    #__SVG_SPRITE_NODE,
    #app {
        filter: sepia(80%);
    }
}

@-moz-document domain("wordcounter.net") {
    /* WordCounter */
    #globalPreloader,
    #fb-root,
    #data-block,
    div.navbar.navbar-default.navbar-static-top,
    div.modal.fade,
    div.container,
    #wc_footer,
    #rufous-sandbox {
        filter: sepia(80%);
    }
}

@-moz-document domain("duckduckgo.com") {
	/* DuckDuckGo */
	.site-wrapper {
		filter: sepia(80%); 
	}
}