/* ==UserStyle==
@name           color
@namespace      github.com/openstyles/stylus
@version        2.2.3
@description    If it's filter: , it's here
@author         Zerohazard8x
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/grayscale.user.styl
@homepageURL    https://github.com/Zerohazard8x/custom/tree/main/stylus
==/UserStyle== */

@-moz-document domain("facebook.com"), domain("messenger.com"), domain("instagram.com") {
    #mount_0_0_CV,
    #mount_0_0_KX,
    #mount_0_0_R5,
    #mount_0_0_ff,
    #mount_0_0_ui,
    #splash-screen,
    div.AdBox.Ad.advert.post-ads,
    div._li,
    div.download_link_sponsored,
    div.fb_reset,
    div.widgetSponsors,
    iframe.MAWOembedIframe,
    div.ob-hover {
        filter: sepia(60%);
    }
}

@-moz-document domain("google.com") {
    c-wiz
        > div:not(c-wiz > div.h8plyb):not(c-wiz > div.ELfUzc):not(
            c-wiz > div.b2YVqc
        ),
    #Rvx4kc,
    #_2mOxZN2bHsP8hwP9q7jwBQ_1,
    #_2mOxZN2bHsP8hwP9q7jwBQ_55,
    #__HC_94253229,
    #drive_hist_frame,
    #drive_hist_state,
    #drive_main_page,
    #gac_scont,
    #goog-lr-150,
    #goog-lr-151,
    #goog-lr-160,
    #goog-lr-161,
    #goog-lr-270,
    #goog-lr-543,
    #hfcr,
    #lb,
    #lfootercc,
    #pagetual-preload,
    #snbc,
    #xUserInfo,
    c-wiz.zQTmif.SSPGKf,
    c-wiz.zQTmif.SSPGKf.O5K2Vd,
    c-wiz.zQTmif.SSPGKf.nELLM,
    div.CvDJxb,
    div.DH7hPe,
    div.Fgvgjc,
    div.L3eUgb,
    div.MVPoib,
    div.MdVxQe,
    div.T1diZc.KWE8qe,
    div.UkZxse,
    div.VUoKZ,
    div.VfPpkd-suEOdc.EY8ABd,
    div.VfPpkd-suEOdc.EY8ABddiv.gb_q,
    div.ZACE2c.vMI2nb.dif24c.vhoiae.KkxPLb,
    div.ZACE2c.vMI2nb.dif24c.vhoiae.KkxPLb.eO2Zfd,
    div.a-Cd.Hb-ja-hc.a-Cd-Na,
    div.a-b.a-b-ja-el-db.dif24c.bvmRsc.a-b-Oe-n.a-b-L.a-b-uoC0bf.vhoiae.KkxPLb,
    div.a-ie-Vq-bb-ta,
    div.a-pk,
    div.bJZIjf,
    div.cdk-describedby-message-container.cdk-visually-hidden,
    div.cdk-live-announcer-element.cdk-visually-hidden,
    div.cdk-overlay-container,
    div.e0yuIb,
    div.fp-nh,
    div.g-Yd.a-la-B.a-Ff-B.g-Yd-Ya,
    div.g-Yd.g-Yd-Ya.a-la-B.a-Ff-B,
    div.gb_Fe,
    div.gb_Hc,
    div.gb_He,
    div.gb_Ie,
    div.gb_Kc,
    div.gb_Uc,
    div.gb_bd,
    div.gb_ed,
    div.gb_jd,
    div.gb_kd,
    div.gb_ld,
    div.gb_n,
    div.gb_od,
    div.gb_q,
    div.gb_se,
    div.gb_te,
    div.gb_ue,
    div.gb_ve,
    div.gb_we,
    div.gb_xe,
    div.h-w.h-w-Xi.a-w,
    div.h-w.h-w-Xi.a-w.a-mb-w,
    div.jAwdKb.seKsf,
    div.lb-k-Qc,
    div.lb-k.ea-Rc-k.Dn-Ti-ea-Rc-k.fc-a-ea-Rc-k.ea-Rc-pk,
    div.lb-k.ea-Rc-wa-k,
    div.main,
    div.pGxpHc,
    div.rUCtP,
    div.tEhMVd,
    div.uRjBf,
    div.wYq63b,
    div.ynRLnc,
    h1.Uo8X3b.OhScic.zsYMMe,
    header.gb_Ha.gb_8a.gb_Ld.gb_jd.gb_ed.gb_Rc.gb_k,
    iframe.lb-k-Qc,
    span.a-b-ra-no,
    span.a-b-ra-no,
    span.kpshf.line.gsr.bilit.big.mdm,
    textarea.csi,
    div.MCcOAc.IqBfM.ecJEib.EWZcud.cjGgHb.d8Etdd.LcUz9d {
        filter: sepia(60%);
    }

    #cnt,
    .SGWAac,
    .L3eUgb {
        background: #202124 !important;
    }
}

@-moz-document domain("nitter.net"), domain("nitter.riverside.rocks"), domain("nitter.tiekoetter.com"), domain("twt.funami.tech"), domain("nitter.privacydev.net") {
    /* Nitter */
    div.container,
    .container,
    .tweet-content,
    .site-name,
    button,
    select,
    input {
        filter: sepia(60%);
    }
}

@-moz-document domain("inv.riverside.rocks"),domain("invidious.tiekoetter.com"),domain("yt.funami.tech"),domain("yewtu.be") {
    /* Invidious */
    div.pure-g,
    #dark_mode_pref {
        filter: sepia(60%);
    }
}

@-moz-document domain("deepl.com") {
    #dl_mobile_iOS_app_banner,
    header.dl_header.dl_header--sticky,
    div.dl_translator_page_container,
    #modalPortal,
    #blockModalPortal,
    div.dl_footerV2_container,
    #dl_cookieBanner,
    #deepl-ui-tooltip-portal,
    #summarize-modal-container,
    div.sr-only {
        filter: sepia(60%);
    }
}

@-moz-document domain("cagematch.net") {
    .TemplateBody {
        filter: sepia(60%);
    }
}

@-moz-document domain("quora.com") {
    #credential_picker_container,
    #onetap_google_intermediate_iframe,
    #root,
    #staticError {
        filter: sepia(60%);
    }
}

@-moz-document domain("steampowered.com") {
    div.miniprofile_hover,
    div.responsive_page_frame.with_header,
    div.FullModalOverlay {
        filter: sepia(60%);
    }
}

@-moz-document domain("soranews24.com"), domain("rocketnews24.com") {
    #container,
    #div-gpt-ad-oop,
    #fb-root,
    #rufous-sandbox,
    #likes-master,
    #likes-other-gravatars,
    #wrapper,
    div.ad-sticky,
    #pagetual-preload {
        filter: sepia(60%);
    }

    body {
        background: #a94e44 !important;
    }
}

@-moz-document domain("amazon.com"), domain("amazon.co.jp"), domain("amazon.in") {
    #a-page,
    #b,
    #h,
    #a-popover-root {
        filter: sepia(60%);
    }
}

@-moz-document domain("emojipedia.org") {
    #__next,
    div.container,
    footer.page-footer.v2,
    div.sponsor,
    header.page-header,
    div.page-header-part.page-header-part--ad,
    div.topMainAd,
    #react-root {
        filter: sepia(60%);
    }
}

@-moz-document domain("flightaware.com") {
    #blockerDisclaimerContainer,
    #cookieDisclaimerContainer,
    #iecountdown,
    #mainBody,
    div.ac_results.fauxListWrapper,
    div.autocomplete-suggestions,
    div.select2-drop-mask,
    div.select2-drop.select2-drop-multi.select2-display-none.omnisearch_dropdown.select2-drop-active,
    div.select2-sizer,
    nav.navBarMobile,
    span.select2-hidden-accessible,
    div.ReactModalPortal {
        filter: sepia(60%);
    }
}

@-moz-document domain("espn.com"), domain("espn.com.au"), domain("espn.ph"), domain("espn.co.uk") {
    #cboxOverlay,
    #colorbox,
    #fb-root,
    #global-viewport,
    #oneid-secure-responder,
    #oneid-wrapper,
    div.ad-slot.ad-slot-exclusions,
    div.ad-slot.ad-slot-overlay,
    div.shim {
        filter: sepia(60%);
    }
}

@-moz-document domain("metacritic.com") {
    #__nuxt,
    #onetrust-consent-sdk {
        filter: sepia(60%);
    }
}

@-moz-document domain("msn.com") {
    #ssr,
    #root,
    #recharts_measurement_span {
        filter: sepia(60%);
    }
}

@-moz-document regexp(".*twitch.tv\/popout.*") {
    /* Twitch popout */
    #bttvSettingsPanel,
    .chat-input,
    .chat-scrollable-area__message-container,
    .video-chat__message,
    .whispers .thread-message__message,
    div.ReactModalPortal,
    div.bttv-rs-toast-provider,
    section[data-test-selector="chat-room-component-layout"]
        .simplebar-content {
        filter: sepia(60%);
    }
}

@-moz-document domain("instructure.com") {
    /* Canvas */
    .css-kryo2y-view-listItem,
    #calendar_color_style_overrides,
    #canvasplus-convo-peeker,
    #canvasplus-convo-peeker-back,
    #flash_message_holder,
    #smartscroll-padding,
    div.canvasplus-search-ui-wrapper,
    div.cpx-snackbar-container,
    div.eesy.eesy-tab2-container,
    div.event-details,
    div.ic-app,
    div.impact-sr-only,
    div.notification-container,
    div.screenreader-only,
    div.tinymce-a11y-checker-container,
    div.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all,
    div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable,
    div.event-details.carat-bottom {
        filter: sepia(60%);
    }
}

@-moz-document domain("tvtropes.org") {
    #fb-root,
    #main-container,
    #main-footer,
    #modal-box,
    #outer_sticky,
    #tvtropes_oop_ad_slot,
    .bw-filter,
    .i.browser-firefox,
    div.fad,
    div.mobile-on,
    header.headroom-element,
    div.full-screen {
        filter: sepia(60%);
    }
}

@-moz-document domain("github.com") {
    div.logged-in.env-production.page-responsive.full-width,
    div.logged-in.env-production.page-responsive,
    div.sr-only {
        filter: sepia(60%);
    }

    html,
    .page-responsive {
        background: #0d1117 !important;
    }
}

@-moz-document domain("wikipedia.org") {
    #p-namespaces,
    a.mw-jump-link,
    div.mw-page-container,
    div.mwe-popups.mwe-popups-type-page,
    div.vector-header-container,
    div.vector-settings,
    a.oo-ui-element-hidden {
        filter: sepia(60%);
    }
}

@-moz-document domain("stackoverflow.com"), domain("superuser.com"), domain("stackexchange.com") {
    #notify-container,
    #custom-header,
    header.s-topbar.ps-fixed.t0.l0.js-top-bar,
    div.container,
    footer.site-footer.js-footer,
    div.d-none,
    #onetrust-banner-sdk,
    div.d-none.js-consent-banner-version,
    header.site-header {
        filter: sepia(60%);
    }
}

@-moz-document domain("poe.com") {
    #__next,
    div.ReactModalPortal {
        filter: sepia(60%);
    }
}

@-moz-document domain("chat.openai.com") {
    #__next {
        filter: sepia(60%);
    }
}

@-moz-document domain("w3schools.com") {
    div.w3-bar.notranslate.w3-white,
    div.w3-hide-large,
    nav.w3-hide-small.navex,
    div.topnav.notranslate,
    div.w3-sidebar.w3-collapse,
    div.w3-main.w3-light-grey,
    a.ga-bottom,
    #pagetual-preload {
        filter: sepia(60%);
    }
}

@-moz-document domain("learn.microsoft.com") {
    div.action-panel.has-default-focus,
    div.header-holder.has-default-focus,
    div.mainContainer.background-color-body.has-default-focus,
    div.mainContainer.uhf-container.has-default-focus,
    div.mainContainer.uhf-container.uhf-container.is-full.has-default-focus,
    div.position-fixed.bottom-0.right-0.has-z-index-one
        footer.footer-layout.uhf-container.has-padding.has-default-focus,
    section.border-top.has-default-focus.is-hidden-interactive.margin-top-sm,
    section.border-top.has-default-focus.is-hidden-interactive.margin-top-sm.margin-top-none {
        filter: sepia(60%);
    }
}

@-moz-document domain("wikiwand.com") {
    .gallery_wrapper__1a7bM,
    article {
        filter: sepia(60%);
    }
}

@-moz-document domain("developer.mozilla.org") {
    #root,
    #a11y-status-message {
        filter: sepia(60%);
    }
}

@-moz-document domain("symbolab.com") {
    #dateTimePicker,
    #fb-root,
    #force-svg,
    #hiddenData,
    #loading-spinner,
    #no-render-svg,
    #symbolabLogoPrint,
    #symbolabLogoPrint1,
    div.hide-important,
    div.nl-cookiepolicy,
    div.nl-footer.print-hide.no-select,
    div.nl-generatePdf.nl-hidden,
    div.nl-hidden.nl-generatePdf,
    div.nl-page,
    div.print-hide,
    section.nl-center,
    div.nl-hidden.page {
        filter: sepia(60%);
    }
}

@-moz-document domain("tcrf.net"), domain("mariowiki.com"), domain("ssbwiki.com"), domain("wikirby.com"), domain("splatoonwiki.org"), domain("niwanetwork.org"), domain("betawiki.net"), domain("raymanpc.com"), domain("remywiki.com") {
    .mw-mmv-image,
    .mw-mmv-post-image,
    #mw-panel,
    #mw-head,
    #mw-wrapper,
    #globalWrapper,
    a.mw-wiki-logo,
    div.mw-panel,
    div.noprint,
    div.mw-body,
    #footer,
    div.suggestions {
        filter: sepia(60%);
    }
}

@-moz-document domain("bing.com") {
    .b_hList > * > a > span,
    .compInfo,
    .b_lmLocal,
    .b_title > h2 > a,
    .b_topTitle > a,
    .l_ecrd_ttl,
    .l_ecrd_wptfcts_row,
    .l_ecrd_simgset_item,
    .sgt,
    .b_wpt_bl > h2 > a,
    .nws_sh > h2 > a,
    .rrr_tedtinstlink,
    .b_wpt_chat,
    .vsb_tr_t,
    .b_mgridTitle > a,
    .b_seeMoreCont > a,
    .rd_single,
    .mmtitle,
    .coll_vc > h2,
    .prmb_title,
    .lisn_sm > a,
    .cCodeBg,
    #tab_6 > a,
    .slide:not(.b_slidebar > .slide),
    .rms_img:not(.slide > * > * > * > .rms_img):not(
            .rd_tb_cnt_mdata > * > .rms_img
        ):not(.cico > .rms_img):not(.cico > * > .rms_img):not(
            .itm_img > .rms_img
        ),
    .b_algo_group > h2 > a,
    .b_algo_group > div > h2 > a,
    cite:not(.b_attribution > cite),
    .rrr_teSeeMore,
    .rrrter_teTitleCnt,
    #sb_go_par,
    #sbi_b,
    .b_logo,
    .b_mopexpref,
    .b_traits,
    .cico:not(.l_ecrd_imgpair_img > .cico):not(.slide > * > .cico):not(
            .simg > * > .cico
        ):not(.l_ecrd_simgset_item > * > .cico):not(
            .l_ecrd_bt_rings_img > .cico
        ):not(.dataoffset > .cico):not(.l_ecrd_c2_img > .cico):not(
            .as_pasf_data > * > .cico
        ),
    .deeplink_title,
    .exploreAns,
    .fd-itm,
    .imgContainer,
    .lite-entcard-ans,
    .mic_icon,
    .mimg,
    .sa_as,
    .siteicon > .rms_img,
    gb-button,
    #fltIdtCon,
    #imagemeta,
    #rd_gtrtb_ttl,
    #sp_recourse,
    #sp_requery,
    #syd_qna_suggestion,
    #tab_1,
    #tab_3,
    #vvlb,
    .HeroTab,
    .algoSlug_icon,
    .asSectionHeading,
    .b_algo > h2 > a,
    .b_algoRCAggreFC,
    .b_algospacing,
    .b_app_common_btn,
    .b_bfbLcgAnchorText,
    .b_clearfix,
    .b_divdef,
    .b_entityTitle,
    .b_fbText,
    .b_focusTextLarge,
    .b_focusTextMedium,
    .b_imagePair,
    .b_moreLink,
    .b_rc_gb_sub_cell,
    .b_scopebar,
    .b_vlist2col,
    .batg,
    .ent-dtab-btn,
    .feedback-binded,
    .mc_vtvc_meta_block,
    .mmsp,
    .pagereco_CBTextCard,
    .pagereco_TCntr,
    .ptitle,
    .rs_chatReD,
    .sb_count,
    .sbiopc,
    .scs_theme,
    cib-serp,
    object,
    p.b_algoSlug {
        filter: sepia(60%);
    }
}

@-moz-document domain("geeksforgeeks.org") {
    div.header-main__wrapper,
    div.header-main__slider,
    button.btn.btn-success,
    div.wrapper,
    div.modal.fade,
    div.backdrop,
    footer.gfg-footer,
    div.cookie-consent.hide-consent,
    div.lightbox-target,
    #GFG_AD_Desktop_Stickyunit_1x1 {
        filter: sepia(60%);
    }
}

@-moz-document domain("forum.xda-developers.com"), domain("xdaforums.com") {
    #_qc_cookie_access,
    #pagetual-preload,
    div.menu.menu--wide.menu--right.is-active.is-complete,
    div.menuOutsideClicker,
    div.pagetual_tipsWords,
    div.tooltip.tooltip--member.tooltip--bottom,
    div.tooltip.tooltip--member.tooltip--top,
    div.tooltipCover,
    div.u-bottomFixer.js-bottomFixTarget,
    div.uix_pageWrapper--fixed,
    span.globalAction,
    #jumpToTop {
        filter: sepia(60%);
    }
}

@-moz-document domain("discord.com") {
    .roleMention__02469,
    .username_d30d99,
    .roleMention-11Aaqi,
    .membersGroup-2eiWxl,
    .roles-3vQPxb,
    .username-3_PJ5r,
    .username-h_Y3Us,
    .username-vAneIW,
    .name__4c9aa,
    .username__73ce9,
    .mention {
        filter: sepia(60%);
    }
}

@-moz-document domain("knowyourmeme.com") {
    #cboxOverlay,
    #container,
    #footer,
    #split-test,
    #sub_network_footer_wrapper,
    .r-top-block,
    div.header-unit-wrapper,
    div.hide,
    div.ui-helper-hidden-accessible,
    div.x_brb6.c,
    img,
    ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front,
    #pagetual-preload {
        filter: sepia(60%);
    }
}

@-moz-document domain("codeberg.org") {
    div.full.height,
    footer.page-footer {
        filter: sepia(60%);
    }
}

@-moz-document domain("docs.oracle.com") {
    div.bottomNav,
    div.contentContainer,
    div.header,
    div.subNav,
    div.topNav,
    p.legalCopy,
    #footer-banner {
        filter: sepia(60%);
    }
}

@-moz-document domain("yahoo.com") {
    #HPSPON-ad,
    #Header,
    #Masterwrap,
    #advertisement-thamba,
    #doc,
    #pagetual-preload,
    #sa-feedback-panel,
    #yui3-css-stamp,
    div.darla,
    div.hide,
    div.sa-aria-live-region,
    div.uh3-p,
    div.uh3-p.uh3lite,
    div.wafer-lightbox-overlay,
    div.wafer-template,
    div.yui3-widget.yui3-safesearch.hide,
    div._yb_1ayze._yb_2ahyx {
        filter: sepia(60%);
    }
}

@-moz-document domain("baeldung.com") {
    #fvp,
    #wrap {
        filter: sepia(60%);
    }
}

@-moz-document domain("weibo.com") {
    #__SVG_SPRITE_NODE,
    #app {
        filter: sepia(60%);
    }
}

@-moz-document domain("wordcounter.net") {
    #globalPreloader,
    #fb-root,
    #data-block,
    div.navbar.navbar-default.navbar-static-top,
    div.modal.fade,
    div.container,
    #wc_footer,
    #rufous-sandbox {
        filter: sepia(60%);
    }
}

@-moz-document domain("duckduckgo.com") {
    #web_content_wrapper,
    .header__search-wrap {
        filter: sepia(60%);
    }
}

@-moz-document domain("gsmarena.com") {
    div.image-gallery,
    div.l-container,
    header.row.open.slide.headroom--not-top.slide--reset,
    header.row.slide.slide--reset.headroom--top,
    header.row.slide.headroom--top,
    div.price-balloon,
    #pagetual-preload {
        filter: sepia(60%);
    }
}

@-moz-document domain("hupu.com") {
    #__next,
    #pagetual-preload,
    #container {
        filter: sepia(60%);
    }
}

@-moz-document domain("ecosia.org") {
    .layout {
        filter: sepia(60%);
    }
}

@-moz-document domain("17track.net") {
    #topBillboard,
    div.modal.modal-primary.yqcr-modal-translate.in,
    div.page,
    header.navbar.navbar-default.yq-header.yq-header-v3,
    div.modal.modal-primary.yqc-modal, #topBillboard, header.navbar.navbar-default.yq-header.yq-header-v3, div.page, div.modal.modal-primary.yqcr-modal-translate.in, div.modal.modal-primary.yqc-modal, div.modal.modal-warning.yqcr-verification.in, div.modal-backdrop.in {
        filter: sepia(60%);
    }
}

@-moz-document domain("reddit.com") {
    ._31N0dvxfpsO6Ur5AKx4O5d, ._2vkeRJojnV7cb9pMlPHy7d, ._2uYY-KeuYHKiwl-9aF0UiL > div, #overlayScrollContainer, .single-page {
        filter: sepia(60%);
    }
}

@-moz-document regexp(".*youtube.com\/live_chat.*") {
	.yt-live-chat-renderer {
		filter: sepia(60%);
	}
}