/* ==UserStyle==
@name           MacType grayscale rendering fix + other fixes
@namespace      github.com/openstyles/stylus
@version        1.0.3
@description    https://github.com/snowie2000/mactype/issues/873 + https://userstyles.world/style/7484
@author         github "snowie2000" + zerohazard8x + LLM
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/mactype.user.styl
@homepageURL    https://github.com/Zerohazard8x/custom/tree/main/stylus
==/UserStyle== */

/* Ligatures */
/* body {
    font-variant-ligatures: common-ligatures, contextual !important;
}
.example1 {
    -webkit-font-feature-settings: "liga", "calt" !important;
    -moz-font-feature-settings: "liga", "calt" !important;
    -o-font-feature-settings: "liga", "calt" !important;
    font-feature-settings: "liga", "calt" !important;
} */


/* Readable characters (slashed zero, numbers of equal height, serif I) */
/* .example1 {
    -webkit-font-feature-settings: "lnum" 1, "tnum" 1, "ss01" 1, "ss06" 1 !important;
    -moz-font-feature-settings: "lnum" 1, "tnum" 1, "ss01" 1, "ss06" 1 !important;
    -o-font-feature-settings: "lnum" 1, "tnum" 1, "ss01" 1, "ss06" 1 !important;
    font-feature-settings: "lnum" 1, "tnum" 1, "ss01" 1, "ss06" 1 !important;
}
.example2 {
    font-variant-numeric: lining-nums tabular-nums slashed-zero !important;
} */

@-moz-document regexp(".*") {
    *:not(pre, pre *, code, .far, .fa, .glyphicon, [class*="vjs-"], .fab, .fa-github, .fas, .material-icons, .icofont, .typcn, mu, [class*="mu-"], .glyphicon, .icon) {
        -webkit-font-smoothing: antialiased !important; /* for WebKit browsers */
        -moz-osx-font-smoothing: grayscale !important; /* for Firefox */
        -ms-font-smoothing: antialiased !important; /* for IE */
        text-rendering: optimizeLegibility !important;
    }
}

@-moz-document regexp("((?!bing\.com|reddit\.com).)*") {
    /* MacType fix */
    /* Syntax: "((?!bing\.com|dubz\.co|reddit\.com|tweetdeck\.twitter\.com).)*" */
    html,
    body,
    :root {
        filter: opacity(100%) !important;
    }
}
