/* ==UserStyle==
@name           monospace
@namespace      github.com/openstyles/stylus
@version        2.12.7
@description    My personal changes to monospace fonts, etc
@author         Zerohazard8x LLM
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/monospace.user.css
@homepageURL    https://github.com/Zerohazard8x/custom/tree/main/stylus
==/UserStyle== */

@-moz-document domain("github.com") {
    :root {
        --fontStack-monospace: __monaspaceNeon_4fcba3,
            __monaspaceNeon_Fallback_4fcba3, "Monaspace Neon Var",
            "Monaspace Neon VF", "Monaspace Neon", ui-monospace, SFMono-Regular,
            SF Mono, Menlo, Consolas, Liberation Mono, monospace,
            var(--foreign, "");
    }

    .PageHeader .PageHeader-titleWrap.PageHeader-titleWrap--medium,
    body,
    .markdown-body {
        font-family: "Mona Sans", "Mona Sans Header Fallback", -apple-system,
            BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial,
            sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
            var(--foreign, "") !important;
    }

    code,
    kbd,
    pre,
    samp {
        font-family: __monaspaceNeon_4fcba3, __monaspaceNeon_Fallback_4fcba3,
            "Monaspace Neon Var", "Monaspace Neon VF", "Monaspace Neon",
            monospace, var(--foreign, "") !important;
    }

    .react-blob-print-hide {
        font-family: __monaspaceNeon_4fcba3, __monaspaceNeon_Fallback_4fcba3,
            "Monaspace Neon Var", "Monaspace Neon VF", "Monaspace Neon",
            ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
            "Liberation Mono", monospace, var(--foreign, "") !important;
    }
}

@-moz-document domain("wikipedia.org") {
    @media screen {
        html,
        body {
            font-family: sans-serif, var(--foreign, "") !important;
        }
    }

    body {
        font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
            "Inter", "Helvetica", "Arial", sans-serif, var(--foreign, "");
    }

    /* matches all with class containing heading */
    /* ... i] means case insensitive*/
    blockquote,
    .pre-content h1,
    .content h1,
    [class*="heading" i],
    .content h2 {
        font-family: "Linux Libertine", "Georgia", "Times", "Source Serif Pro",
            serif, var(--foreign-serif, "") !important;
    }

    @media screen {
        [class*="heading" i],
        .mw-body h1,
        .mw-body-content h1,
        .mw-body-content h2 {
            font-family: "Linux Libertine", "Georgia", "Times",
                "Source Serif Pro", serif, var(--foreign-serif, "") !important;
        }
    }

    .monospaced,
    .diff tbody tr * *,
    code,
    pre span {
        font-family: var(--mono, ""), monospace, var(--foreign, "") !important;
    }
}

@-moz-document domain("reddit.com"),
domain("undelete.pullpush.io") {
    shreddit-ad-post .feed-card-text-preview *,
    shreddit-post:not([view-context="BrandPostPerformanceFeed"])
        .feed-card-text-preview
        :not(ol, ul, li, h1),
    .button,
    h3,
    body,
    #search input[type="text"],
    .flat-vert.title,
    :root,
    button,
    html,
    input,
    select,
    .side .titlebox .md,
    .comments-page .commentarea .menuarea,
    .comments-page .panestack-title,
    .entry .buttons li a,
    .entry .buttons li,
    .linkinfo,
    .side .md * {
        font-family: var(--noto, ""), "Noto Sans", NotoSans,
            var(
                --font-sans,
                'var(--sans, ""), verdana, arial, helvetica, sans-serif'
            ),
            var(--foreign, "") !important;
        /* --font-18: normal undefined null/null var(--font-sans); */
    }

    div.prefixedName.font-bold.truncate.mr-xs,
    h1,
    #header-bottom-left .tabmenu,
    .link .title,
    .entry .tagline,
    .flair,
    .titlebox .usertext a,
    .side::after,
    a:not(.content li a):not(* p a):not(.bottom a):not(
            ._1a_HxF03jCyxnx706hQmJR a
        ):not(.comments):not(.post-sharing-button):not(.login-required a):not(
            form span a
        ):not(._3t5uN8xUmg0TOwRCOGQEcU) {
        font-family: IBMPlexSans, var(--plex, ""), Lato, var(--noto, ""),
            "Noto Sans", NotoSans, var(--font-sans, ""), var(--foreign, "") !important;
    }

    .md pre,
    code,
    #shortlink-text {
        font-family: var(--mono, ""), monospace, var(--foreign, "") !important;
    }

    ._34q3PgLsx9zIU5BiSOjFoM {
        font-family: var(--mono, ""), Noto Mono, Monaco, Consolas, monospace,
            var(--foreign, "") !important;
    }
}

@-moz-document domain("stackoverflow.com"),
domain("superuser.com"),
domain("stackexchange.com") {
    body.unified-theme *,
    html,
    body {
        --ff-sans: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted",
            "Segoe UI", "Liberation Sans", sans-serif, var(--foreign, "");
        --theme-body-font-family: var(--ff-sans);
        --theme-post-body-font-family: var(--ff-sans);
        --ff-mono: var(--mono, ""), ui-monospace, "Cascadia Mono",
            "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas,
            monospace, var(--foreign, "");
    }
}

@-moz-document domain("chatgpt.com") {
    :host,
    html,
    .font-sans {
        font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI,
            Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue,
            Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
            Noto Color Emoji, ui-sans-serif, -apple-system, system-ui, Segoe UI,
            Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji,
            Segoe UI Symbol, var(--foreign, "") !important;
    }

    code,
    pre {
        font-family: var(--mono, ""), Söhne Mono, Monaco, Andale Mono,
            Ubuntu Mono, monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo,
            Consolas, Liberation Mono, monospace, var(--foreign, "") !important;
    }
}

@-moz-document domain("w3schools.com") {
    .w3-code,
    .language-java,
    .w3-codespan {
        font-family: var(--mono, ""), Consolas, "Source Code Pro", Menlo, Monaco,
            "Andale Mono", "Ubuntu Mono", monospace, var(--foreign, "") !important;
    }
}

@-moz-document domain("tcrf.net"),
domain("mariowiki.com"),
domain("ssbwiki.com"),
domain("wikirby.com"),
domain("splatoonwiki.org"),
domain("niwanetwork.org"),
domain("betawiki.net"),
domain("raymanpc.com"),
domain("remywiki.com"),
domain("consolemods.org"),
domain("wiktionary.org"),
domain("minecraft.wiki"),
domain("pcgamingwiki.com"),
domain("liquipedia.net"),
domain("deskthority.net") {
    /* 	MediaWiki */
    .mw-editsection,
    .mediawiki,
    #sidebar,
    h3 {
        font-family: var(--sans, ""), "Open Sans", "Helvetica Neue", Helvetica,
            "Liberation Sans", Arial, Helvetica, FreeSans, sans-serif,
            var(--foreign, "") !important;
    }

    .mw-editsection {
        font-family: var(--sans, ""), var(--foreign, ""), sans-serif !important;
    }

    input {
        font-family: var(--sans, ""), "MS Shell Dlg 2" !important;
    }

    .pBody {
        font-family: var(--sans, ""), verdana, var(--foreign, ""), sans-serif !important;
    }

    #personal h2 {
        font-family: var(--sans, ""), "Helvetica Neue", "Nimbus Sans",
            "Helvetica", "Arial" !important;
    }

    /* applies to e.g. <span lang="ja"> */
    :lang(zh),
    :lang(ja),
    :lang(ko) {
        font-family: var(--sans, ""), var(--foreign, ""), sans-serif !important;
    }

    h1,
    h2 {
        font-family: var(--serif, ""), "Linux Libertine", "Georgia", "Times",
            serif, var(--foreign, "") !important;
    }

    .template-infotable-monospace,
    code,
    tt,
    .mw-parser-output pre {
        font-family: var(--mono, ""), monospace, var(--foreign, "") !important;
    }

    p span b:not(.Latn) {
        font-family: var(--mono, ""), Consolas, DejaVu Sans Mono,
            Droid Sans Mono, Lucida Console, Courier New, monospace,
            var(--foreign, "") !important;
    }
}

@-moz-document regexp("^.*www\.google\.com.*"),
regexp("^(?!.*(\w+\.google\.com)).*google\.com.*") {
    /* Google */
    /* Regex excludes e.g. mail.google.com */
    /* Combined: ^(?:.*www\.google\.com.*|(?!.*(\w+\.google\.com)).*google\.com.*) */
    :root {
        --google: "Google Sans Text", "Roboto Flex", Roboto, "Roboto Draft",
            RobotoDraft, Roboto-Regular;
    }

    .jEYSNd .qXOWAb,
    .cHQvTb,
    .IVvPP .zloOqf,
    #rhs .ss6qqb .zloOqf,
    .IFvyDb.hb8SAc,
    .iAIpCb,
    .wHYlTd,
    .tNxQIb,
    .og3lId,
    .GdCiyb,
    .M2qv4b,
    html,
    body,
    h1,
    .VwiC3b,
    .BwPElf .toI8Rb,
    .Pqkn2e,
    .g,
    .e9EfHf,
    .gb_Kd,
    .lJ9FBc input[type="submit"],
    .gbqfba,
    textarea.gLFyf,
    .GGYY2b,
    .HK7bjf,
    .HaXvv,
    .HmPpvd,
    .IVvPP .WY0eLb .XaIwc,
    .JMWMJ,
    .L3eUgb,
    .LGwnxb,
    .MBeuO,
    .NUnG9d,
    .NhRr3b,
    .Or3oFf,
    .PlQycd,
    .QMh54c,
    .QgaiDb,
    .SmBdrc,
    .T4LgNb,
    .VP31Vb,
    .W7GCoc,
    .YrbPuc,
    .ZU8Abc,
    .ZkkK1e,
    .ZwRhJd {
        font-family: "Google Sans Text", var(--google, ""), Roboto, RobotoDraft,
            Helvetica, "Helvetica Neue", HelveticaNeue, Arial,
            var(--foreign, ""), sans-serif !important;
    }

    /* Force Google Sans (if available) */
    .CVxCqb,
    .JgzqYd,
    .cUnQKe .ILfuVd,
    .cUnQKe .UiGGAb.ILfuVd,
    .w5mTAe .ILfuVd,
    .cNacUd,
    .ALPRDc,
    .fm06If .ILfuVd,
    .c2xzTb .ILfuVd,
    .Jb0Zif .c2xzTb .ILfuVd,
    .di3YZe,
    .CSkcDe,
    .related-question-pair div.iDjcJe,
    .IFnjPb,
    .GvPZzd,
    .VuuXrf,
    .sjVJQd,
    .a-no-hover-decoration,
    .GLcBOb,
    #result-stats {
        font-family: "Google Sans", "Google Sans Text", var(--google, ""),
            Roboto, RobotoDraft, Helvetica, "Helvetica Neue", HelveticaNeue,
            Arial, var(--foreign, ""), sans-serif !important;
    }

    .YmvwI,
    .FMKtTb {
        font-family: Google Sans, "Google Sans Text", var(--google, ""), Roboto,
            RobotoDraft, Helvetica, "Helvetica Neue", HelveticaNeue, Arial,
            var(--foreign, ""), sans-serif-medium, sans-serif !important;
    }

    .googlegpt pre,
    #googlegpt-chatbar,
    .markdown p code,
    div.otByu div.cwqNnb span.BFlQMb {
        font-family: "Google Sans Mono", var(--mono, ""), var(--foreign, ""),
            monospace !important;
    }

    .sfbg,
    .appbar {
        background: none !important;
    }

    #promo-inline-card,
    #OotqVd,
    #helpful,
    #personalized,
    #secure,
    .RB2q5e.OSrXXb.oYWfcb.GTERze,
    .footer,
    .gacct-section.gacct-hero-feature,
    .gb_Kf.gb_Tf.gb_A.gb_yd,
    .gb_Nf.gb_Wf.gb_D.gb_Bd,
    .h-u-mt-l.gacct-section.gacct-epilog {
        display: none !important;
    }
}
@-moz-document domain("bing.com") {
    #sw_as .sa_prnt .sa_rm,
    body,
    .b_no h4,
    h2 .b_secondaryText,
    h2 .b_alert,
    .b_underSearchbox,
    #b_header {
        font-family: Roboto, Arial, Helvetica, var(--foreign, ""), Sans-Serif !important;
    }

    h1,
    h2,
    h3 {
        font-family: Roboto, var(--foreign, ""), sans-serif !important;
    }

    div.content {
        font-family: -apple-system, Roboto, SegoeUI, "Segoe UI",
            "Helvetica Neue", Helvetica, "Microsoft YaHei", "Meiryo UI", Meiryo,
            Arial Unicode MS, var(--foreign, ""), sans-serif !important;
    }

    [class*="code" i] {
        font-family: var(--mono, ""), Consolas, Courier, monospace,
            var(--foreign, "") !important;
    }

    #sa_zis_banner_block,
    .below_sbox,
    .cdxConv.\:.cdxConv_slsboxl.\?.false,
    .nomvs.msnpeek.widget.bottom_row {
        display: none !important;
    }
}

@-moz-document domain("copilot.microsoft.com") {
    body {
        font-family: Ginto, ui-sans-serif, system-ui, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
            "Noto Color Emoji", var(--foreign, "") !important;
    }
}

@-moz-document domain("geeksforgeeks.org") {
    div .text pre,
    .container div code,
    .outputDiv pre {
        font-family: var(--mono, ""), Consolas, monospace, var(--foreign, "") !important;
    }
}

@-moz-document domain("discord.com") {
    :root {
        --disc-font: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
            var(--foreign, ""), sans-serif;

        --font-primary: var(--disc-font);
        --font-display: var(--disc-font);
    }

    .codeLine__3797b,
    .hljs,
    .codeLine-2C-9aH,
    .inlineCode-ERyvy_,
    table,
    .inline {
        font-family: var(--mono, ""), Consolas, "Andale Mono WT", "Andale Mono",
            "Lucida Console", "Lucida Sans Typewriter", "Liberation Mono",
            "Nimbus Mono L", Monaco, "Courier New", Courier, monospace,
            var(--foreign, "") !important;
    }

    .embedMargin_ad0b71.embedProvider_ad0b71,
    .sectionTitle__3e02b > .defaultMarginh5__6e314.eyebrow__4e5bb.h5__28baa,
    .welcomeCTA__927ef {
        display: none !important;
    }
}

@-moz-document domain("duckduckgo.com") {
    :root {
        --default-font: "DDG_ProximaNova", "DDG_ProximaNova_UI_0",
            "DDG_ProximaNova_UI_1", "DDG_ProximaNova_UI_2",
            "DDG_ProximaNova_UI_3", "DDG_ProximaNova_UI_4",
            "DDG_ProximaNova_UI_5", "DDG_ProximaNova_UI_6", "Proxima Nova",
            -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
            Ubuntu, Cantarell, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
            var(--foreign, "");
        --sds-font-family-monospace: var(--mono, ""), ui-monospace, Menlo,
            Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono",
            "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono",
            "Droid Sans Mono", "Courier New", monospace;
    }

    body,
    input,
    select,
    textarea {
        font-family: var(--theme-font-family-result-title, "") !important;
    }

    code,
    .wZ4JdaHxSAhGy1HoNVja span span,
    .ddgpt pre {
        font-family: var(--mono, ""), Consolas, Menlo, Monaco, monospace,
            var(--foreign, "") !important;
    }

    .belowTheFold_howItWorksSection__nbvql,
    .center_andText__ejUnC.center_intrinsic__mk_Ab.center_root__Uf1xM.homepage-cta-section_scrollCta__HuSCL,
    .container_responsive__IDWnv.container_root__Lmrbx.desktop-homepage_belowTheFold__w0uDu,
    .container_responsive__IDWnv.container_root__Lmrbx.desktop-homepage_heroContent__px79B,
    .privacy-reminder.dropdown--region.dropdown,
    .yjuFYcjOI844d3KiuLhz.nOpYdHAdSD_d47TfU1p8.KE_4ibtn0WI3iUo6lJw9 {
        display: none !important;
    }
}

@-moz-document domain("cagematch.net") {
    .FormSelect,
    .FormInput,
    .TemplateBody,
    .HeaderMenu,
    .RatingsBoxAdjustedRating,
    input {
        font-family: var(--sans, ""), Arial, "Segoe UI", Frutiger,
            "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", sans-serif,
            var(--foreign, "") !important;
    }

    .starRating {
        font-family: var(--mono, ""), Courier, serif, var(--foreign, "") !important;
    }
}

@-moz-document domain("perplexity.ai") {
    :host,
    html,
    .font-sans {
        font-family: var(--font-fk-grotesk-neue, ""), ui-sans-serif, system-ui,
            -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Helvetica Neue, Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
            "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
            var(--foreign, "") !important;
    }

    .font-display {
        font-family: var(--font-fk-grotesk, ""), ui-sans-serif, system-ui,
            -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Helvetica Neue, Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
            "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
            var(--foreign, "");
    }

    .ace_placeholder.ace_comment,
    code {
        font-family: var(--mono, ""), var(--font-berkeley-mono, ""),
            var(--foreign, "") !important;
    }

    .font-mono,
    .marker\:font-mono ::marker {
        font-family: var(--mono, ""), var(--font-berkeley-mono, ""),
            ui-monospace, SFMono-Regular, monospace, var(--foreign, "") !important;
    }
}

@-moz-document domain("instructure.com") {
    /* Canvas */
    /*     a {
        text-decoration: none !important;
    } */
    html,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    button,
    select,
    textarea {
        font-family: Iosevka, var(--mono, ""), monospace, "Lato Extended",
            "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif,
            var(--foreign, "") !important;
    }

    [class*="css" i][class*="label" i],
    [class*="css" i][class*="head" i],
    .css-qfe6jw,
    [class*="css" i][class*="button" i],
    [class*="css" i][class*="text" i],
    [class*="css" i][class*="view" i],
    #tinymce {
        font-family: Iosevka, var(--mono, ""), monospace, LatoWeb,
            "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial,
            var(--foreign, ""), sans-serif !important;
    }

    .ef-file-preview-header-download span,
    #App {
        font-family: Iosevka, var(--mono, ""), monospace, "Lato", sans-serif,
            var(--foreign, "") !important;
    }

    #right-side > div > h2.todo-list-header:nth-child(n+1):nth-child(-3n+4),
    #bettercanvas-announcement-list,
    #bettercanvas-todo-list,
    #context_external_tool_13589_menu_item,
    #context_external_tool_13589_menu_item > a.ic-app-header__menu-list-link,
    #context_external_tool_242_menu_item,
    #context_external_tool_242_menu_item > a.ic-app-header__menu-list-link
    #eesy-tab-inner,
    #eesy-tab-inner > div.eesy-tab2-btn-content,
    #flash_message_holder,
    #global_nav_libraries_link,
    #global_nav_libraries_menu,
    #global_nav_student_services_link,
    #global_nav_student_services_menu,
    #quiz-time-elapsed > div:nth-of-type(1),
    #right-side h3,
    .eesy_canvas.eesy_container_v4.eesy_container,
    span.css-iurmb7-view-flexItem:nth-of-type(1) {
        display: none !important;
    }
}

@-moz-document domain("redlib.privacyredirect.com"),
domain("redlib.catsarch.com"),
domain("redlib.private.coffee"),
domain("libreddit.bus-hit.me"),
domain("redlib.pussthecat.org"),
domain("redlib.freedit.eu"),
domain("red.artemislena.eu") {
    /* Redlib */
    html,
    body,
    div,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol,
    dl,
    li,
    dt,
    dd,
    p,
    blockquote,
    pre,
    form,
    fieldset,
    table,
    th,
    td,
    select,
    input {
        font-family: "Inter", var(--foreign, ""), sans-serif !important;
    }

    .md code {
        font-family: var(--mono, ""), monospace, var(--foreign, ""), sans-serif !important;
    }
}
