/* ==UserStyle==
@name           monospace
@namespace      github.com/openstyles/stylus
@version        2025.12.02
@description    My personal changes to monospace fonts, etc
@author         Zerohazard8x LLM
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/monospace.user.css
@homepageURL    https://github.com/Zerohazard8x/custom/tree/main/stylus
==/UserStyle== */
@-moz-document domain("github.com") {
    :root {
        --fontStack-monospace: __monaspaceNeon_4fcba3,
            __monaspaceNeon_Fallback_4fcba3, "Monaspace Neon Var",
            "Monaspace Neon VF", "Monaspace Neon", ui-monospace, SFMono-Regular,
            SF Mono, Menlo, Consolas, Liberation Mono, monospace,
            var(--foreign, "");
        --fontStack-sansSerif: "Mona Sans", "Mona Sans Header Fallback",
            -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
            Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji",
            var(--foreign, "");
    }

    @layer primer-css-base {
        body {
            font-family: var(--fontStack-sansSerif, "");
        }
    }

    .markdown-body {
        font-family: var(--fontStack-sansSerif, "");
    }

    code,
    kbd,
    pre,
    samp {
        font-family: __monaspaceNeon_4fcba3, __monaspaceNeon_Fallback_4fcba3,
            "Monaspace Neon Var", "Monaspace Neon VF", "Monaspace Neon",
            monospace, var(--foreign, "");
    }

    .react-blob-print-hide {
        font-family: __monaspaceNeon_4fcba3, __monaspaceNeon_Fallback_4fcba3,
            "Monaspace Neon Var", "Monaspace Neon VF", "Monaspace Neon",
            ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
            "Liberation Mono", monospace, var(--foreign, "");
    }
}

@-moz-document domain("wikipedia.org") {
    @media screen {
        html,
        body {
            font-family: var(--foreign, ""), sans-serif;
        }
    }

    body {
        font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
            "Inter", "Helvetica", "Arial", var(--foreign, ""), sans-serif;
    }

    .mw-parser-output .script-arabic {
        font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
            "Inter", "Helvetica", "Arial", var(--foreign, ""), sans-serif,
            "Scheherazade New", "SF Arabic", Amiri, "Noto Naskh Arabic",
            "Droid Arabic Naskh", "Noto Sans Arabic", "Sakkal Majalla",
            "Harmattan", "Arabic Typesetting", "Arabic Transparent",
            "Times New Roman", Arial, Calibri, "Microsoft Sans Serif",
            "Segoe UI", serif, sans-serif;
    }

    /* matches all with class containing heading */
    /* ... i] means case insensitive*/
    blockquote,
    .pre-content h1,
    .content h1,
    [class*="heading" i],
    .content h2 {
        font-family: "Linux Libertine", "Georgia", "Times", "Source Serif Pro",
            serif, var(--foreign-serif, "");
    }

    @media screen {
        [class*="heading" i],
        .mw-body h1,
        .mw-body-content h1,
        .mw-body-content h2 {
            font-family: "Linux Libertine", "Georgia", "Times",
                "Source Serif Pro", serif, var(--foreign-serif, "");
        }
    }

    .monospaced,
    .diff tbody tr * *,
    code,
    pre span {
        font-family: var(--mono, ""), monospace, var(--foreign, "");
    }
}

@-moz-document domain("old.reddit.com"),
domain("undelete.pullpush.io") {
    *,
    ::before,
    ::after,
    #search input[type="text"],
    textarea,
    #sr-header-area,
    #header-bottom-right,
    .roundfield .title,
    .linefield .title,
    #images h2,
    #subreddit_stylesheet h2,
    .panestack-title,
    .morelink a,
    h3,
    .md-small h3,
    h2,
    .stylesheet-customize-container h2,
    .comment .entry .tagline,
    #ad-frame,
    #ad_main,
    #header-bottom-left ul.tabmenu,
    #images,
    #previoussearch #moresearchinfo,
    .account-activity-box,
    .combined-search-page > .content,
    .comment .usertext-body .md p,
    .commentarea > .sitetable > .comment,
    .commentarea > .usertext,
    .comments-page .link,
    .deepthread a,
    .entry .buttons li a,
    .entry .tagline,
    .linefield,
    .link.self .usertext-body .md p,
    .linkinfo,
    .linklisting .link .entry,
    .linklisting .link .score,
    .login-form-side,
    .morecomments a,
    .morelink,
    .organic-listing .link.promotedlink .score,
    .side .md table tbody tr td,
    .side .sidecontentbox,
    .side .titlebox,
    .side,
    .sitetable,
    .sponsorshipbox,
    .stylesheet-customize-container .pretty-form,
    .submit-page .roundfield,
    .submit_text h1,
    .titlebox h1 a,
    .titlebox h1,
    .users-online::after,
    .wiki-page .wiki-page-content,
    body,
    body.listing-page > .content,
    body.other-discussions-page > .content,
    .footer div.col {
        font-family: var(--sans, ""), arial, "helvetica neue", helvetica,
            verdana, var(--foreign, ""), sans-serif !important;
    }

    .link .title,
    #header .tabmenu li a,
    .flat-vert.title {
        font-family: var(--serif, ""), var(--sans, ""), arial, "helvetica neue",
            helvetica, verdana, var(--foreign, ""), sans-serif;
    }
}

@-moz-document domain("reddit.com") {
    .theme-light,
    :root {
        --font-sans: "Reddit Sans", RedditSans, -apple-system,
            BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
            var(--foreign, ""), sans-serif;
    }

    .md pre,
    code,
    #shortlink-text {
        font-family: var(--mono, ""), monospace, var(--foreign, "");
    }

    ._34q3PgLsx9zIU5BiSOjFoM {
        font-family: var(--mono, ""), Noto Mono, Monaco, Consolas, monospace,
            var(--foreign, "");
    }
}

@-moz-document domain("stackoverflow.com"),
domain("superuser.com"),
domain("stackexchange.com") {
    body.unified-theme *,
    html,
    body {
        --ff-sans: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted",
            "Segoe UI", "Liberation Sans", var(--foreign, ""), sans-serif;
        --theme-body-font-family: var(--ff-sans);
        --theme-post-body-font-family: var(--ff-sans);
        --ff-mono: var(--mono, ""), ui-monospace, "Cascadia Mono",
            "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas,
            monospace, var(--foreign, "");
    }
}

@-moz-document domain("chatgpt.com") {
    :host,
    html,
    .font-sans {
        font-family: OpenAI Sans, ui-sans-serif, -apple-system, system-ui,
            Segoe UI, Helvetica, Apple Color Emoji, Arial, var(--foreign, ""),
            sans-serif, Segoe UI Emoji, Segoe UI Symbol;
    }

    @layer utilities {
        :is(.\*\:font-sans > *) {
            font-family: OpenAI Sans, ui-sans-serif, -apple-system, system-ui,
                Segoe UI, Helvetica, Apple Color Emoji, Arial,
                var(--foreign, ""), sans-serif, Segoe UI Emoji, Segoe UI Symbol;
        }
    }

    html,
    body {
        font-family: OpenAI Sans, -apple-system, BlinkMacSystemFont, Segoe UI,
            Roboto, Oxygen, Ubuntu, Cantarell, Helvetica Neue, Arial,
            var(--foreign, ""), sans-serif !important;
    }

    code,
    pre {
        font-family: var(--mono, ""), Söhne Mono, ui-monospace, SFMono-Regular,
            SF Mono, Menlo, Consolas, Liberation Mono, var(--foreign, ""),
            monospace !important;
    }
}

@-moz-document domain("w3schools.com") {
    .w3-code,
    .language-java,
    .w3-codespan {
        font-family: var(--mono, ""), Consolas, "Source Code Pro", Menlo, Monaco,
            "Andale Mono", "Ubuntu Mono", monospace, var(--foreign, "");
    }
}

@-moz-document domain("tcrf.net"),
domain("mariowiki.com"),
domain("ssbwiki.com"),
domain("wikirby.com"),
domain("splatoonwiki.org"),
domain("niwanetwork.org"),
domain("betawiki.net"),
domain("raymanpc.com"),
domain("remywiki.com"),
domain("consolemods.org"),
domain("wiktionary.org"),
domain("minecraft.wiki"),
domain("pcgamingwiki.com"),
domain("liquipedia.net"),
domain("deskthority.net") {
    /* 	MediaWiki */
    .mw-editsection,
    .mediawiki,
    #sidebar,
    h3 {
        font-family: var(--sans, ""), "Open Sans", "Helvetica Neue", Helvetica,
            "Liberation Sans", Arial, Helvetica, FreeSans, var(--foreign, ""),
            sans-serif;
    }

    .mw-editsection {
        font-family: var(--sans, ""), var(--foreign, ""), sans-serif;
    }

    input {
        font-family: var(--sans, ""), "MS Shell Dlg 2";
    }

    .pBody {
        font-family: var(--sans, ""), verdana, var(--foreign, ""), sans-serif;
    }

    #personal h2 {
        font-family: var(--sans, ""), "Helvetica Neue", "Nimbus Sans",
            "Helvetica", "Arial";
    }

    /* applies to e.g. <span lang="ja"> */
    :lang(zh),
    :lang(ja),
    :lang(ko) {
        font-family: var(--sans, ""), var(--foreign, ""), sans-serif;
    }

    h1,
    h2 {
        font-family: var(--serif, ""), "Linux Libertine", "Georgia", "Times",
            serif, var(--foreign, "");
    }

    .template-infotable-monospace,
    code,
    tt,
    .mw-parser-output pre {
        font-family: var(--mono, ""), monospace, var(--foreign, "");
    }

    p span b:not(.Latn) {
        font-family: var(--mono, ""), Consolas, DejaVu Sans Mono,
            Droid Sans Mono, Lucida Console, Courier New, monospace,
            var(--foreign, "");
    }
}

@-moz-document regexp("^.*www\.google\.com.*"), regexp("^(?!.*(\w+\.google\.com)).*google\.com.*") {
    /* Google */

    /* Regex that excludes e.g. mail.google.com */
    /* Separate: regexp("^.*www\.google\.com.*"), regexp("^(?!.*(\w+\.google\.com)).*google\.com.*") */
    /* Combined: ^(?:.*www\.google\.com.*|(?!.*(\w+\.google\.com)).*google\.com.*) */

    :root {
        --google: Google Sans Flex, Google Sans, Helvetica Neue,
            var(--foreign, ""), sans-serif;
    }

    body,
    input,
    button,
    .QRYxYe.QRYxYe,
    .gb_X,
    .lJ9FBc input[type="submit"],
    .f1pnbf,
    .gbqfba,
    div,
    span,
    .MBeuO {
        font-family: var(--google, ""), Arial, var(--foreign, ""), sans-serif !important;
    }

    /* Force Google Sans (if available) */
    .emcav textarea.gLFyf,
    .emcav .YacQv,
    .UUbT9 b,
    .QRYxYe,
    textarea.gLFyf,
    .YacQv,
    .T0wOad,
    .pb3iw,
    .ssJ7i,
    .NprOob.wT3VGc,
    .pe7FNb,
    .xd0Ff .TLIZ,
    .FNMYpd .CVouqc,
    .e8Ck0d,
    .hdzaWe,
    .Fzsovc,
    .YWpX0d,
    .q8U8x,
    .YmvwI,
    .FMKtTb,
    .jloFI,
    .CVxCqb,
    .JgzqYd,
    .cUnQKe .ILfuVd,
    .cUnQKe .UiGGAb.ILfuVd,
    .w5mTAe .ILfuVd,
    .cNacUd,
    .ALPRDc,
    .fm06If .ILfuVd,
    .c2xzTb .ILfuVd,
    .Jb0Zif .c2xzTb .ILfuVd,
    .di3YZe,
    .CSkcDe,
    .related-question-pair div.iDjcJe,
    .IFnjPb,
    .GvPZzd,
    .VuuXrf,
    .sjVJQd,
    .a-no-hover-decoration,
    .GLcBOb,
    #result-stats {
        font-family: "Google Sans", var(--google, ""), Arial, var(--foreign, ""),
            sans-serif !important;
    }

    .googlegpt pre,
    #googlegpt-chatbar,
    .markdown p code,
    div.otByu div.cwqNnb span.BFlQMb {
        font-family: "Google Sans Mono", var(--mono, ""), var(--foreign, ""),
            monospace;
    }

    .google-symbols {
        font-family: "Google Symbols", var(--foreign, "") !important;
    }

    .DPvwYc {
        font-family: "Material Icons Extended", var(--foreign, "") !important;
    }

    .google-material-icons,
    .google-material-icons > * {
        font-family: "Google Material Icons", var(--foreign, "") !important;
    }

    .sfbg,
    .appbar {
        background: none;
    }

    #promo-inline-card,
    #OotqVd,
    #helpful,
    #personalized,
    #secure,
    .RB2q5e.OSrXXb.oYWfcb.GTERze,
    .footer,
    .gacct-section.gacct-hero-feature,
    .gb_Kf.gb_Tf.gb_A.gb_yd,
    .gb_Nf.gb_Wf.gb_D.gb_Bd,
    .h-u-mt-l.gacct-section.gacct-epilog {
        display: none;
    }
}
@-moz-document domain("bing.com") {
    :root {
        --acf-font-body-2: normal 400 14px/22px Roboto, Arial, Helvetica,
            var(--foreign, ""), Sans-Serif;
        --acf-font-title-3-strong: normal 700 20px/26px Roboto, Arial, Helvetica,
            var(--foreign, ""), Sans-Serif;
        --acf-font-title-1-strong: normal 700 14px/22px Roboto, Arial, Helvetica,
            var(--foreign, ""), Sans-Serif;
        --acf-font-title-2-strong: normal 700 16px/22px Roboto, Arial, Helvetica,
            var(--foreign, ""), Sans-Serif;
        --acf-font-body-4: normal 400 18px/28px Roboto, Arial, Helvetica,
            var(--foreign, ""), Sans-Serif;
    }

    .rqnaContainerwithfeedback #df_listaa .df_hd .b_traits,
    .rqnaContainerwithfeedback #cr_df_listaa .df_hd .b_traits,
    #sw_as .sa_prnt .sa_rm,
    body,
    .b_no h4,
    h2 .b_secondaryText,
    h2 .b_alert,
    .b_underSearchbox,
    #b_header {
        font-family: Roboto, Arial, Helvetica, var(--foreign, ""), Sans-Serif;
    }

    h1,
    h2,
    h3 {
        font-family: "Segoe UI", Roboto, Arial, Helvetica, var(--foreign, ""),
            Sans-Serif;
    }

    div.content {
        font-family: -apple-system, Roboto, SegoeUI, "Segoe UI",
            "Helvetica Neue", Helvetica, "Microsoft YaHei", "Meiryo UI", Meiryo,
            Arial Unicode MS, var(--foreign, ""), sans-serif;
    }

    [class*="code" i] {
        font-family: var(--mono, ""), Consolas, Courier, monospace,
            var(--foreign, "");
    }

    .b_wptc_resp code {
        font-family: var(--mono, ""), monospace, var(--foreign, "");
    }

    #sa_zis_banner_block,
    .below_sbox,
    .cdxConv.\:.cdxConv_slsboxl.\?.false,
    .nomvs.msnpeek.widget.bottom_row {
        display: none;
    }
}

@-moz-document domain("copilot.microsoft.com") {
    body {
        font-family: Ginto, ui-sans-serif, system-ui, "Apple Color Emoji",
            "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji",
            var(--foreign, "");
    }
}

@-moz-document domain("geeksforgeeks.org") {
    div .text pre,
    .container div code,
    .outputDiv pre {
        font-family: var(--mono, ""), Consolas, monospace, var(--foreign, "");
    }
}

@-moz-document domain("discord.com") {
    :root {
        --disc-font: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
            var(--foreign, ""), sans-serif;

        --font-primary: var(--disc-font);
        --font-display: var(--disc-font);
    }

    .codeLine__3797b,
    .hljs,
    .codeLine-2C-9aH,
    .inlineCode-ERyvy_,
    table,
    .inline {
        font-family: var(--mono, ""), Consolas, "Andale Mono WT", "Andale Mono",
            "Lucida Console", "Lucida Sans Typewriter", "Liberation Mono",
            "Nimbus Mono L", Monaco, "Courier New", Courier, monospace,
            var(--foreign, "");
    }

    div.wrapper__3ba3b,
    .embedMargin_ad0b71.embedProvider_ad0b71,
    .sectionTitle__3e02b > .defaultMarginh5__6e314.eyebrow__4e5bb.h5__28baa,
    .welcomeCTA__927ef {
        display: none;
    }
}

@-moz-document domain("duckduckgo.com") {
    :root {
        --ducksans-display-font-family: "DuckSansDisplay", -apple-system,
            BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
            Cantarell, "Helvetica Neue", Arial, "Noto Sans",
            var(--foreign, "") sans-serif;
    }

    .defaultfontexp-ducksans body,
    .defaultfontexp-ducksans input,
    .defaultfontexp-ducksans select,
    .defaultfontexp-ducksans textarea,
    .defaultfontexp-ducksans button {
        font-family: "DuckSansProduct", -apple-system, BlinkMacSystemFont,
            "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
            Arial, "Noto Sans", var(--foreign, ""), sans-serif;
    }

    pre,
    tt,
    code,
    .VrBPSncUavA1d7C9kAc5 .qlv4I7skMF6Meluz0u8c {
        font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono",
            "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
            "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New",
            var(--foreign, ""), monospace, Consolas, Menlo, Monaco, monospace;
    }

    .belowTheFold_howItWorksSection__nbvql,
    .center_andText__ejUnC.center_intrinsic__mk_Ab.center_root__Uf1xM.homepage-cta-section_scrollCta__HuSCL,
    .container_responsive__IDWnv.container_root__Lmrbx.desktop-homepage_belowTheFold__w0uDu,
    .container_responsive__IDWnv.container_root__Lmrbx.desktop-homepage_heroContent__px79B,
    .privacy-reminder.dropdown--region.dropdown,
    .yjuFYcjOI844d3KiuLhz.nOpYdHAdSD_d47TfU1p8.KE_4ibtn0WI3iUo6lJw9 {
        display: none;
    }
}

@-moz-document domain("cagematch.net") {
    .FormSelect,
    .FormInput,
    .TemplateBody,
    .HeaderMenu,
    .RatingsBoxAdjustedRating,
    input {
        font-family: var(--sans, ""), Arial, "Segoe UI", Frutiger,
            "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue",
            var(--foreign, ""), sans-serif;
    }

    .starRating {
        font-family: var(--mono, ""), Courier, serif, var(--foreign, "");
    }
}

@-moz-document domain("perplexity.ai") {
    :host,
    html,
    .font-sans {
        font-family: var(--font-fk-grotesk-neue, ""), ui-sans-serif, system-ui,
            -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Helvetica Neue, Arial, "Noto Sans", "Apple Color Emoji",
            "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
            var(--foreign, "");
    }

    .font-display {
        font-family: var(--font-fk-grotesk, ""), ui-sans-serif, system-ui,
            -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Helvetica Neue, Arial, "Noto Sans", "Apple Color Emoji",
            "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
            var(--foreign, "");
    }

    .ace_placeholder.ace_comment,
    code {
        font-family: var(--mono, ""), var(--font-berkeley-mono, ""),
            var(--foreign, "");
    }

    .font-mono,
    .marker\:font-mono ::marker {
        font-family: var(--mono, ""), var(--font-berkeley-mono, ""),
            ui-monospace, SFMono-Regular, monospace, var(--foreign, "");
    }
}

@-moz-document domain("instructure.com") {
    /* Canvas */
    /*     a {
        text-decoration: none;
    } */
    html,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    button,
    select,
    textarea {
        font-family: var(--mono, ""), "Lato Extended", "Lato", "Helvetica Neue",
            Helvetica, Arial, var(--foreign, ""), sans-serif;
    }

    .css-1ogjq1j-avatar__initials,
    [class*="css" i][class*="label" i],
    [class*="css" i][class*="head" i],
    .css-qfe6jw,
    [class*="css" i][class*="button" i],
    [class*="css" i][class*="text" i],
    [class*="css" i][class*="view" i],
    #tinymce {
        font-family: var(--mono, ""), LatoWeb, "Lato Extended", "Lato",
            "Helvetica Neue", Helvetica, Arial, var(--foreign, ""), sans-serif;
    }

    .ef-file-preview-header-download span,
    #App {
        font-family: var(--mono, ""), "Lato", var(--foreign, ""), sans-serif;
    }

    #right-side > div > h2.todo-list-header:nth-child(n + 1):nth-child(-3n + 4),
    #bettercanvas-announcement-list,
    #bettercanvas-todo-list,
    #context_external_tool_13589_menu_item,
    #context_external_tool_13589_menu_item > a.ic-app-header__menu-list-link,
    #context_external_tool_242_menu_item,
    #context_external_tool_242_menu_item
        > a.ic-app-header__menu-list-link
        #eesy-tab-inner,
    #eesy-tab-inner > div.eesy-tab2-btn-content,
    #flash_message_holder,
    #global_nav_libraries_link,
    #global_nav_libraries_menu,
    #global_nav_student_services_link,
    #global_nav_student_services_menu,
    #quiz-time-elapsed > div:nth-of-type(1),
    #right-side h3,
    .eesy_canvas.eesy_container_v4.eesy_container,
    span.css-iurmb7-view-flexItem:nth-of-type(1) {
        display: none;
    }
}

@-moz-document domain("redlib.privacyredirect.com"),
domain("redlib.catsarch.com"),
domain("redlib.private.coffee"),
domain("libreddit.bus-hit.me"),
domain("redlib.pussthecat.org"),
domain("redlib.freedit.eu"),
domain("red.artemislena.eu") {
    /* Redlib */
    html,
    body,
    div,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol,
    dl,
    li,
    dt,
    dd,
    p,
    blockquote,
    pre,
    form,
    fieldset,
    table,
    th,
    td,
    select,
    input {
        font-family: "Inter", var(--foreign, ""), sans-serif;
    }

    .md code {
        font-family: var(--mono, ""), monospace, var(--foreign, ""), sans-serif;
    }
}

@-moz-document domain("grok.com") {
    .\!font-mono {
        font-family: var(--mono, ""), var(--font-ibm-plex-mono), ui-monospace,
            SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
            "Courier New", var(--foreign, ""), monospace !important;
    }

    .font-body {
        font-family: var(--font-universal-sans), ui-sans-serif, system-ui,
            var(--foreign, ""), sans-serif, "Apple Color Emoji",
            "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
}

@-moz-document domain("gemini.google.com") {
    .gds-body-l {
        font-family: "Google Sans Flex", "Google Sans", "Helvetica Neue",
            var(--foreign, ""), sans-serif;
    }

    .markdown[_ngcontent-ng-c3942317406] code {
        font-family: Google Sans Mono, var(--foreign, ""), monospace;
    }
}