/* ==UserStyle==
@name           monospace
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    My personal changes to codeblocks, etc
@author         Zerohazard8x + LLM
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/monospace.user.styl
@homepageURL    https://github.com/Zerohazard8x/custom
==/UserStyle== */

:root {
    /* Define variables */
    --font: "IBM Plex Sans JP", "IBM Plex Sans Thai", "IBM Plex Sans",
        -apple-system, BlinkMacSystemFont, "SF Pro", "SF Pro Text", "Inter",
        "Roboto";
    --monospace: "Fira Code", "Fira Mono", "Noto Mono", "Noto Sans Mono",
        "DroidSansM", "Hack", "Bitstream Vera Sans Mono", "BitstromVera",
        "DejaVu Sans Mono", "Segoe UI Mono", "SF Mono", "SFMono-Regular", Menlo,
        Monaco, "Ubuntu Mono", "Consolas", "Andale Mono", "Lucida Console",
        "Lucida Sans Typewriter", "Source Code Pro";
    --block-mono: "JetBrains Mono", "JetBrains Mono NL", "Input Mono",
        "IBM Plex Mono", "BlexMono", "Roboto Mono", "Iosevka Expanded",
        "Iosevka", "Input Sans", "Liberation Mono";
}

@-moz-document domain("github.com") {
    /* Github - Goal: Change all fonts, change font and formatting of code blocks, grayscale */
    .page-responsive,
    .Box-sc-g0xbh4-0,
    .Dialog__Footer-sc-uaxjsn-6,
    .my-3,
    .d-block,
    section,
    details,
    blockquote,
    .container-lg {
        font-family: var(--font), -apple-system, BlinkMacSystemFont, "Segoe UI",
            "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
            "Segoe UI Emoji" !important;
    }

    #commit-summary-input,
    .blob-code-inner,
    .blob-num,
    .branch-name,
    .diffstat,
    .file-info,
    .sha,
    .sha-block,
    .text-mono,
    .input-monospace,
    .BranchName-sc-sg8jsy-0,
    .markdown-body pre,
    kbd,
    code,
    .commit-desc > pre {
        font-family: var(--monospace), var(--block-mono), Consolas, monospace !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;

        /* -webkit-font-feature-settings: "liga", "calt" !important;
        -moz-font-feature-settings: "liga", "calt" !important;
        -o-font-feature-settings: "liga", "calt" !important; */
    }

    .blob-code-inner,
    .blob-num,
    .markdown-body pre,
    .markdown-body code {
        font-size: 16px !important;
    }

    div.logged-in.env-production.page-responsive.full-width,
    div.sr-only {
        filter: grayscale(80%);
    }
}

@-moz-document domain("discord.com") {
    /* Discord - Goal: Change font and formatting of code blocks */
    .hljs,
    .codeLine-2C-9aH,
    .inlineCode-ERyvy_,
    .inline {
        font-family: var(--block-mono), var(--monospace), Consolas,
            "Andale Mono WT", "Andale Mono", "Lucida Console",
            "Lucida Sans Typewriter", "Liberation Mono", "Nimbus Mono L", Monaco,
            "Courier New", Courier, monospace !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }
}
@-moz-document domain("wikipedia.org") {
    /* Wikipedia - Goal: Replace Arial font, Codeblocks */
    #searchform,
    #p-lang-btn-label,
    #vector-page-tools-dropdown-label,
    .grid,
    .noime,
    .invite,
    .vector-body,
    .vector-menu,
    .vector-menu-content-list,
    .vector-pinnable-header-toggle-button,
    .vector-toc,
    cite,
    .mwe-popups-container {
        font-family: var(--font), sans-serif !important;
    }

    p > code,
    li > code,
    pre > span {
        font-family: var(--monospace), var(--block-mono), monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }
}

@-moz-document domain("reddit.com") {
    /* Reddit - Goal: Code blocks */
    ._34q3PgLsx9zIU5BiSOjFoM {
        font-family: var(--monospace), var(--block-mono), Noto Mono, Monaco,
            Consolas, monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }
}

@-moz-document domain("stackoverflow.com") {
    /* StackOverflow - Goal: All fonts */
    code {
        font-family: var(--monospace), var(--block-mono), ui-monospace,
            "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco,
            Consolas, monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }

    .unified-theme,
    .question-hyperlink,
    .comment-copy,
    .s-prose {
        font-family: var(--font), -apple-system, BlinkMacSystemFont,
            "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif !important;
    }
}

@-moz-document domain("poe.com") {
    /* Poe - Goal: Reduce usage of system font */
    .PageWithSidebarLayout_centeredPage__D42BU,
    .ReactModal__Content {
        font-family: var(--font), apple-system, system-ui, BlinkMacSystemFont,
            Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue,
            sans-serif !important;
    }

    code > span {
        font-family: var(--monospace), var(--block-mono), Consolas, monaco,
            monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }
}

@-moz-document domain("chat.openai.com") {
    /* ChatGPT - Goal: Code blocks, grayscale */
    code {
        font-family: var(--monospace), var(--block-mono), Söhne Mono, Monaco,
            Andale Mono, Ubuntu Mono, monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }

    #__next {
        filter: grayscale(80%);
    }
}

@-moz-document domain("w3schools.com") {
    /* W3Schools - Goal: Code blocks */
    .w3-white > code,
    .w3-codespan {
        font-family: var(--monospace), var(--block-mono), Consolas,
            "Source Code Pro", Menlo, Monaco, "Andale Mono", "Ubuntu Mono",
            monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }
}

@-moz-document domain("learn.microsoft.com") {
    /* MS Learn - Goal: Code blocks */
    pre > code,
    p > code,
    li > code {
        font-family: var(--monospace), var(--block-mono), SFMono-Regular,
            Consolas, Liberation Mono, Menlo, Courier, monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }
}

@-moz-document domain("wikiwand.com") {
    /* Wikiwand - Goal: Code blocks */
    p > code,
    li > code,
    pre > span {
        font-family: var(--monospace), var(--block-mono), Noto Sans Mono, Menlo,
            Consolas, Courier New, Courier, monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }
}

@-moz-document domain("developer.mozilla.org") {
    /* Mozilla Dev - Goal: Code blocks */
    code,
    .section-content > pre {
        font-family: var(--monospace), var(--block-mono), monospace !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }

    pre > code,
    p > code,
    strong > code,
    .section-content > pre {
        font-size: 16px !important;
    }
}

@-moz-document domain("symbolab.com") {
    /* Symbolab - Goal: LaTeX input interface */
    .latex-command-input {
        font-family: var(--monospace), var(--block-mono), "Courier New",
            monospace !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }
}

@-moz-document domain("tcrf.net") {
    /* TCRF - Goal: Reduce usage of Arial font, code blocks */
    .mediawiki {
        font-family: var(--font), sans-serif !important;
    }

    #searchInput {
        font-family: var(--font), "MS Shell Dlg 2" !important;
    }

    tt,
    .mw-parser-output > pre {
        font-family: var(--monospace), var(--block-mono), monospace, monospace !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }
}

@-moz-document domain("bard.google.com") {
    /* Google bard - Goal: code blocks, grayscale */
    .code-container,
    .markdown > p code {
        font-family: "Google Sans Mono", var(--monospace), var(--block-mono),
            monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }

    header.gb_Pa.gb_gb.gb_Td.gb_rd.gb_md.gb_0c.gb_i,
    div.gb_td,
    div.cdk-live-announcer-element.cdk-visually-hidden,
    div.gb_Pc,
    div.gb_jd,
    div.gb_n,
    div.cdk-describedby-message-container.cdk-visually-hidden,
    #hfcr,
    div.cdk-overlay-container {
        filter: grayscale(80%);
    }
}

@-moz-document domain("bing.com") {
    /* Bing - Goal: Make sure website uses one single font + "fluent" changes + code blocks + grayscale */
    /* Var initializations */
    :root {
        --font-text: "Roboto", "Segoe UI Variable Text", "Segoe UI", SegoeUI,
            Segoe;
        --header-display: "Segoe UI Variable Display", "Segoe UI", SegoeUI,
            Segoe, "Roboto";
        --footer-small: "Roboto", "Segoe UI Variable Small", "Segoe UI", SegoeUI,
            Segoe;
        /* --logo-url: url(https://r.bing.com/rp/QO12R6eZz9WMzJPOio-qN8bXJZ4.png); */
    }

    /* Japanese font fix by Kenji Iguchi */
    /* :root * { */
    /* Redefine variable cib-font-text */
    /* --cib-font-text: font-family: -apple-system, Roboto, "Segoe UI Variable Text", SegoeUI, "Segoe UI", "Helvetica Neue", Helvetica, "Meiryo UI", Meiryo, Arial Unicode MS, sans-serif !important; */
    /* } */

    /* Search box */
    .b_searchboxForm {
        border-radius: 12px !important; /* Box searchbar corners */
    }

    /* Navigation bar */
    /* All ul and li under a .b_scopebar element */
    .b_scopebar > ul li {
        /* Undo small caps */
        text-transform: none !important;
        font-size: 14px !important;
        font-family: var(--font-text), Arial, Helvetica, sans-serif !important;
    }

    .b_scopebar ul {
        height: 45px !important;
    }

    .b_scopebar li,
    .b_scopebar #b-scopeListItem-menu {
        line-height: 40px !important;
    }

    /* Navigation bar "pill" */
    .b_scopebar li::after {
        margin-top: -1px !important;
    }

    /* Navigation bar submenu */
    .b_scopebar_item > a {
        text-transform: none !important;
        font-size: 13px !important;
    }

    /* Change logo (at least on results pages) */
    /* .b_logo {
         height: 50px !important;
         margin-top: 0px !important;
         width: 150px !important;
     }
 
     .b_logo::after {
         content: var(--logo-url) !important;
         transform-origin: 47px 8px !important;
         transform: scale(0.1) !important;
     }
 
     .icon::after {
         content: none !important;
     } */

    /* grayscale */
    /*     #aRmsDefer,
    #ajaxStyles,
    #b_TriviaOverlay,
    #b_content,
    #b_header,
    #b_sydConvCont,
    #b_sydHeadBg,
    #bfb-prefetch,
    #pagetual-preload,
    #qs_searchBoxOuter,
    #sbicom_loader,
    a.entityPreview.b_hidden,
    div.sb_hbop,
    div.scs_cp.b_hide,
    footer.b_footer,
    form.sbi_form_ph,
    span.b_hide,
    iframe.insightsOverlay {
        filter: grayscale(80%);
    } */

    /* fix nondisappearing scrollbar (grayscale) */
    /*     #miniheader {
        display: none !important;
    } */

    /* Fonts */
    #b_footerItems a,
    #b_footerItems span,
    #fltIdtCon,
    #id_h,
    #vvlb,
    .b_respl,
    .cbtn,
    .idp-refresh-page-main-line,
    .img_badges > span a,
    .img_info,
    .items,
    .lite-entcard-exp,
    .lite-entcard-main,
    .mc_bc_rc,
    .mc_vtvc_meta,
    .metaItem,
    .rsa,
    .tit,
    .vd-duration,
    .title {
        font-family: var(--font-text), Arial, Helvetica, sans-serif !important;
    }

    #sw_as {
        font-family: var(--font-text) !important;
        filter: opacity(100%) !important;
    }

    /* Variable Small Fallback */
    #imagemeta,
    .b_algospacing,
    .b_bfbLcgAnchorText,
    .b_fbText,
    .b_seeMoreCont,
    .b_vPanel,
    .fdbtext,
    .l_ecrd_ftr_txt,
    .rstc,
    .sto_attr_header,
    .tdw_button,
    .recommendationsTableTitle > h2 {
        font-family: var(--footer-small), Arial, sans-serif !important;
        filter: opacity(100%) !important;
    }

    /* Variable Small */
    .dg_b .infnmpt .infpd a,
    .mc_vtvc_meta_row_channel,
    .mc_vtvc_title > strong,
    .rd_gtrtb_nav_item,
    .b_title {
        font-family: "Segoe UI Variable Small", "Segoe UI", SegoeUI, Segoe,
            "Roboto", Helvetica, sans-serif;
        filter: opacity(100%) !important;
    }

    /* Variable Text */
    h2,
    h4,
    #detailMeta,
    .b_entityTitle,
    .b_primtxt,
    .b_searchboxForm,
    .b_topTitle,
    .b_vList,
    .deeplink_title > a,
    .dest_name,
    .ent-dtab-nam-ov-dtp,
    .qna_algoLink_title,
    .rwrl,
    .sto_attr_table,
    .sto_attrlitc,
    .wpvn_ala_wtt,
    .b_rc_gb_widget_title {
        font-family: "Segoe UI Variable Text", "Segoe UI", SegoeUI, Segoe,
            "Roboto", Helvetica, sans-serif !important;
    }

    /* Variable Display */
    .b_focusTextLarge,
    .b_focusTextMedium,
    .b_mgridTitle,
    .irp-video-slogan,
    .scs_metactn > div h2,
    .sto_title,
    .thdrail_card_title > div,
    #rd_gtrtb_ttl,
    div > p span,
    h2 > span,
    container-title {
        font-family: var(--header-display), Helvetica, Arial, sans-serif !important;
        filter: opacity(100%) !important;
    }

    .rd_cCodeBg {
        font-family: var(--monospace), var(--block-mono), Consolas, Courier,
            monospace !important;
        font-size: 16px !important;
        filter: opacity(
            100%
        ) !important; /* mactype /*
        
        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }
}

@-moz-document domain("geeksforgeeks.org") {
    /* GeeksForGeeks - Goal: Code blocks */
    div .text > pre,
    .container > div code,
    .outputDiv > pre {
        font-family: var(--monospace), var(--block-mono), Consolas, monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }
}
