/* ==UserStyle==
@name           monospace
@namespace      github.com/openstyles/stylus
@version        1.0.6
@description    My personal changes to codeblocks, etc
@author         Zerohazard8x + LLM
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/monospace.user.styl
@homepageURL    https://github.com/Zerohazard8x/custom/tree/main/stylus
==/UserStyle== */

:root {
    /* Define variables */
    --not-monospace: -apple-system, BlinkMacSystemFont, "SF Pro", "SF Pro Text",
        "Inter", "Roboto", "IBM Plex Sans", "Noto Sans", "Noto Sans JP",
        "Noto Sans TC", "Noto Sans SC", "Noto Sans KR", "IBM Plex Sans JP",
        "IBM Plex Sans KR";
    --monospace: "Fira Code", "Fira Mono", "Noto Mono", "Noto Sans Mono",
        "DroidSansM", "Hack", "Bitstream Vera Sans Mono", "BitstromVera",
        "DejaVu Sans Mono", "Segoe UI Mono", "SF Mono", "SFMono-Regular", Menlo,
        Monaco, "Ubuntu Mono", "Consolas", "Andale Mono", "Lucida Console",
        "Lucida Sans Typewriter", "Source Code Pro";
    --block-mono: "JetBrains Mono", "JetBrains Mono NL", "Input Mono",
        "IBM Plex Mono", "BlexMono", "Roboto Mono", "Iosevka Expanded",
        "Iosevka", "Input Sans", "Liberation Mono";
}

@-moz-document domain("github.com") {
    /* Github - Goal: Change all fonts, change font and formatting of code blocks, grayscale */
    .page-responsive,
    .PageHeader-title,
    .Box-sc-g0xbh4-0,
    .Dialog__Footer-sc-uaxjsn-6,
    .my-3,
    .d-block,
    .container,
    section,
    details,
    blockquote,
    .container-lg {
        font-family: var(--not-monospace), -apple-system, BlinkMacSystemFont,
            "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji" !important;
    }

    #commit-summary-input,
    .blob-code-inner,
    .blob-num,
    .branch-name,
    .diffstat,
    .file-info,
    .sha,
    .sha-block,
    .text-mono,
    .input-monospace,
    .BranchName-sc-sg8jsy-0,
    pre,
    kbd,
    code {
        font-family: var(--monospace), var(--block-mono), Consolas, monospace !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;

        /* -webkit-font-feature-settings: "liga", "calt" !important;
        -moz-font-feature-settings: "liga", "calt" !important;
        -o-font-feature-settings: "liga", "calt" !important; */
    }

    .blob-code-inner,
    .blob-num,
    pre,
    .markdown-body code {
        font-size: 16px !important;
    }

    div.logged-in.env-production.page-responsive.full-width,
    div.logged-in.env-production.page-responsive,
    div.sr-only {
        filter: grayscale(80%);
    }
}

@-moz-document domain("wikipedia.org") {
    /* Wikipedia - Goal: Replace Arial font, Codeblocks, grayscale */
    #searchform,
    #p-lang-btn-label,
    #vector-page-tools-dropdown-label,
    .grid,
    .noime,
    .invite,
    .vector-body,
    .vector-menu,
    .vector-menu-content-list,
    .vector-pinnable-header-toggle-button,
    .vector-toc,
    cite,
    .mwe-popups-container {
        font-family: var(--not-monospace), sans-serif !important;
    }

    p > code,
    li > code,
    pre > span {
        font-family: var(--monospace), var(--block-mono), monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }

    #p-namespaces,
    a.mw-jump-link,
    div.mw-page-container,
    div.mwe-popups.mwe-popups-type-page,
    div.vector-header-container,
    div.vector-settings,
    a.oo-ui-element-hidden {
        filter: grayscale(80%);
    }
}

@-moz-document domain("reddit.com") {
    /* Reddit - Goal: Code blocks, UI edits */
    ._34q3PgLsx9zIU5BiSOjFoM {
        font-family: var(--monospace), var(--block-mono), Noto Mono, Monaco,
            Consolas, monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }

    /* UI */
    .h-jI8r2f9ozTNqu_2TBeY {
        width: 1px !important;
    }

    ._3jiriKeNer8y0-1r6oWIFM {
        width: 1px !important;
    }

    ._3jiriKeNer8y0-1r6oWIFM {
        min-width: 40px !important;
    }
}

@-moz-document domain("stackoverflow.com"),
domain("superuser.com") {
    /* StackOverflow - Goal: All fonts, grayscale */
    code {
        font-family: var(--monospace), var(--block-mono), ui-monospace,
            "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco,
            Consolas, monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }

    .fw-bold,
    .unified-theme,
    .question-hyperlink,
    .comment-copy,
    .s-prose {
        font-family: var(--not-monospace), -apple-system, BlinkMacSystemFont,
            "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif !important;
    }

    /* Monospace - Simplifying breaks for some reason */
    #notify-container {
        filter: grayscale(80%);
    }

    #custom-header {
        filter: grayscale(80%);
    }

    header.s-topbar.ps-fixed.t0.l0.js-top-bar {
        filter: grayscale(80%);
    }

    div.container {
        filter: grayscale(80%);
    }

    footer.site-footer.js-footer {
        filter: grayscale(80%);
    }

    div.ff-sans.ps-fixed.z-nav-fixed.ws4.sm:w-auto.p32.sm:p16.bg-black-750.fc-white.bar-lg.b16.l16.r16.js-consent-banner {
        filter: grayscale(80%);
    }

    div.d-none {
        filter: grayscale(80%);
    }

    #onetrust-banner-sdk {
        filter: grayscale(80%);
    }

    div.d-none.js-consent-banner-version {
        filter: grayscale(80%);
    }
}

@-moz-document domain("poe.com") {
    /* Poe - Goal: Reduce usage of system font */
    .PageWithSidebarLayout_centeredPage__D42BU,
    .ReactModal__Content {
        font-family: var(--not-monospace), apple-system, system-ui,
            BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell,
            Helvetica Neue, sans-serif !important;
    }

    code > span {
        font-family: var(--monospace), var(--block-mono), Consolas, monaco,
            monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }
}

@-moz-document domain("chat.openai.com") {
    /* ChatGPT - Goal: Code blocks, grayscale */
    code {
        font-family: var(--monospace), var(--block-mono), Söhne Mono, Monaco,
            Andale Mono, Ubuntu Mono, monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }

    #__next {
        filter: grayscale(80%);
    }
}

@-moz-document domain("w3schools.com") {
    /* W3Schools - Goal: Code blocks, grayscale */
    .w3-white > code,
    .w3-codespan {
        font-family: var(--monospace), var(--block-mono), Consolas,
            "Source Code Pro", Menlo, Monaco, "Andale Mono", "Ubuntu Mono",
            monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }

    div.w3-bar.notranslate.w3-white,
    div.w3-hide-large,
    nav.w3-hide-small.navex,
    div.topnav.notranslate,
    div.w3-sidebar.w3-collapse,
    div.w3-main.w3-light-grey,
    a.ga-bottom,
    #pagetual-preload {
        filter: grayscale(80%);
    }
}

@-moz-document domain("learn.microsoft.com") {
    /* MS Learn - Goal: Code blocks, grayscale */
    pre > code,
    p > code,
    li > code {
        font-family: var(--monospace), var(--block-mono), SFMono-Regular,
            Consolas, Liberation Mono, Menlo, Courier, monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }

    div.header-holder.has-default-focus,
    div.mainContainer.uhf-container.uhf-container.is-full.has-default-focus,
    section.border-top.has-default-focus.is-hidden-interactive.margin-top-sm.margin-top-none,
    div.action-panel.has-default-focus {
        filter: grayscale(80%);
    }
}

@-moz-document domain("wikiwand.com") {
    /* Wikiwand - Goal: Code blocks, grayscale */
    p > code,
    li > code,
    pre > span {
        font-family: var(--monospace), var(--block-mono), Noto Sans Mono, Menlo,
            Consolas, Courier New, Courier, monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }

    #__next {
        filter: grayscale(80%);
    }
}

@-moz-document domain("developer.mozilla.org") {
    /* Mozilla Dev - Goal: Code blocks, grayscale */
    code,
    .section-content > pre {
        font-family: var(--monospace), var(--block-mono), monospace !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }

    pre > code,
    p > code,
    strong > code,
    .section-content > pre {
        font-size: 16px !important;
    }

    #root,
    #a11y-status-message {
        filter: grayscale(80%);
    }
}

@-moz-document domain("symbolab.com") {
    /* Symbolab - Goal: LaTeX input interface, grayscale */
    .latex-command-input {
        font-family: var(--monospace), var(--block-mono), "Courier New",
            monospace !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }

    #hiddenData,
    #dateTimePicker,
    #loading-spinner,
    div.nl-footer.print-hide.no-select,
    div.nl-hidden.nl-generatePdf,
    div.nl-page,
    div.nl-generatePdf.nl-hidden,
    div.hide-important,
    #symbolabLogoPrint1,
    #no-render-svg,
    #fb-root,
    #symbolabLogoPrint,
    div.print-hide,
    div.nl-cookiepolicy,
    div.nl-hidden.page {
        filter: grayscale(80%);
    }
}

@-moz-document domain("tcrf.net") {
    /* TCRF - Goal: Reduce usage of Arial font, code blocks, grayscale */
    .mediawiki {
        font-family: var(--not-monospace), sans-serif !important;
    }

    #searchInput {
        font-family: var(--not-monospace), "MS Shell Dlg 2" !important;
    }

    tt,
    .mw-parser-output > pre {
        font-family: var(--monospace), var(--block-mono), monospace, monospace !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }

    a.mw-wiki-logo,
    div.mw-panel,
    div.noprint,
    div.mw-body,
    #footer,
    div.suggestions {
        filter: grayscale(80%);
    }
}

@-moz-document domain("bard.google.com") {
    /* Google bard - Goal: code blocks */
    .code-container,
    .markdown > p code {
        font-family: "Google Sans Mono", var(--monospace), var(--block-mono),
            monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }
}

@-moz-document domain("bing.com") {
    /* Bing - Goal: Make sure website uses one single font + "fluent" changes + code blocks + grayscale */
    /* Var initializations */
    :root {
        --segoe-text-fallback: "Roboto", "Segoe UI Variable Text", "Segoe UI",
            SegoeUI, Segoe;
        --segoe-display: "Segoe UI Variable Display", "Segoe UI", SegoeUI, Segoe,
            "Roboto";
        --segoe-small-fallback: "Roboto", "Segoe UI Variable Small", "Segoe UI",
            SegoeUI, Segoe;
        /* --logo-url: url(https://r.bing.com/rp/QO12R6eZz9WMzJPOio-qN8bXJZ4.png); */
    }

    /* Japanese font fix by Kenji Iguchi */
    /* :root * { */
    /* Redefine variable cib-font-text */
    /* --cib-font-text: font-family: -apple-system, Roboto, "Segoe UI Variable Text", SegoeUI, "Segoe UI", "Helvetica Neue", Helvetica, "Meiryo UI", Meiryo, Arial Unicode MS, sans-serif !important; */
    /* } */

    /* Search box */
    .b_searchboxForm {
        border-radius: 12px !important;
        /* Box searchbar corners */
    }

    /* Navigation bar */
    /* All ul and li under a .b_scopebar element */
    .b_scopebar > ul li {
        /* Undo small caps */
        text-transform: none !important;
        font-size: 14px !important;
        font-family: var(--segoe-text-fallback), Arial, Helvetica, sans-serif !important;
    }

    .b_scopebar ul {
        height: 45px !important;
    }

    .b_scopebar li,
    .b_scopebar #b-scopeListItem-menu {
        line-height: 40px !important;
    }

    /* Navigation bar "pill" */
    .b_scopebar li::after {
        margin-top: -1px !important;
    }

    /* Navigation bar submenu */
    .b_scopebar_item > a {
        text-transform: none !important;
        font-size: 13px !important;
    }

    /* Change logo (at least on results pages) */
    /* .b_logo {
         height: 50px !important;
         margin-top: 0px !important;
         width: 150px !important;
     }
 
     .b_logo::after {
         content: var(--logo-url) !important;
         transform-origin: 47px 8px !important;
         transform: scale(0.1) !important;
     }
 
     .icon::after {
         content: none !important;
     } */

    img,
    svg,
    input,
    button,
    .container,
    .item,
    .hp_body,
    .v-live-t-txt,
    .l_ecrd_rrct-items,
    .b_app_common_btn {
        filter: grayscale(80%);
    }

    /* Fonts */
    a,
    #fltIdtCon,
    #id_h,
    #vvlb,
    .vrhcpt,
    .metaItem,
    .b_respl,
    .cbtn {
        font-family: var(--segoe-text-fallback), Arial, Helvetica, sans-serif !important;
    }

    a,
    #fltIdtCon,
    #vvlb,
    .vrhcpt,
    .metaItem,
    .b_respl,
    .cbtn {
        filter: grayscale(80%);
    }

    span {
        font-family: var(--segoe-text-fallback), Arial, Helvetica, sans-serif !important;
    }

    #sw_as {
        font-family: var(--segoe-text-fallback) !important;
        filter: opacity(100%);
        filter: grayscale(80%);
    }

    /* grayscale fix */
    .b_respl {
        filter: none;
    }

    /* Variable Small Fallback */
    #imagemeta,
    .sb_f_count,
    .b_algospacing,
    .b_bfbLcgAnchorText,
    .b_fbText,
    .b_seeMoreCont,
    .b_vPanel,
    .fdbtext,
    .l_ecrd_ftr_txt,
    .rstc,
    .sto_attr_header,
    .tdw_button,
    .ms-Button-label,
    .ms-search-text-h2,
    .recommendationsTableTitle > h2 {
        font-family: var(--segoe-small-fallback), Arial, sans-serif !important;
        filter: opacity(100%);
        filter: grayscale(80%);
    }

    .asSectionHeading,
    .sa_tm_subText {
        font-family: var(--segoe-small-fallback), Arial, Helvetica, sans-serif !important;
        filter: grayscale(80%);
    }

    .scopes {
        font-family: var(--segoe-small-fallback), Tahoma, Arial, Verdana,
            sans-serif !important;
        filter: grayscale(80%);
    }

    /* Variable Text */
    a,
    h2,
    h4,
    span > h3,
    #id_n,
    #detailMeta,
    .hb_title_col,
    .vrhtt,
    .ms-search-tenantLogo-text,
    .b_entityTitle,
    .b_primtxt,
    .b_searchboxForm,
    .b_topTitle,
    .b_vList,
    .dest_name,
    .ent-dtab-nam-ov-dtp,
    .qna_algoLink_title,
    .rwrl,
    .sto_attr_table,
    .sto_attrlitc,
    .wpvn_ala_wtt,
    .b_rc_gb_widget_title {
        font-family: "Segoe UI Variable Text", "Segoe UI", SegoeUI, Segoe,
            "Roboto", Arial, Helvetica, sans-serif !important;
        filter: grayscale(80%);
    }

    /* Variable Small */
    .dg_b .infnmpt .infpd a,
    .mc_vtvc_meta_row_channel,
    .title,
    .tit,
    .mc_vtvc_title,
    .mc_vtvc_title > span,
    .mc_vtvc_title > strong,
    .rd_gtrtb_nav_item,
    .b_title {
        font-family: "Segoe UI Variable Small", "Segoe UI", SegoeUI, Segoe,
            "Roboto", Arial, Helvetica, sans-serif !important;
        filter: opacity(100%);
        filter: grayscale(80%);
    }

    /* Variable Display */
    .b_focusTextLarge,
    .b_focusTextMedium,
    .b_mgridTitle,
    .irp-video-slogan,
    .scs_metactn > div h2,
    .sto_title,
    #rd_gtrtb_ttl,
    div > p span,
    h2 > span,
    container-title {
        font-family: var(--segoe-display), Helvetica, Arial, sans-serif !important;
        filter: opacity(100%);
        filter: grayscale(80%);
    }

    .rd_cCodeBg,
    .rd_code_blu,
    .rd_code_red {
        font-family: var(--monospace), var(--block-mono), Consolas, Courier,
            monospace !important;
        font-size: 16px !important;
        filter: opacity(100%);
        /* mactype /*
        
        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
        filter: grayscale(80%);
    }
}

@-moz-document domain("geeksforgeeks.org") {
    /* GeeksForGeeks - Goal: Code blocks, grayscale */
    div .text > pre,
    .container > div code,
    .outputDiv > pre {
        font-family: var(--monospace), var(--block-mono), Consolas, monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }

    div.header-main__wrapper,
    div.header-main__slider,
    button.btn.btn-success,
    div.wrapper,
    div.modal.fade,
    div.backdrop,
    footer.gfg-footer,
    div.cookie-consent.hide-consent,
    div.lightbox-target,
    #GFG_AD_Desktop_Stickyunit_1x1 {
        filter: grayscale(80%);
    }
}

@-moz-document domain("xda-developers.com") {
    /* XDADevelopers - Goal: Code blocks, grayscale */
    #_qc_cookie_access,
    div.u-bottomFixer.js-bottomFixTarget,
    div.uix_pageWrapper--fixed,
    #jumpToTop {
        filter: grayscale(80%);
    }

    .p-body,
    .p-nav-inner,
    .p-title-value,
    .bbWrapper,
    .button-text,
    .p-sectionLinks-list,
    .input {
        font-family: var(--not-monospace), -apple-system, BlinkMacSystemFont,
            segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji,
            segoe ui emoji, segoe ui symbol !important;
    }

    .bbCodeCode {
        font-family: var(--monospace), var(--block-mono), Monaco, Menlo,
            Consolas, roboto mono, andale mono, ubuntu mono, monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }
}

@-moz-document domain("discord.com") {
    /* Discord - Goal: Change font and formatting of code blocks, add fallbacks */
    .card-3ie2dy > div div,
    .constrainedRow-3y91Xf,
    .container-1eFtFS,
    .defaultColor-1EVLSt,
    .headerText-10ez_d,
    .standardSidebarView-E9Pc3j,
    .text-sm-normal-AEQz4v,
    .text-xs-normal-3O7EaX,
    button,
    h2,
    h3,
    span,
    input,
    .message-wB3GWa,
    .text-md-semibold-2VMhBr {
        font-family: "gg sans", "Noto Sans", "Noto Sans JP",
        "Noto Sans TC", "Noto Sans SC", "Noto Sans KR", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    }

    .hljs,
    .codeLine-2C-9aH,
    .inlineCode-ERyvy_,
    table,
    .inline {
        font-family: var(--block-mono), var(--monospace), Consolas,
            "Andale Mono WT", "Andale Mono", "Lucida Console",
            "Lucida Sans Typewriter", "Liberation Mono", "Nimbus Mono L", Monaco,
            "Courier New", Courier, monospace !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }
}