/* ==UserStyle==
@name           monospace
@namespace      github.com/openstyles/stylus
@version        2.12.3
@description    My personal changes to monospace fonts, etc
@author         Zerohazard8x LLM
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/monospace.user.css
@homepageURL    https://github.com/Zerohazard8x/custom/tree/main/stylus
==/UserStyle== */

@-moz-document domain("github.com"), domain("wikipedia.org"), domain("reddit.com"), domain("stackoverflow.com"), domain("superuser.com"), domain("stackexchange.com"), domain("chat.openai.com"), domain("w3schools.com"), domain("tcrf.net"), domain("mariowiki.com"), domain("ssbwiki.com"), domain("wikirby.com"), domain("splatoonwiki.org"), domain("niwanetwork.org"), domain("betawiki.net"), domain("raymanpc.com"), domain("consolemods.org"), domain("wiktionary.org"), domain("bing.com"), domain("copilot.microsoft.com"), domain("geeksforgeeks.org"), domain("discord.com"), domain("duckduckgo.com"), domain("remywiki.com"), domain("cagematch.net"), domain("perplexity.ai"), domain("instructure.com"), domain("minecraft.wiki"), domain("pcgamingwiki.com"), domain("liquipedia.net"), domain("redlib.privacyredirect.com"), domain("redlib.catsarch.com"), domain("redlib.private.coffee"), domain("undelete.pullpush.io"), domain("deskthority.net"), domain("libreddit.bus-hit.me"), domain("redlib.freedit.eu"), domain("redlib.pussthecat.org"), regexp("^.*www\.google\.com.*"), regexp("^(?!.*(\w+\.google\.com)).*google\.com.*") {
    :root {
        /* Define variables */
        --foreign: var(--emoji, ""), var(--noto, ""), PingFang, "PingFang SC",
            "Hiragino Sans", "Apple SD Gothic Neo", "Bangla MN", Thonburi,
            "Tiro Devanagari Hindi", "Geeza Pro", Geeza, "Yu Gothic",
            "Microsoft YaHei UI", "Microsoft YaHei", "Malgun Gothic",
            "Leelawadee UI", "Nirmala UI", "Segoe UI Arabic";
        --noto: "Noto Sans JP", "Noto Sans TC", "Noto Sans SC", "Noto Sans KR",
            "Noto Sans Thai", "Noto Sans Bengali", "Noto Sans Devanagari",
            "Noto Sans Arabic";
        --foreign-serif: var(--emoji, ""), "Shippori Mincho", "Noto Serif JP",
            "Noto Serif TC", "Noto Serif SC", "Noto Serif KR", "Noto Serif Thai",
            "Noto Serif Bengali", "Noto Serif Devanagari", "Noto Naskh Arabic",
            "Noto Serif";
        /* --foreign-full: var(--noto, ""), "FOT-Rodin Pro",
            "A-OTF UD Shin Go Pro", "FOT-NewRodin Pro", "Hiragino Sans",
            "Hiragino Sans GB", "Hiragino Kaku Gothic",
            "Hiragino Kaku Gothic Pro", "HarmonyOS Sans TC", "HarmonyOS Sans SC",
            "HarmonyOS Sans", PingFang, "PingFang SC", "Hiragino Sans GB",
            "Apple SD Gothic Neo", "Bangla MN", Thonburi, "Tiro Devanagari Hindi",
            "Geeza Pro", Geeza, "Yu Gothic", "Microsoft YaHei UI",
            "Microsoft YaHei", "Malgun Gothic", "Leelawadee UI", "Nirmala UI",
            "Segoe UI Arabic", var(--emoji, ""); */
        --emoji: "Apple Color Emoji", "SF Symbols", "Segoe UI Emoji",
            "Segoe Fluent Icons", "Segoe MDL2 Assets", "Segoe UI Symbol",
            "Noto Color Emoji", "Noto Sans Symbols", "EmojiOne Color",
            "Twemoji Mozilla";
        --sans: -apple-system, BlinkMacSystemFont, Inter, "Roboto",
            "Segoe UI Variable", "Segoe UI", "Avenir Next", Avenir;
        /* --sans-full: -apple-system, BlinkMacSystemFont, "SF Pro", Inter,
            "Roboto Flex", "Roboto", Barlow, Whitney, Lato, "Segoe UI Variable",
            "Segoe UI", "Motiva Sans", "Proxima Vara", "Proxima Nova", "FF Mark",
            "FF Mark Pro", "Avenir Next", Avenir, "HarmonyOS Sans TC",
            "HarmonyOS Sans SC", "HarmonyOS Sans", "Nunito", "Nunito Sans",
            "Fira Sans", FiraGO, "FF Meta", Manrope, "Helvetica Neue",
            "Helvetica", var(--plex, ""), "Ubuntu", "Open Sans", "Droid Sans"; */
        --plex: "IBM Plex Sans Var", "IBM Plex Sans JP", "IBM Plex Sans KR",
            "IBM Plex Sans";
        --slab-serif: Rokkitt, "Hepta Slab", "Zilla Slab", Rockwell;
        --serif: var(--slab-serif, ""), var(--foreign-serif, "");
        /* --serif-full: var(--slab-serif, ""), "Cheltenham Classic", "Source Serif", "Source Serif Pro",
            "Source Serif 4", "STIX Two Text", "Beaufort", "Beaufort Pro",
            "Serif UI", "Serif UI Text", Fraunces, Alegreya, Crimson,
            "Crimson Pro", "Crimson Text", Lora, "Montagu Slab", Century,
            "Century Schoolbook", "Libre Baskerville", Georgia, "ITC Garamond",
            "Apple Garamond", "Serif UI Display", var(--foreign-serif, ""); */
        --mono: var(--block-mono, ""), "Monaspace Argon Var",
            "Monaspace Argon VF", "Monaspace Argon", "Fira Mono";
        /* --mono-full: var(--block-mono-full, ""), "Monaspace Argon Var", "Monaspace Argon VF",
            "Monaspace Argon", "Fira Code VF", "Fira Code", "Fira Mono",
            "Fira Code Retina", "Noto Mono", "Noto Sans Mono", "DroidSansM",
            "SF Mono", "SFMono-Regular", "CodeNewRoman Nerd Font", Consolas,
            Hack, "Hack Nerd Font", "Bitstream Vera Sans Mono",
            "BitstromWera Nerd Font", "DejaVu Sans Mono", "Cascadia Code",
            "CaskaydiaCove Nerd Font", "Cascadia Mono", "Segoe UI Mono",
            "Intel One Mono", Menlo, "MesloLG Nerd Font", Monaco, "Ubuntu Mono",
            "Ubuntu Mono Nerd Font", Agave, "Agave Nerd Font", Hasklig,
            "Hasklug Nerd Font", "Source Code Pro", "Source Code Pro Nerd Font",
            "Andale Mono", "Lucida Console", "Lucida Sans Typewriter"; */
        --block-mono: "JetBrains Mono", "JetBrains Mono NL",
            "JetBrainsMono Nerd Font", "Fantasque Sans Mono";
        /* --block-mono-full: "JetBrains Mono", "JetBrains Mono NL",
            "JetBrainsMono Nerd Font", "Fantasque Sans Mono",
            "FantasqueSansM Nerd Font", "Input Mono", "Envy Code R",
            "EnvyCodeR Nerd Font", "Monaspace Neon Var", "Monaspace Neon VF",
            "Monaspace Neon", "IBM Plex Mono", "BlexMono Nerd Font",
            "Roboto Mono", ProFont, "Monaspace Krypton Var",
            "Monaspace Krypton VF", "Monaspace Krypton", ProFontIIx,
            ProFontWindows, "Iosevka", "Iosevka Nerd Font",
            "IosevkaTerm Nerd Font", "Input Sans"; */
    }

    *:not(
            pre *,
            .far,
            .fa,
            .glyphicon,
            [class*="vjs-"],
            .fab,
            .fa-github,
            .fas,
            .material-icons,
            .icofont,
            .typcn,
            mu,
            [class*="mu-"],
            .glyphicon,
            .icon
        ),
    pre,
    code,
    tt {
        font-feature-settings: "liga", "clig", "calt", "kern" !important;
        -webkit-font-smoothing: antialiased !important;
        -moz-osx-font-smoothing: grayscale !important;
        -ms-font-smoothing: antialiased !important;
        text-rendering: optimizeLegibility !important;
        font-synthesis: none !important;
        font-optical-sizing: auto !important;
        font-size-adjust: from-font !important;
        font-kerning: auto !important;
        letter-spacing: normal !important;
    }

    /* restrict arial */
    @font-face {
        font-family: "Arial";
        src: local("Arial");
        unicode-range: U+0030-0039, U+0061-007A, U+0041-005A, U+0060, U+007E,
            U+0021-002F, U+003A-0040, U+005B-0060, U+007B-007E;
    }

    @font-face {
        font-family: "Arial Regular";
        src: local("Arial Regular");
        unicode-range: U+0030-0039, U+0061-007A, U+0041-005A, U+0060, U+007E,
            U+0021-002F, U+003A-0040, U+005B-0060, U+007B-007E;
    }

    @font-face {
        font-family: "Arial Black";
        src: local("Arial Black");
        unicode-range: U+0030-0039, U+0061-007A, U+0041-005A, U+0060, U+007E,
            U+0021-002F, U+003A-0040, U+005B-0060, U+007B-007E;
    }

    @font-face {
        font-family: "Arial Narrow";
        src: local("Arial Narrow");
        unicode-range: U+0030-0039, U+0061-007A, U+0041-005A, U+0060, U+007E,
            U+0021-002F, U+003A-0040, U+005B-0060, U+007B-007E;
    }

    @font-face {
        font-family: "Arial Bold";
        src: local("Arial Bold");
        unicode-range: U+0030-0039, U+0061-007A, U+0041-005A, U+0060, U+007E,
            U+0021-002F, U+003A-0040, U+005B-0060, U+007B-007E;
    }

    @font-face {
        font-family: "Arial Italic";
        src: local("Arial Italic");
        unicode-range: U+0030-0039, U+0061-007A, U+0041-005A, U+0060, U+007E,
            U+0021-002F, U+003A-0040, U+005B-0060, U+007B-007E;
    }

    @font-face {
        font-family: "Arial Bold Italic";
        src: local("Arial Bold Italic");
        unicode-range: U+0030-0039, U+0061-007A, U+0041-005A, U+0060, U+007E,
            U+0021-002F, U+003A-0040, U+005B-0060, U+007B-007E;
    }

    @font-face {
        font-family: "Arial Narrow Bold";
        src: local("Arial Narrow Bold");
        unicode-range: U+0030-0039, U+0061-007A, U+0041-005A, U+0060, U+007E,
            U+0021-002F, U+003A-0040, U+005B-0060, U+007B-007E;
    }

    @font-face {
        font-family: "Arial Narrow Italic";
        src: local("Arial Narrow Italic");
        unicode-range: U+0030-0039, U+0061-007A, U+0041-005A, U+0060, U+007E,
            U+0021-002F, U+003A-0040, U+005B-0060, U+007B-007E;
    }

    @font-face {
        font-family: "Arial Narrow Bold Italic";
        src: local("Arial Narrow Bold Italic");
        unicode-range: U+0030-0039, U+0061-007A, U+0041-005A, U+0060, U+007E,
            U+0021-002F, U+003A-0040, U+005B-0060, U+007B-007E;
    }
}

@-moz-document domain("github.com") {
    :root {
        --fontStack-monospace: __monaspaceNeon_4fcba3,
            __monaspaceNeon_Fallback_4fcba3, "Monaspace Neon Var",
            "Monaspace Neon VF", "Monaspace Neon", ui-monospace, SFMono-Regular,
            SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    }

    body,
    .markdown-body {
        font-family: "Mona Sans", "Mona Sans Header Fallback", -apple-system,
            BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial,
            sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
            var(--foreign, "") !important;
    }

    code,
    kbd,
    pre,
    samp {
        font-family: __monaspaceNeon_4fcba3, __monaspaceNeon_Fallback_4fcba3,
            "Monaspace Neon Var", "Monaspace Neon VF", "Monaspace Neon",
            monospace, var(--foreign, "") !important;
    }

    .react-blob-print-hide {
        font-family: __monaspaceNeon_4fcba3, __monaspaceNeon_Fallback_4fcba3,
            "Monaspace Neon Var", "Monaspace Neon VF", "Monaspace Neon",
            ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
            "Liberation Mono", monospace, var(--foreign, "") !important;
    }
}

@-moz-document domain("wikipedia.org") {
    @media screen {
        html,
        body {
            font-family: var(--sans, ""), var(--foreign, ""), sans-serif !important;
        }
    }

    body {
        font-family: var(--sans, ""), -apple-system, "BlinkMacSystemFont",
            "Segoe UI", "Roboto", "Inter", "Helvetica", "Arial", sans-serif,
            var(--foreign, "");
    }

    /* matches all with class containing heading */
    /* ... i] means case insensitive*/
    blockquote,
    .pre-content h1,
    .content h1,
    [class*="heading" i],
    .content h2 {
        font-family: var(--serif, ""), "Linux Libertine", "Georgia", "Times",
            "Source Serif Pro", serif, var(--foreign, "") !important;
    }

    @media screen {
        [class*="heading" i],
        .mw-body h1,
        .mw-body-content h1,
        .mw-body-content h2 {
            font-family: var(--serif, ""), "Linux Libertine", "Georgia", "Times",
                "Source Serif Pro", serif;
        }
    }

    .monospaced,
    .diff tbody tr * *,
    code,
    pre span {
        font-family: var(--mono, ""), monospace, var(--foreign, "") !important;
    }
}

@-moz-document domain("reddit.com"), domain("undelete.pullpush.io") {
    .button,
    h3,
    body,
    #search input[type="text"],
    .flat-vert.title,
    :root,
    button,
    html,
    input,
    select,
    .side .titlebox .md,
    .comments-page .commentarea .menuarea,
    .comments-page .panestack-title,
    .entry .buttons li a,
    .entry .buttons li,
    .linkinfo,
    .side .md * {
        font-family: var(--noto, ""), "Noto Sans", NotoSans,
            var(
                --font-sans,
                'var(--sans, ""), verdana, arial, helvetica, sans-serif'
            ),
            var(--foreign, "") !important;
        /* --font-18: normal undefined null/null var(--font-sans); */
    }

    div.prefixedName.font-bold.truncate.mr-xs,
    h1,
    #header-bottom-left .tabmenu,
    .link .title,
    .entry .tagline,
    .flair,
    .titlebox .usertext a,
    .side::after,
    a:not(.content li a):not(* p a):not(.bottom a):not(
            ._1a_HxF03jCyxnx706hQmJR a
        ):not(.comments):not(.post-sharing-button):not(.login-required a):not(
            form span a
        ):not(._3t5uN8xUmg0TOwRCOGQEcU):not(.button-small):not(
            .recover-password
        ):not(p em a):not(faceplate-tracker a):not(ul li a):not(
            .pointer-events-auto
        ):not(h6 a):not(.a):not(object a):not(span.nowrap a) {
        font-family: IBMPlexSans, var(--plex, ""), Lato, var(--noto, ""),
            "Noto Sans", NotoSans, var(--font-sans, ""), var(--foreign, "") !important;
    }

    .md pre,
    code,
    #shortlink-text {
        font-family: var(--mono, ""), monospace, var(--foreign, "") !important;
    }

    ._34q3PgLsx9zIU5BiSOjFoM {
        font-family: var(--mono, ""), Noto Mono, Monaco, Consolas, monospace,
            var(--foreign, "") !important;
    }
}

@-moz-document domain("stackoverflow.com"), domain("superuser.com"), domain("stackexchange.com") {
    body.unified-theme *,
    html,
    body {
        --ff-sans: var(--sans, ""), -apple-system, BlinkMacSystemFont,
            "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
        --theme-body-font-family: var(--sans, ""), var(--ff-sans);
        --theme-post-body-font-family: var(--sans, ""), var(--ff-sans);
        --ff-mono: var(--mono, ""), ui-monospace, "Cascadia Mono",
            "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas,
            monospace, var(--foreign, "");
    }
}

@-moz-document domain("chatgpt.com") {
    code,
    .shrink-0 {
        font-family: var(--mono, ""), Söhne Mono, Monaco, Andale Mono,
            Ubuntu Mono, monospace, var(--foreign, "") !important;
    }

    .katex-error {
        color: var(--tw-prose-body) !important;
    }
}

@-moz-document domain("w3schools.com") {
    .w3-code,
    .language-java,
    .w3-codespan {
        font-family: var(--mono, ""), Consolas, "Source Code Pro", Menlo, Monaco,
            "Andale Mono", "Ubuntu Mono", monospace, var(--foreign, "") !important;
    }
}

@-moz-document domain("tcrf.net"), domain("mariowiki.com"), domain("ssbwiki.com"), domain("wikirby.com"), domain("splatoonwiki.org"), domain("niwanetwork.org"), domain("betawiki.net"), domain("raymanpc.com"), domain("remywiki.com"), domain("consolemods.org"), domain("wiktionary.org"), domain("minecraft.wiki"), domain("pcgamingwiki.com"), domain("liquipedia.net"), domain("deskthority.net") {
    /* 	MediaWiki */
    .mw-editsection,
    .mediawiki,
    #sidebar,
    h3 {
        font-family: var(--sans, ""), "Open Sans", "Helvetica Neue", Helvetica,
            "Liberation Sans", Arial, Helvetica, FreeSans, sans-serif,
            var(--foreign, "") !important;
    }

    .mw-editsection {
        font-family: var(--sans, ""), sans-serif, var(--foreign, "") !important;
    }

    input {
        font-family: var(--sans, ""), "MS Shell Dlg 2" !important;
    }

    .pBody {
        font-family: var(--sans, ""), verdana, sans-serif, var(--foreign, "") !important;
    }

    #personal h2 {
        font-family: var(--sans, ""), "Helvetica Neue", "Nimbus Sans",
            "Helvetica", "Arial" !important;
    }

    /* applies to e.g. <span lang="ja"> */
    :lang(zh),
    :lang(ja),
    :lang(ko) {
        font-family: var(--sans, ""), sans-serif, var(--foreign, "") !important;
    }

    h1,
    h2 {
        font-family: var(--serif, ""), "Linux Libertine", "Georgia", "Times",
            serif, var(--foreign, "") !important;
    }

    .template-infotable-monospace,
    code,
    tt,
    .mw-parser-output pre {
        font-family: var(--mono, ""), monospace, var(--foreign, "") !important;
    }

    p span b:not(.Latn) {
        font-family: var(--mono, ""), Consolas, DejaVu Sans Mono,
            Droid Sans Mono, Lucida Console, Courier New, monospace,
            var(--foreign, "") !important;
    }
}

@-moz-document regexp("^.*www\.google\.com.*"), regexp("^(?!.*(\w+\.google\.com)).*google\.com.*") {
    /* Google */
    /* Regex excludes e.g. mail.google.com */
    /* Combined: ^(?:.*www\.google\.com.*|(?!.*(\w+\.google\.com)).*google\.com.*) */
    :root {
        --google: "Google Sans Text", "Roboto Flex", Roboto, "Roboto Draft",
            RobotoDraft, Roboto-Regular;
    }

    .IVvPP .zloOqf,
    #rhs .ss6qqb .zloOqf,
    .IFvyDb.hb8SAc,
    .iAIpCb,
    .wHYlTd,
    .tNxQIb,
    .og3lId,
    .GdCiyb,
    .M2qv4b,
    html,
    body,
    h1,
    .VwiC3b,
    .BwPElf .toI8Rb,
    .Pqkn2e,
    .g,
    .e9EfHf,
    .gb_Kd,
    .lJ9FBc input[type="submit"],
    .gbqfba,
    textarea.gLFyf,
    .GGYY2b,
    .HK7bjf,
    .HaXvv,
    .HmPpvd,
    .IVvPP .WY0eLb .XaIwc,
    .JMWMJ,
    .L3eUgb,
    .LGwnxb,
    .MBeuO,
    .NUnG9d,
    .NhRr3b,
    .Or3oFf,
    .PlQycd,
    .QMh54c,
    .QgaiDb,
    .SmBdrc,
    .T4LgNb,
    .VP31Vb,
    .W7GCoc,
    .YrbPuc,
    .ZU8Abc,
    .ZkkK1e,
    .ZwRhJd {
        font-family: "Google Sans Text", var(--google, ""), Roboto, RobotoDraft,
            Helvetica, "Helvetica Neue", HelveticaNeue, Arial,
            var(--foreign, ""), sans-serif !important;
    }

    /* Force Google Sans (if available) */
    .CVxCqb,
    .JgzqYd,
    .cUnQKe .ILfuVd,
    .cUnQKe .UiGGAb.ILfuVd,
    .w5mTAe .ILfuVd,
    .cNacUd,
    .ALPRDc,
    .fm06If .ILfuVd,
    .c2xzTb .ILfuVd,
    .Jb0Zif .c2xzTb .ILfuVd,
    .di3YZe,
    .CSkcDe,
    .related-question-pair div.iDjcJe,
    .IFnjPb,
    .GvPZzd,
    .VuuXrf,
    .sjVJQd,
    .a-no-hover-decoration,
    .GLcBOb,
    #result-stats {
        font-family: "Google Sans", "Google Sans Text", var(--google, ""),
            Roboto, RobotoDraft, Helvetica, "Helvetica Neue", HelveticaNeue,
            Arial, var(--foreign, ""), sans-serif !important;
    }

    .YmvwI,
    .FMKtTb {
        font-family: Google Sans, "Google Sans Text", var(--google, ""), Roboto,
            RobotoDraft, Helvetica, "Helvetica Neue", HelveticaNeue, Arial,
            var(--foreign, ""), sans-serif-medium, sans-serif !important;
    }

    .googlegpt pre,
    #googlegpt-chatbar,
    .markdown p code,
    div.otByu div.cwqNnb span.BFlQMb {
        font-family: "Google Sans Mono", var(--mono, ""), var(--foreign, ""),
            monospace !important;
    }

    .sfbg,
    .appbar {
        background: none !important;
    }
}
@-moz-document domain("bing.com"), domain("copilot.microsoft.com") {
    /* Bing */
    /* 	body {
		font-family: "-apple-system",HelveticaNeue,Roboto,Arial,var(--noto, ""),sans-serif, var(--noto, "") !important;
	} */

    body,
    .b_no h4,
    h2 .b_secondaryText,
    h2 .b_alert,
    .b_underSearchbox,
    #b_header {
        font-family: Roboto, Helvetica, "-apple-system", HelveticaNeue, Roboto,
            Arial, sans-serif, var(--foreign, "") !important;
    }

    h1,
    h2,
    h3 {
        font-family: Roboto, sans-serif, var(--foreign, "") !important;
    }

    div.content {
        font-family: -apple-system, Roboto, SegoeUI, "Segoe UI",
            "Helvetica Neue", Helvetica, "Microsoft YaHei", "Meiryo UI", Meiryo,
            Arial Unicode MS, sans-serif, var(--foreign, "") !important;
    }

    [class*="code" i] {
        font-family: var(--mono, ""), Consolas, Courier, monospace,
            var(--foreign, "") !important;
    }

    #sa_zis_banner_block,
    .below_sbox,
    .cdxConv.\:.cdxConv_slsboxl.\?.false,
    .nomvs.msnpeek.widget.bottom_row {
        display: none !important;
    }
}

@-moz-document domain("geeksforgeeks.org") {
    div .text pre,
    .container div code,
    .outputDiv pre {
        font-family: var(--mono, ""), Consolas, monospace, var(--foreign, "") !important;
    }
}

@-moz-document domain("discord.com") {
    :root {
        --disc-font: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
            sans-serif, var(--foreign, "");

        --font-primary: var(--disc-font);
        --font-display: var(--disc-font);
    }

    .codeLine__3797b,
    .hljs,
    .codeLine-2C-9aH,
    .inlineCode-ERyvy_,
    table,
    .inline {
        font-family: var(--mono, ""), Consolas, "Andale Mono WT", "Andale Mono",
            "Lucida Console", "Lucida Sans Typewriter", "Liberation Mono",
            "Nimbus Mono L", Monaco, "Courier New", Courier, monospace,
            var(--foreign, "") !important;
    }

    .embedMargin_ad0b71.embedProvider_ad0b71,
    .sectionTitle__3e02b > .defaultMarginh5__6e314.eyebrow__4e5bb.h5__28baa,
    .welcomeCTA__927ef {
        display: none !important;
    }
}

@-moz-document domain("duckduckgo.com") {
    :root {
        --theme-font-family-result-title: var(--default-font, ""),
            var(--foreign, "");
        --sds-font-family-monospace: var(--mono, ""), ui-monospace, Menlo,
            Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono",
            "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono",
            "Droid Sans Mono", "Courier New", monospace;
    }

    body,
    input,
    select,
    textarea {
        font-family: var(--theme-font-family-result-title, "") !important;
    }

    code,
    .wZ4JdaHxSAhGy1HoNVja span span,
    .ddgpt pre {
        font-family: var(--mono, ""), Consolas, Menlo, Monaco, monospace,
            var(--foreign, "") !important;
    }

    .belowTheFold_howItWorksSection__nbvql,
    .center_andText__ejUnC.center_intrinsic__mk_Ab.center_root__Uf1xM.homepage-cta-section_scrollCta__HuSCL,
    .container_responsive__IDWnv.container_root__Lmrbx.desktop-homepage_belowTheFold__w0uDu,
    .container_responsive__IDWnv.container_root__Lmrbx.desktop-homepage_heroContent__px79B,
    .privacy-reminder.dropdown--region.dropdown,
    .yjuFYcjOI844d3KiuLhz.nOpYdHAdSD_d47TfU1p8.KE_4ibtn0WI3iUo6lJw9 {
        display: none !important;
    }
}

@-moz-document domain("cagematch.net") {
    .FormSelect,
    .FormInput,
    .TemplateBody,
    .HeaderMenu,
    .RatingsBoxAdjustedRating,
    input {
        font-family: var(--sans, ""), Arial, "Segoe UI", Frutiger,
            "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", sans-serif,
            var(--foreign, "") !important;
    }

    .starRating {
        font-family: var(--mono, ""), Courier, serif, var(--foreign, "") !important;
    }
}

@-moz-document domain("perplexity.ai") {
    :host,
    html,
    .font-sans {
        font-family: var(--font-fk-grotesk-neue, ""), ui-sans-serif, system-ui,
            -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Helvetica Neue, Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
            "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
            var(--foreign, "") !important;
    }

    .font-display {
        font-family: var(--font-fk-grotesk, ""), ui-sans-serif, system-ui,
            -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Helvetica Neue, Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
            "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
            var(--foreign, "");
    }

    .ace_placeholder.ace_comment,
    code {
        font-family: var(--mono, ""), var(--font-berkeley-mono, "") !important;
    }

    .font-mono,
    .marker\:font-mono ::marker {
        font-family: var(--mono, ""), var(--font-berkeley-mono, ""),
            ui-monospace, SFMono-Regular, monospace, var(--foreign, "") !important;
    }
}

@-moz-document domain("instructure.com") {
    /* Canvas */
    /*     a {
        text-decoration: none !important;
    } */

    html,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    button,
    select,
    textarea {
        font-family: Iosevka, var(--mono, ""), monospace, "Lato Extended",
            "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif,
            var(--foreign, "") !important;
    }

    .css-l3we3a-checkboxFacade__label,
    [class*="css" i][class*="head" i],
    .css-qfe6jw,
    [class*="css" i][class*="button" i],
    [class*="css" i][class*="text" i],
    [class*="css" i][class*="view" i],
    #tinymce {
        font-family: Iosevka, var(--mono, ""), monospace, LatoWeb,
            "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial,
            sans-serif, var(--foreign, "") !important;
    }

    .ef-file-preview-header-download span,
    #App {
        font-family: Iosevka, var(--mono, ""), monospace, "Lato", sans-serif,
            var(--foreign, "") !important;
    }
}

@-moz-document domain("redlib.privacyredirect.com"), domain("redlib.catsarch.com"), domain("redlib.private.coffee"), domain("libreddit.bus-hit.me"), domain("redlib.pussthecat.org"), domain("redlib.freedit.eu"), domain("red.artemislena.eu") {
    /* Redlib */
    html,
    body,
    div,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol,
    dl,
    li,
    dt,
    dd,
    p,
    blockquote,
    pre,
    form,
    fieldset,
    table,
    th,
    td,
    select,
    input {
        font-family: "Inter", sans-serif, var(--foreign, "") !important;
    }

    .md code {
        font-family: var(--mono, ""), monospace, sans-serif, var(--foreign, "") !important;
    }
}