/* ==UserStyle==
@name           monospace
@namespace      github.com/openstyles/stylus
@version        2.0.2
@description    My personal changes to codeblocks, etc
@author         Zerohazard8x + LLM
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/monospace.user.styl
@homepageURL    https://github.com/Zerohazard8x/custom/tree/main/stylus
==/UserStyle== */

@import url("https://fonts.googleapis.com/css?family=Inter|Roboto|Noto+Sans+JP|Noto+Sans+TC|Noto+Sans+SC|Noto+Sans+KR|Fira+Code|IBM+Plex+Mono|Libre+Baskerville");

:root {
    /* Define variables */
    --not-monospace: -apple-system, BlinkMacSystemFont, "SF Pro", "SF Pro Text",
        "Inter", "Roboto", "IBM Plex Sans", "Noto Sans", "Noto Sans JP",
        "Noto Sans TC", "Noto Sans SC", "Noto Sans KR", "IBM Plex Sans JP",
        "IBM Plex Sans KR";
    --serif: "Libre Baskerville", Georgia, "EB Garamond";
    --monospace: "Fira Code", "Fira Mono", "Noto Mono", "Noto Sans Mono",
        "DroidSansM", "SF Mono", "SFMono-Regular", "CodeNewRoman Nerd Font",
        "Consolas", "Hack", "Hack Nerd Font", "Bitstream Vera Sans Mono",
        "BitstromWera Nerd Font", "DejaVu Sans Mono", "Cascadia Code",
        "CaskaydiaCove Nerd Font", "Cascadia Mono", "Segoe UI Mono",
        "Intel One Mono", Menlo, "MesloLG Nerd Font", Monaco, "Ubuntu Mono",
        "Ubuntu Mono Nerd Font", "Hasklig", "Hasklug Nerd Font",
        "Source Code Pro", "Source Code Pro Nerd Font", "Andale Mono",
        "Lucida Console", "Lucida Sans Typewriter";
    --block-mono: "IBM Plex Mono", "BlexMono Nerd Font", "Roboto Mono",
        "Fantasque Sans Mono", "FantasqueSansM Nerd Font", "Agave Nerd Font",
        "JetBrains Mono", "JetBrains Mono NL", "JetBrainsMono Nerd Font",
        ProFont, "Input Mono", "Envy Code R", "EnvyCodeR Nerd Font",
        "Iosevka Expanded", "Iosevka", "Iosevka Nerd Font",
        "IosevkaTerm Nerd Font", "Input Sans", "Liberation Mono";
    --mono-combo: var(--block-mono), var(--monospace);
}

@-moz-document domain("github.com") {
    /* Github */
    .d-flex,
    .Link--primary,
    .d-inline-block,
    .p-responsive,
    .Layout,
    .markdown-body,
    .page-responsive,
    .PageHeader-title,
    .Box-sc-g0xbh4-0,
    .Dialog__Footer-sc-uaxjsn-6,
    .my-3,
    .d-block,
    .container,
    section,
    details,
    blockquote,
    .container-lg {
        font-family: var(--not-monospace), -apple-system, BlinkMacSystemFont,
            "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji" !important;
    }

    tt,
    #commit-summary-input,
    .blob-code-inner,
    .blob-num,
    .branch-name,
    .diffstat,
    .file-info,
    .sha,
    .sha-block,
    .text-mono,
    .input-monospace,
    .BranchName-sc-sg8jsy-0,
    pre,
    kbd,
    code {
        font-family: var(--mono-combo), ui-monospace, SFMono-Regular, SF Mono,
            Menlo, Consolas, Liberation Mono, monospace !important;
    }

    .blob-code-inner,
    .blob-num,
    pre {
        font-size: 16px !important;
    }
}

@-moz-document domain("wikipedia.org") {
    /* Wikipedia */
    #searchform,
    #p-lang-btn-label,
    #vector-page-tools-dropdown-label,
    .grid,
    .noime,
    .invite,
    .vector-body,
    .vector-menu,
    .vector-menu-content-list,
    .vector-pinnable-header-toggle-button,
    .vector-toc,
    cite,
    .mwe-popups-container {
        font-family: var(--not-monospace), sans-serif !important;
    }

    p > code,
    li > code,
    pre > span {
        font-family: var(--mono-combo), monospace !important;
        font-size: 16px !important;
    }
}

@-moz-document domain("reddit.com") {
    /* Reddit */
	.add, .md > p, .md > p > a, .md > p > strong, .buttons > button, .md > ul > li > a, .flat-list > li > a, .users-online > span, blockquote > ul > li > a, blockquote > ul > li, .login-required, .user, .pagename > a {
        font-family: Noto Sans, "Helvetica Neue","Helvetica","Arial",sans-serif !important;
    }
	
    .loggedin, .score, .spacer, .login-form, .login-form > input, .flat-list, time, .author, .usertext-body, .numchildren, .choice, .score > span {
        font-family: Noto Sans, verdana, arial, helvetica, sans-serif !important;
    }
	
	.shortlink, .date, .date > span {
		font-family: Noto Sans, arial, helvetica, sans-serif !important;
	}
	
	#search > input {
        font-family: "IBM Plex Sans", IBMPlexSans, Noto Sans, Verdana !important;
    }
	
	.commentsignupbar__textarea-above,
	.commentsignupbar__title,
	.commentsignupbar__desc,
	.commentsignupbar__cta-button,
    #header,
    .head {
        font-family: "IBM Plex Sans", IBMPlexSans, Noto Sans, verdana, arial, helvetica,
            sans-serif !important;
    }

	.morelink {
		font-family: "IBM Plex Sans", IBMPlexSans, Noto Sans, arial, helvetica, sans-serif !important;
	}
	
    .title, .title > h1, .title-button, .redditname {
        font-family: "IBM Plex Sans", IBMPlexSans, Noto Sans, arial, verdana, "Helvetica Neue","Helvetica", sans-serif !important;
    }
	
	.md > h2, .md > h3, h4, .md > h1, .hover, .subscribers > span, h5 {
        font-family: "IBM Plex Sans", IBMPlexSans, Noto Sans, "Helvetica Neue","Helvetica","Arial",sans-serif !important;
    }

    ._3oHXlwUZwpR5SS-8P9tILX {
        font-family: "IBM Plex Sans", IBMPlexSans, Noto Sans, NotoSans, Arial, sans-serif !important;
    }

    ._34q3PgLsx9zIU5BiSOjFoM {
        font-family: var(--mono-combo), Noto Mono, Monaco, Consolas, monospace !important;
    }

    pre > ._34q3PgLsx9zIU5BiSOjFoM {
        font-size: 16px !important;
    }
}

@-moz-document domain("stackoverflow.com"), domain("superuser.com"), domain("stackexchange.com") {
    /* StackOverflow */
    code {
        font-family: var(--mono-combo), ui-monospace, "Cascadia Mono",
            "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas,
            monospace !important;
    }

    .s-code-block > code {
        font-size: 16px !important;
    }

    .dno,
    .fw-bold,
    .unified-theme,
    .question-hyperlink,
    .comment-copy,
    .s-prose {
        font-family: var(--not-monospace), -apple-system, BlinkMacSystemFont,
            "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif !important;
    }
}

@-moz-document domain("poe.com") {
    /* Poe */
    .BotInfoCardHeader_followerCount__nrf6H,
    .BotMetadataTag_BotMetadataTag__Jkq1r,
    .Button_buttonBase__Bv9Vx,
    .ChatHeader_subText__JcFh3,
    .ChatHistoryListItem_flexWithCenteredItems__Xmy6y,
    .ChatHistoryListItem_secondaryText__bBw_y,
    .ContinueLastChat_left___0Rco,
    .ExploreBotListItem_botDescription__Ps9Jt,
    .ExploreBotListItem_botName__W6Tyi,
    .FileInfo_metadata__Wu4uZ,
    .FileInfo_title__sUM2l,
    .LinksSection_link__Z9CvZ,
    .Markdown_markdownContainer__Tz3HQ,
    .SidebarCard_link__ot_pN,
    .SidebarLayout_layoutWrapper__mPYi4,
    h2,
    p,
    .ChatMessage_badge__ah1FU {
        font-family: var(--not-monospace), -apple-system, system-ui,
            BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell,
            Helvetica Neue, sans-serif !important;
    }

    code > span {
        font-family: var(--mono-combo), Consolas, monaco, monospace !important;
        font-size: 16px !important;
    }
}

@-moz-document domain("chat.openai.com") {
    /* ChatGPT */
    code {
        font-family: var(--mono-combo), Söhne Mono, Monaco, Andale Mono,
            Ubuntu Mono, monospace !important;
        font-size: 16px !important;
    }
}

@-moz-document domain("w3schools.com") {
    /* W3Schools */
    .w3-code,
    .language-java,
    .w3-codespan {
        font-family: var(--mono-combo), Consolas, "Source Code Pro", Menlo,
            Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
        font-size: 16px !important;
    }
}

@-moz-document domain("learn.microsoft.com") {
    /* MS Learn */
    pre > code,
    p > code,
    li > code {
        font-family: var(--mono-combo), SFMono-Regular, Consolas,
            Liberation Mono, Menlo, Courier, monospace !important;
        font-size: 16px !important;
    }
}

@-moz-document domain("wikiwand.com") {
    /* Wikiwand + serif */
    .monospaced,
    code,
    pre {
        font-family: var(--mono-combo), Noto Sans Mono, Menlo, Consolas,
            Courier New, Courier, monospace !important;
    }

    .monospaced,
    pre {
        font-size: 16px !important;
    }

    .section-h,
    .item_item__Faryz {
        font-family: var(--serif), Noto Serif, "Noto Serif",
            "Noto Serif-fallback-1", serif !important;
    }
}

@-moz-document domain("developer.mozilla.org") {
    /* Mozilla Dev */
    code,
    .section-content > pre {
        font-family: var(--mono-combo), Menlo, Consolas, Monaco, Liberation Mono,
            Lucida Console, monospace !important;
    }

    pre > code,
    p > code,
    strong > code {
        font-size: 16px !important;
    }
}

@-moz-document domain("symbolab.com") {
    /* Symbolab + LaTeX input interface */
    .latex-command-input {
        font-family: var(--mono-combo), "Courier New", monospace !important;
    }
}

@-moz-document domain("tcrf.net"), domain("mariowiki.com"), domain("ssbwiki.com"), domain("wikirby.com"), domain("splatoonwiki.org"), domain("niwanetwork.org"), domain("betawiki.net"), domain("raymanpc.com") {
    /* MediaWiki */
    .mediawiki,
    #sidebar,
    h3 {
        font-family: var(--not-monospace), sans-serif !important;
    }

    input {
        font-family: var(--not-monospace), "MS Shell Dlg 2" !important;
    }

    .pBody {
        font-family: var(--not-monospace), verdana, sans-serif !important;
    }

    #personal > h2 {
        font-family: var(--not-monospace), "Helvetica Neue", "Nimbus Sans",
            "Helvetica", "Arial", sans-serif !important;
    }

    h1,
    h2 {
        font-family: var(--serif), "Linux Libertine", "Georgia", "Times", serif !important;
    }

    code,
    tt,
    .mw-parser-output > pre {
        font-family: var(--mono-combo), monospace !important;
    }

    p > span > b {
        font-family: var(--mono-combo), Consolas, DejaVu Sans Mono,
            Droid Sans Mono, Lucida Console, Courier New, monospace !important;
    }
}

@-moz-document domain("bard.google.com") {
    /* Google bard */
    .code-container,
    .markdown > p code {
        font-family: "Google Sans Mono", var(--mono-combo), monospace !important;
        font-size: 16px !important;
    }
}

@-moz-document domain("bing.com") {
    /* Bing + "fluent" changes */
    :root {
        --roboto-then-segoe-text: "Roboto", "Segoe UI Variable Text", "Segoe UI",
            SegoeUI, Segoe;
        --segoe-display: "Segoe UI Variable Display", "Segoe UI", SegoeUI, Segoe,
            "Roboto";
        --roboto-then-segoe-small: "Roboto", "Segoe UI Variable Small",
            "Segoe UI", SegoeUI, Segoe;
    }

    /* Search box */
    .b_searchboxForm {
        border-radius: 12px !important;
    }

    /* Navigation bar */
    .b_scopebar > ul li {
        text-transform: none !important;
        font-size: 14px !important;
        font-family: var(--roboto-then-segoe-text), Arial, Helvetica, sans-serif !important;
    }

    .b_scopebar_item > a {
        text-transform: none !important;
        font-size: 13px !important;
    }

    /* Font styles */
    #detailMeta,
    .MicrosoftMap .taskBar > ul li.inputbox input,
    .b_entityTitle,
    .b_searchboxForm,
    .b_topTitle,
    .dest_name,
    .ent-dtab-nam-ov-dtp,
    .hb_title_col,
    .ms-search-tenantLogo-text,
    .qna_algoLink_title,
    .sto_attr_table,
    .sto_attrlitc,
    .vrhtt,
    .wpvn_ala_wtt,
    h4,
    span > h3,
    .b_rc_gb_widget_title {
        font-family: "Segoe UI Variable Text", "Segoe UI", SegoeUI, Segoe,
            Roboto, Arial, sans-serif !important;
    }

    .rd_gtrtb_nav_item {
        font-family: "Segoe UI Variable Small", "Segoe UI", SegoeUI, Segoe,
            Roboto, Arial, sans-serif !important;
    }

    cib-serp,
    #id_n,
    .wr_rat,
    .rwrl,
    .b_primtxt,
    .b_vList,
    a,
    .b_widgetContainer,
    .b_wiki_w_item,
    .mc_vtvc_meta_row_channel,
    .mc_vtvc_title,
    .mc_vtvc_title > span,
    .mc_vtvc_title > strong,
    .b_algo > h2 > a,
    .algoSlug_icon,
    .tptxt,
    div > div > div > a,
    span,
    div > p span,
    #fltIdtCon,
    #id_h,
    #vvlb,
    .vrhcpt,
    .metaItem,
    .b_respl,
    .cbtn {
        font-family: var(--roboto-then-segoe-text), Arial, Helvetica, sans-serif !important;
    }

    .rrr_teTitle > h2,
    .scs_cpr > h2,
    .b_rs > h2,
    .b_rrsr > h2,
    .b_mgridTitleCont,
    .b_mgridTitle > a,
    .v-ans-title,
    #tob_rail_title,
    .mmtitle > a,
    .l_ecrd_imcolheader_ttl,
    .rs_chatText,
    .df_hd > .b_traits,
    #rd_gtrtb_ttl,
    .annotate .b_focusTextLarge,
    .b_focusTextMedium,
    .b_mgridTitle,
    .b_subModule .b_wfInfoCard .bm_phase2 .ent-dtab-nam-ov-dtnp,
    .irp-video-slogan,
    .nameContainer,
    .sto_title > .sto_slidelr,
    .sto_title,
    .lite-entcard-exp > h2,
    .richrsrailtitle > h2,
    h2 > span,
    p > span > a,
    container-title {
        font-family: var(--segoe-display), Helvetica, Arial, sans-serif !important;
    }

    .ux_ecmp-sel,
    .title,
    .tit,
    .b_title,
    .dirWp,
    .dg_b .infnmpt .infpd a,
    #imagemeta,
    .sb_f_count,
    .b_algospacing,
    .b_bfbLcgAnchorText,
    .b_fbText,
    .b_seeMoreCont,
    .b_vPanel,
    .fdbtext,
    .l_ecrd_ftr_txt,
    .rstc,
    .sto_attr_header,
    .tdw_button,
    .ms-Button-label,
    .ms-search-text-h2,
    .recommendationsTableTitle > h2 {
        font-family: var(--roboto-then-segoe-small), Arial, sans-serif !important;
    }

    .asSectionHeading,
    .sa_tm_subText {
        font-family: var(--roboto-then-segoe-small), Arial, Helvetica,
            sans-serif !important;
    }

    .scopes {
        font-family: var(--roboto-then-segoe-small), Tahoma, Arial, Verdana,
            sans-serif !important;
    }

    .b_smText {
        font-family: var(--roboto-then-segoe-small), Helvetica, sans-serif !important;
    }

    /* Font weights */
    .rrr_teTitle > h2,
    .scs_cpr > h2,
    .b_rs > h2,
    .b_rrsr > h2,
    .ent-dtab-nam-ov-dtp,
    .v-ans-title,
    .b_mgridTitle > a,
    #tob_rail_title,
    .mmtitle > a,
    .rs_chatText,
    .df_hd > .b_traits,
    #rd_gtrtb_ttl,
    .annotate .b_focusTextLarge,
    .b_focusTextMedium,
    .b_mgridTitle,
    .b_subModule .b_wfInfoCard .bm_phase2 .ent-dtab-nam-ov-dtnp,
    .irp-video-slogan,
    .nameContainer,
    .sto_title > .sto_slidelr,
    .sto_title,
    .lite-entcard-exp > h2,
    .richrsrailtitle > h2,
    h2
        > span:not(.l_ecrd_txt_heros):not(.l_ecrd_txt_herol):not(
            .l_ecrd_txt_small
        ),
    container-title {
        font-weight: 600 !important;
    }

    .cCodeBg,
    .rd_code_grn,
    .rd_cCodeBg,
    .rd_code_blu,
    .rd_code_red {
        font-family: var(--mono-combo), Consolas, Courier, monospace !important;
        font-size: 16px !important;
    }
}

@-moz-document domain("geeksforgeeks.org") {
    /* GeeksForGeeks */
    div .text > pre,
    .container > div code,
    .outputDiv > pre {
        font-family: var(--mono-combo), Consolas, monospace !important;
        font-size: 16px !important;
    }
}

@-moz-document domain("forum.xda-developers.com"), domain("xdaforums.com") {
    /* XDADevelopers */
    .node-description,
    .uix_welcomeSection__title,
    #footer,
    .menu-content,
    .p-body,
    .p-nav-inner,
    .p-title-value,
    .bbWrapper,
    .button-text,
    .p-sectionLinks-list,
    .input {
        font-family: var(--not-monospace), -apple-system, BlinkMacSystemFont,
            segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji,
            segoe ui emoji, segoe ui symbol !important;
    }

    .bbCodeInline,
    .bbCodeCode {
        font-family: var(--mono-combo), Monaco, Menlo, Consolas, roboto mono,
            andale mono, ubuntu mono, monospace !important;
        font-size: 16px !important;
    }
}

@-moz-document domain("discord.com") {
    /* Discord + add fallbacks */
    .card-3ie2dy > div div,
    .constrainedRow-3y91Xf,
    .container-1eFtFS,
    .defaultColor-1EVLSt,
    .headerText-10ez_d,
    .standardSidebarView-E9Pc3j,
    .text-sm-normal-AEQz4v,
    .text-xs-normal-3O7EaX,
    button,
    h2,
    h3,
    span,
    input,
    .message-wB3GWa,
    .text-md-semibold-2VMhBr {
        font-family: "gg sans", "Noto Sans", "Noto Sans JP", "Noto Sans TC",
            "Noto Sans SC", "Noto Sans KR", "Helvetica Neue", Helvetica, Arial,
            sans-serif !important;
    }

    .hljs,
    .codeLine-2C-9aH,
    .inlineCode-ERyvy_,
    table,
    .inline {
        font-family: var(--block-mono), var(--monospace), Consolas,
            "Andale Mono WT", "Andale Mono", "Lucida Console",
            "Lucida Sans Typewriter", "Liberation Mono", "Nimbus Mono L", Monaco,
            "Courier New", Courier, monospace !important;
    }
}

@-moz-document domain("knowyourmeme.com") {
    /* KnowYourMeme */
    .enlargeGalleryProgress,
    #content,
    #maru,
    #mast_links,
    #omgkym,
    #photo,
    #search_box,
    #section_header,
    .home,
    .sidebar_box,
    .tc,
    .welcome,
    .bodycopy,
    a,
    aside,
    em,
    h1,
    h2,
    h3,
    h5,
    h6,
    li,
    p > strong,
    p,
    div > h4 {
        font-family: var(--font-personal), Helvetica, Arial, Verdana, sans-serif !important;
    }

    /* monospace */
    textarea {
        font-family: var(--block-mono), var(--monospace), "monaco",
            "lucida console", "lucida sans typewriter", "consolas", "monospace" !important;
    }
}

@-moz-document domain("codeberg.org") {
    /* Codeberg */
    .height,
    .ui,
    .file-view,
    h1,
    h2,
    h3,
    .grid,
    .gt-df {
        font-family: var(--font-personal), -apple-system, "Segoe UI", system-ui,
            Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
            sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
            "Noto Color Emoji", "Twemoji Mozilla" !important;
    }

    code {
        font-family: var(--mono-combo), ui-monospace, SFMono-Regular, "SF Mono",
            Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace,
            "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji",
            "Twemoji Mozilla" !important;
        font-size: 16px !important;
    }
}

@-moz-document domain("docs.oracle.com") {
    /* Oracle docs */
    pre,
    dd,
    code {
        font-family: var(--mono-combo), "DejaVu Sans Mono", monospace !important;
        font-size: 16px !important;
    }
}

@-moz-document domain("yahoo.com") {
    /* Yahoo */
    #doc {
        font-family: YahooSans VF, Roboto, helvetica neue, helvetica, arial,
            sans-serif;
    }

    .code-snippet {
        font-family: var(--mono-combo), "SourceCodePro" !important;
        font-size: 16px !important;
    }

    .snippet-row {
        font-family: var(--mono-combo), CourierNewPSMT !important;
        font-size: 16px !important;
    }
}

@-moz-document domain("baeldung.com") {
    /* Baeldung */
    code.hljs {
        font-family: var(--mono-combo), "Source Code Pro", "Consolas",
            "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
        font-size: 16px !important;
    }
}
