/* ==UserStyle==
@name           monospace2
@namespace      github.com/openstyles/stylus
@version        1.3.4
@description    My personal changes to codeblocks, etc
@author         Zerohazard8x LLM
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/monospace2.user.css
@homepageURL    https://github.com/Zerohazard8x/custom/tree/main/stylus
==/UserStyle== */

@-moz-document domain("chat.mistral.ai"), domain("xdaforums.com"), domain("developer.mozilla.org"), domain("wikiwand.com"), domain("monkeytype.com"), domain("keybr.com"), domain("antifandom.com"), domain("breezewiki.com"), domain("yandex.com"), domain("vlr.gg") {
    :root {
        /* Define variables */
        --foreign: var(--emoji, ""), var(--noto, ""), PingFang, "PingFang SC",
            "Hiragino Sans", "Apple SD Gothic Neo", "Bangla MN", Thonburi,
            "Tiro Devanagari Hindi", "Geeza Pro", Geeza, "Yu Gothic",
            "Microsoft YaHei UI", "Microsoft YaHei", "Malgun Gothic",
            "Leelawadee UI", "Nirmala UI", "Segoe UI Arabic";
        --noto: "Noto Sans JP", "Noto Sans TC", "Noto Sans SC", "Noto Sans KR",
            "Noto Sans Thai", "Noto Sans Bengali", "Noto Sans Devanagari",
            "Noto Sans Arabic";
        --foreign-serif: var(--emoji, ""), "Shippori Mincho", "Noto Serif JP",
            "Noto Serif TC", "Noto Serif SC", "Noto Serif KR", "Noto Serif Thai",
            "Noto Serif Bengali", "Noto Serif Devanagari", "Noto Naskh Arabic",
            "Noto Serif";
        --emoji: "Apple Color Emoji", "SF Symbols", "Segoe UI Emoji",
            "Segoe Fluent Icons", "Segoe MDL2 Assets", "Segoe UI Symbol",
            "Noto Color Emoji", "Noto Sans Symbols", "EmojiOne Color",
            "Twemoji Mozilla";
        --sans: -apple-system, BlinkMacSystemFont, Inter, "Roboto",
            "Segoe UI Variable", "Segoe UI", "Avenir Next", Avenir;
        --plex: "IBM Plex Sans Var", "IBM Plex Sans JP", "IBM Plex Sans KR",
            "IBM Plex Sans";
        --slab-serif: Rokkitt, "Hepta Slab", "Zilla Slab", Rockwell;
        --serif: var(--slab-serif, ""), var(--foreign-serif, "");
        --mono: var(--block-mono, ""), "Monaspace Argon Var",
            "Monaspace Argon VF", "Monaspace Argon", "Fira Mono";
        --block-mono: "JetBrains Mono", "JetBrains Mono NL",
            "JetBrainsMono Nerd Font", "Fantasque Sans Mono";
    }

    *:not(
            pre *,
            .far,
            .fa,
            .glyphicon,
            [class*="vjs-"],
            .fab,
            .fa-github,
            .fas,
            .material-icons,
            .icofont,
            .typcn,
            mu,
            [class*="mu-"],
            .glyphicon,
            .icon
        ),
    pre,
    code,
    tt {
        font-feature-settings: "liga", "clig", "calt", "kern" !important;
        -webkit-font-smoothing: antialiased !important;
        -moz-osx-font-smoothing: grayscale !important;
        -ms-font-smoothing: antialiased !important;
        text-rendering: optimizeLegibility !important;
        font-synthesis: none !important;
        font-optical-sizing: auto !important;
        font-size-adjust: from-font !important;

        font-kerning: auto !important;
    }

    /* restrict arial */
    @font-face {
        font-family: "Arial";
        src: local("Arial");
        unicode-range: U+0030-0039, U+0061-007A, U+0041-005A, U+0060, U+007E,
            U+0021-002F, U+003A-0040, U+005B-0060, U+007B-007E;
    }

    @font-face {
        font-family: "Arial Regular";
        src: local("Arial Regular");
        unicode-range: U+0030-0039, U+0061-007A, U+0041-005A, U+0060, U+007E,
            U+0021-002F, U+003A-0040, U+005B-0060, U+007B-007E;
    }

    @font-face {
        font-family: "Arial Black";
        src: local("Arial Black");
        unicode-range: U+0030-0039, U+0061-007A, U+0041-005A, U+0060, U+007E,
            U+0021-002F, U+003A-0040, U+005B-0060, U+007B-007E;
    }

    @font-face {
        font-family: "Arial Narrow";
        src: local("Arial Narrow");
        unicode-range: U+0030-0039, U+0061-007A, U+0041-005A, U+0060, U+007E,
            U+0021-002F, U+003A-0040, U+005B-0060, U+007B-007E;
    }

    @font-face {
        font-family: "Arial Bold";
        src: local("Arial Bold");
        unicode-range: U+0030-0039, U+0061-007A, U+0041-005A, U+0060, U+007E,
            U+0021-002F, U+003A-0040, U+005B-0060, U+007B-007E;
    }

    @font-face {
        font-family: "Arial Italic";
        src: local("Arial Italic");
        unicode-range: U+0030-0039, U+0061-007A, U+0041-005A, U+0060, U+007E,
            U+0021-002F, U+003A-0040, U+005B-0060, U+007B-007E;
    }

    @font-face {
        font-family: "Arial Bold Italic";
        src: local("Arial Bold Italic");
        unicode-range: U+0030-0039, U+0061-007A, U+0041-005A, U+0060, U+007E,
            U+0021-002F, U+003A-0040, U+005B-0060, U+007B-007E;
    }

    @font-face {
        font-family: "Arial Narrow Bold";
        src: local("Arial Narrow Bold");
        unicode-range: U+0030-0039, U+0061-007A, U+0041-005A, U+0060, U+007E,
            U+0021-002F, U+003A-0040, U+005B-0060, U+007B-007E;
    }

    @font-face {
        font-family: "Arial Narrow Italic";
        src: local("Arial Narrow Italic");
        unicode-range: U+0030-0039, U+0061-007A, U+0041-005A, U+0060, U+007E,
            U+0021-002F, U+003A-0040, U+005B-0060, U+007B-007E;
    }

    @font-face {
        font-family: "Arial Narrow Bold Italic";
        src: local("Arial Narrow Bold Italic");
        unicode-range: U+0030-0039, U+0061-007A, U+0041-005A, U+0060, U+007E,
            U+0021-002F, U+003A-0040, U+005B-0060, U+007B-007E;
    }
}

@-moz-document domain("poe.com") {
    .BotInfoCardHeader_operatedBy__G5WAP,
    .BotInfoCardHeader_followerCount__nrf6H,
    .BotMetadataTag_BotMetadataTag__Jkq1r,
    .Button_buttonBase__Bv9Vx,
    .ChatHeader_subText__JcFh3,
    .ChatHistoryListItem_flexWithCenteredItems__Xmy6y,
    .ChatHistoryListItem_secondaryText__bBw_y,
    .ContinueLastChat_left___0Rco,
    .ExploreBotListItem_botDescription__Ps9Jt,
    .ExploreBotListItem_botName__W6Tyi,
    .FileInfo_metadata__Wu4uZ,
    .FileInfo_title__sUM2l,
    .LinksSection_link__Z9CvZ,
    .Markdown_markdownContainer__Tz3HQ,
    .SidebarCard_link__ot_pN,
    .SidebarLayout_layoutWrapper__mPYi4,
    .DesktopAppAnnouncementBanner_ctaButton__3ppiO,
    h2,
    p,
    .ChatMessage_badge__ah1FU {
        font-family: var(--sans, ""), -apple-system, system-ui,
            BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell,
            Helvetica Neue, sans-serif, var(--foreign, "") !important;
    }

    code span,
    code {
        font-family: var(--mono, ""), Consolas, monaco, monospace,
            var(--foreign, "") !important;
    }
}

@-moz-document domain("wikiwand.com") {
    pre:not(.openai_content__jNwCi * pre) .monospaced,
    .diff tbody tr * *,
    code,
    pre span {
        font-family: var(--mono, ""), Noto Sans Mono, Menlo, Consolas,
            Courier New, Courier, monospace, var(--foreign, "") !important;
    }

    .pcs-edit-section-title,
    section blockquote p,
    .footer_title__GtcWC,
    h5,
    .header_header__DOKKH h1,
    .mw-parser-output blockquote,
    .poem,
    .item_anchor__rLB49,
    .section-h {
        font-family: var(--serif, ""), "Noto Serif", "Noto Serif-fallback-1",
            serif, var(--foreign, "") !important;
    }

    .root_wrapper__apZti h1,
    .root_wrapper__apZti h2 {
        font-family: var(--serif, ""), Noto Serif, var(--foreign, "") !important;
    }
}

@-moz-document domain("developer.mozilla.org") {
    code,
    .section-content pre {
        font-family: var(--mono, ""), var(--font-code) !important;
    }
}

@-moz-document domain("symbolab.com") {
    .latex-command-input {
        font-family: var(--mono, ""), "Courier New", monospace,
            var(--foreign, "") !important;
    }
}

@-moz-document domain("xdaforums.com") {
    .tooltip-content,
    .node-description,
    .uix_welcomeSection__title,
    #footer,
    .menu-content,
    .p-body,
    .p-nav-inner,
    .p-title-value,
    .bbWrapper,
    .button-text,
    .p-sectionLinks-list,
    .input {
        font-family: var(--sans, ""), -apple-system, BlinkMacSystemFont,
            segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji,
            segoe ui emoji, segoe ui symbol !important;
    }

    .bbCodeInline,
    .bbCodeCode {
        font-family: var(--mono, ""), Monaco, Menlo, Consolas, roboto mono,
            andale mono, ubuntu mono, monospace, var(--foreign, "") !important;
    }
}

@-moz-document domain("codeberg.org") {
    .height,
    .ui,
    .file-view,
    h1,
    h2,
    h3,
    .grid,
    .gt-df {
        font-family: var(--font-personal), -apple-system, "Segoe UI", system-ui,
            Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
            sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
            "Noto Color Emoji", "Twemoji Mozilla" !important;
    }

    code {
        font-family: var(--mono, ""), ui-monospace, SFMono-Regular, "SF Mono",
            Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace,
            "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji",
            "Twemoji Mozilla" !important;
    }
}

@-moz-document domain("docs.oracle.com") {
    pre,
    dd,
    code {
        font-family: var(--mono, ""), "DejaVu Sans Mono", monospace,
            var(--foreign, "") !important;
    }
}

@-moz-document domain("yahoo.com") {
    #doc {
        font-family: YahooSans VF, Roboto, helvetica neue, helvetica, arial,
            sans-serif;
    }

    .code-snippet {
        font-family: var(--mono, ""), "SourceCodePro" !important;
    }

    .snippet-row {
        font-family: var(--mono, ""), CourierNewPSMT !important;
    }
}

@-moz-document domain("baeldung.com") {
    code.hljs {
        font-family: var(--mono, ""), "Source Code Pro", "Consolas",
            "Bitstream Vera Sans Mono", "Courier New", Courier, monospace,
            var(--foreign, "") !important;
    }
}

@-moz-document domain("chat.lmsys.org") {
    code {
        font-family: var(--mono, ""), Consolas, Monaco, Andale Mono, Ubuntu Mono,
            monospace, var(--foreign, "") !important;
    }
}

@-moz-document domain("17track.net") {
    .canvas,
    .page-content,
    .nav li {
        font-family: var(--sans, ""), sans-serif, var(--foreign, "") !important;
    }

    .CodeMirror-sizer {
        font-family: var(--mono, ""), Courier New, Andale Mono, Monaco !important;
    }
}

@-moz-document domain("appledb.dev") {
    .home,
    .navbar,
    .page {
        font-family: var(--sans, ""), -apple-system, BlinkMacSystemFont,
            "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
            "Droid Sans", "Helvetica Neue", sans-serif, var(--foreign, "") !important;
    }

    .text code {
        font-family: var(--mono, ""), Consolas, Monaco, "Andale Mono",
            "Ubuntu Mono", monospace, var(--foreign, "") !important;
    }
}

@-moz-document domain("shellcheck.net") {
    html body {
        font-family: var(--sans, ""), "Helvetica Neue", Helvetica, Arial,
            sans-serif, var(--foreign, "") !important;
    }

    code,
    kbd,
    pre,
    samp {
        font-family: var(--mono, ""), Menlo, Monaco, Consolas, "Courier New",
            monospace;
    }
}

@-moz-document domain("chat.mistral.ai") {
    .font-sans {
        font-family: var(--sans, ""), ui-sans-serif, system-ui, sans-serif,
            Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
    }

    code,
    kbd,
    pre,
    samp {
        font-family: var(--mono, ""), ui-monospace, SFMono-Regular, Menlo,
            Monaco, Consolas, Liberation Mono, Courier New, monospace,
            var(--foreign, "") !important;
    }

    * * div code span {
        font-family: var(--mono, ""), Menlo, Monaco, Consolas, "Andale Mono",
            "Ubuntu Mono", "Courier New", monospace, var(--foreign, "") !important;
    }
}

@-moz-document domain("knowyourmeme.com") {
    .enlargeGalleryProgress,
    #content,
    #maru,
    #mast_links,
    #omgkym,
    #photo,
    #search_box,
    #section_header,
    .home,
    .sidebar_box,
    .tc,
    .welcome,
    .bodycopy,
    a,
    aside,
    em,
    h1,
    h2,
    h3,
    h5,
    h6,
    li,
    p strong,
    p,
    div h4 {
        font-family: var(--sans, ""), Helvetica, Arial, Verdana, sans-serif,
            var(--foreign, "") !important;
    }

    textarea {
        font-family: var(--mono, ""), "monaco", "lucida console",
            "lucida sans typewriter", "consolas", "monospace" !important;
    }
}

@-moz-document domain("monkeytype.com") {
    #app.content-grid {
        font-family: var(--mono, ""), var(--font) !important;
    }
}

@-moz-document domain("developer.android.com"), domain("firebase.google.com") {
    devsite-code pre,
    devsite-code pre code,
    article div p code,
    * p a code {
        font-family: var(--mono, ""), Roboto Mono, monospace, var(--foreign, "") !important;
    }
}

@-moz-document domain("pi.ai") {
    .t-code,
    .t-code-inline {
        font-family: var(--mono, ""), var(--font-mono), ui-monospace,
            SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
            "Courier New", monospace, var(--foreign, "") !important;
    }
}

@-moz-document domain("groq.com") {
    * div pre code {
        /* https://www.w3schools.com/cssref/sel_element_element.php */
        font-family: var(--mono, ""), Consolas, Monaco, "Andale Mono",
            "Ubuntu Mono", monospace, var(--foreign, "") !important;
    }
}

@-moz-document domain("antifandom.com"), domain("breezewiki.com") {
    body.skin-fandomdesktop,
    button,
    input,
    textarea,
    .wikitable,
    .va-table {
        font-family: "Source Sans Pro", "Segoe UI", sans-serif,
            var(--foreign, "") !important;
    }

    .text b code {
        font-family: var(--mono, ""), monospace, var(--foreign, "") !important;
    }
}

@-moz-document domain("fandom.com") {
    body.skin-fandomdesktop,
    button,
    input,
    textarea {
        font-family: rubik, helvetica, arial, sans-serif, var(--foreign, "") !important;
    }

    .text b code {
        font-family: var(--mono, ""), monospace, var(--foreign, "") !important;
    }
}

@-moz-document domain("learn.microsoft.com") {
    pre code,
    p code,
    li code {
        font-family: var(--mono, ""), SFMono-Regular, Consolas, Liberation Mono,
            Menlo, Courier, monospace, var(--foreign, "") !important;
    }
}

@-moz-document domain("keybr.com") {
    span.HTTkhCi9sE,
    .JbmeqBVGxym,
    .ZiMQFjE365,
    .T5Dbe9eY7n {
        font-family: var(--mono, ""), var(--monospace-font-family, "") !important;
    }
}

@-moz-document domain("yandex.com") {
    html[lang] {
        font-family: "YS Text", YS Text Home, -apple-system, BlinkMacSystemFont,
            Arial, Helvetica, Arial Unicode MS, sans-serif, var(--foreign, "") !important;
    }

    .SearchPage-Container {
        font-family: "YS Text", Arial, Helvetica, "Arial Unicode MS", sans-serif,
            -apple-system, BlinkMacSystemFont, Helvetica Neue, Roboto, Segoe UI,
            Arial, Helvetica, sans-serif, var(--foreign, "") !important;
    }

    .mini-suggest__button-text,
    .HeaderDesktop,
    .mini-suggest__input {
        font-family: "YS Text", Arial, Helvetica, "Arial Unicode MS", sans-serif,
            Arial, Helvetica, "Arial Unicode MS", sans-serif, var(--foreign, "") !important;
    }

    .Label-Content {
        font-family: "YS Text", Verdana, Arial, Helvetica, sans-serif,
            var(--foreign, "") !important;
    }

    .Article.Article_type_fact,
    .typo,
    .Typo,
    .Organic .Organic-Subtitle.Typo_type_greenurl > .Path {
        font-family: "YS Text", -apple-system, BlinkMacSystemFont, Arial,
            Helvetica, sans-serif, var(--foreign, "") !important;
    }

    .HeaderPhone,
    .HeaderForm-Input {
        font-family: "YS Text", -apple-system, BlinkMacSystemFont,
            "Helvetica Neue", Roboto, "Segoe UI", Arial, Helvetica, sans-serif,
            var(--foreign, "") !important;
    }

    .Article-Code {
        font-family: var(--mono, ""), Consolas, Menlo, Monaco, "Lucida Console",
            "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
            "Courier New", monospace, sans-serif, var(--foreign, "") !important;
    }
}

@-moz-document domain("vlr.gg") {
    html,
    body {
        font-family: "Roboto", sans-serif, var(--foreign, "") !important;
    }

    .m-item-team-core {
        font-family: var(--mono, ""), monospace, var(--foreign, "");
    }
}
