/* ==UserStyle==
@name           personal2
@namespace      github.com/openstyles/stylus
@version        2025.09.10
@description    My personal userstyle
@author         Zerohazard8x LLM
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/personal2.user.css
@homepageURL    https://github.com/Zerohazard8x/custom/tree/main/stylus
==/UserStyle== */
@-moz-document domain("emojipedia.org") {
    body,
    .flex {
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
            segoe ui, Roboto, helvetica neue, Arial, noto sans,
            apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji,
            var(--foreign, "");
    }
}

@-moz-document domain("flightaware.com") {
    input,
    #s2id_autogen1,
    #s2id_autogen2,
    .localePicker {
        font-family: "FontAwesome", Roboto, "MS Shell Dlg 2";
    }

    #home-main-messaging h1,
    .messaging-title h2 {
        font-family: Lato, "Roboto", Arial, Helvetica, sans-serif,
            var(--foreign, "");
    }
}

@-moz-document domain("weibo.com"),
domain("weibo.cn") {
    html,
    :host {
        font-family: var(--sans, ""), ui-sans-serif, system-ui,
            "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
            "Noto Color Emoji", var(--foreign, "");
    }

    .woo-box-flex {
        font-family: var(--sans, ""), system-ui, -apple-system, Segoe UI, Roboto,
            Ubuntu, Cantarell, Noto Sans, var(--foreign, ""), sans-serif;
    }

    .woo-like-count,
    .WB_main,
    .gn_position,
    .WB_footer {
        font-family: var(--sans, ""), Arial, "PingFang SC", "Hiragino Sans GB",
            "Microsoft YaHei", "WenQuanYi Micro Hei", var(--foreign, ""),
            sans-serif;
    }

    .mod-fil-fans span,
    .m-container-max,
    .card,
    .main-text,
    h4 {
        font-family: var(--sans, ""), Helvetica Neue, Helvetica, Arial,
            var(--foreign, ""), sans-serif;
    }

    .woo-input-main {
        font-family: var(--sans, ""), "MS Shell Dlg 2";
    }
}

@-moz-document domain("wordcounter.net") {
    .container,
    #box {
        font-family: var(--sans, ""), Helvetica, Arial;
    }
}

@-moz-document domain("gsmarena.com") {
    .autocomplete-desc,
    .pricing span,
    .meta-item-time,
    .meta-item-comments,
    #footmenu p,
    #opinions-total,
    #topsearch-text,
    #wrapper,
    .buyers-guide-notification span,
    .meta-line time,
    .meta-line,
    .module-fit,
    .module-phones-link,
    .module-review-xl-title span,
    .more-news-link,
    .news-item,
    .nfo,
    .review-body,
    .row2 span,
    .ttl,
    .user-thread,
    a,
    font strong,
    h3,
    tr th,
    tbody tr td {
        font-family: "Roboto Flex", Roboto, Arimo, Arial;
    }

    .specs-fans span,
    .section-heading a,
    #menu li a,
    #specs-list table tbody tr th,
    #user-comments h2 a,
    .accent,
    .article-info,
    .article-info-meta-link a,
    .block-link header h3,
    .brandmenu-v2 ul li a,
    .brandmenu-v2,
    .center-stage,
    .feat-item-header,
    .feat-item-title,
    .icon-count,
    .module-review-xl-title strong,
    .news-item a h3,
    .pad a,
    .pricing tbody,
    .specs-phone-name-title,
    .specs-spotlight-features li,
    h4,
    h5,
    tr td a:not(.collapse):not(.ttl a):not(.nfo a) {
        font-family: "Barlow Condensed", Google-Oswald, Arial;
    }
}

@-moz-document domain("hupu.com") {
    :root {
        --hupu: hupufont, hupufont-Medium, hupufont-Regular, "HarmonyOS Sans TC",
            "HarmonyOS Sans SC", "HarmonyOS Sans", "DIN Next", "URW DIN", "DIN",
            var(--sans, "");
    }

    /* iframe */
    html[stylus-iframe$="sports.cctv.com"] {
        font-family: var(--hupu, ""), PingFangSC, var(--foreign, "");
    }

    body,
    button,
    input,
    select,
    textarea {
        font-family: var(--hupu, ""), "lucida grande", tahoma, verdana, arial,
            \5b8b\4f53, var(--foreign, ""), sans-serif;
    }

    body,
    body *,
    html {
        font-family: var(--hupu, ""), hupufont-Regular, PingFangSC-Regular,
            PingFang SC, Helvetica Neue, Helvetica, STHeiTi, var(--foreign, ""),
            sans-serif;
    }

    .index_simple-detail-content__3FPFA,
    .hp-pc-rc-SuperMenu-sub-menu-container,
    .bbs-search-web,
    .bbs-search-web-content,
    .index_game-center-entrance-container-title__BNope,
    .index_hp-pc-breadcrumb___Sojb,
    .index_post-info___hEkW,
    .index_post-title__xE1Ku,
    .index_right-post-item__VLcv7,
    .index_right-post__Yuzlv a,
    .index_right-post__Yuzlv,
    .post-reply-list-user-info-top-name,
    .post-reply-list-user-info-top-time,
    .post-reply-list-user-info-user-location,
    .post-user_post-user-comp-info-bottom__CqR2O,
    .search-wrap-input,
    .thread-content-detail,
    .type-wrap-txt,
    .bbs-index-web-bbsindexWarp div {
        font-family: var(--hupu, ""), PingFangSC-Regular, PingFang SC, miui,
            system-ui, -apple-system, BlinkMacSystemFont, Helvetica Neue,
            Helvetica, var(--foreign, ""), sans-serif;
    }

    .bbs-sl-web-post-body,
    .bbs-sl-web-post-header,
    .bbs-sl-web-intro-detail-desc-title {
        font-family: var(--hupu, ""), PingFangSC-Medium, var(--foreign, "");
    }

    .post-wrapper_bbs-post-wrapper-title__TLQdd p,
    .index_bbs-post-web-main-title-provider__uHAn9 span,
    .index_bbs-post-web-main-title-provider__uHAn9,
    .main-c {
        font-family: var(--hupu, ""), PingFangSC-Semibold, var(--foreign, "");
    }

    .content-header {
        font-family: var(--sans, ""), PingFangSC-Semibold, PingFang SC,
            var(--foreign, "");
    }

    .post-reply-list_post-reply-list-wrapper__o4_81
        .post-reply-list
        .reply-list-content
        .post-reply-list-operate,
    .post-operate_post-operate-comp-wrapper___odBI .post-operate-comp,
    .bbs-sl-web-intro-detail div,
    .bbs-sl-web-admin-detail-desc-text,
    .bbs-sl-web-intro-detail-desc-text,
    .post-user_user-base-info__AxpCI a,
    .post-wrapper_toggle-tool__MGO_Q span,
    .index_quote-operate__28QIi span,
    .bbs-index-web,
    .bbs-index-web-body,
    .bbs-index-web-holder,
    .bbs-index-web-middle,
    .list-item,
    .list-item-desc,
    .list-item-wrap,
    .list-wrap,
    .middle-module,
    .post-user_user-base-info__AxpCI,
    .text-list-model,
    .user-operate,
    .list-item-lights {
        font-family: var(--hupu, ""), PingFangSC-Regular, var(--foreign, "");
    }

    .notLogin a span,
    .banneritem,
    .content-wrap,
    .hot-search,
    .hot-search-item,
    .hot-search-title,
    .hp-pc-rc-TopMenu-top,
    .radio-txt,
    .hot-title {
        font-family: var(--hupu, ""), PingFangSC-Regular, PingFang SC,
            var(--foreign, "");
    }

    .bbs-sl-web-intro-detail-title,
    .bbs-sl-web-type-wrap div,
    .bbs-sl-web-type,
    .index_right-post-title__zN9JN,
    .right-post-title,
    .post-title,
    .post-info div {
        font-family: var(--hupu, ""), PingFangSC, var(--foreign, "");
    }

    .nav_qiantao_hupu210316,
    .title,
    .cntv_list ul li a {
        font-family: var(--hupu, ""), PingFangSC-Regular, Helvetica, Arial,
            Microsoft Yahei, var(--foreign, ""), sans-serif;
    }

    .hot-index {
        font-family: var(--hupu, ""), HelveticaNeue-CondensedBold, HelveticaNeue,
            var(--foreign, "");
    }
}

@-moz-document domain("baked.live") {
    #messagebuffer div {
        font-size: 50px;
        line-height: 1.5;
    }
}

@-moz-document domain("naver.com") {
    body,
    button,
    input,
    select,
    table,
    textarea,
    .nng-viewer .se-viewer:lang(ko-KR),
    .nng-viewer .se-viewer:lang(ko-KR) .se-ff-system,
    .nng-viewer
        .se-viewer:lang(ko-KR)
        .se-section-image.se-l-default
        .se-caption
        .se-ff-,
    .nng-viewer .se-viewer:lang(ko-KR) .se-section-text.se-l-default .se-ff- {
        font-family: var(--sans, ""), -apple-system, BlinkMacSystemFont,
            Apple SD Gothic Neo, Helvetica, Arial, NanumGothic, 나눔고딕,
            Malgun Gothic, 맑은 고딕, Dotum, 굴림, gulim, 새굴림, noto sans,
            돋움, var(--foreign, ""), sans-serif;
    }
}

@-moz-document domain("amazon.com"),
domain("amazon.co.jp"),
domain("amazon.in") {
    .NavigationBar-module__navHeader_myx_35WiMq43R8TeP3p0_dnLLH
        .NavigationBar-module__navOptions_myx_3-DW6_KRV7Rh8qixes2XJu,
    .NavigationBar-module__navHeader_title_style_myx_gLKlYY_oND8vgB6axwgyW {
        font-family: "Amazon Ember", Arial, var(--foreign, ""), sans-serif;
    }

    #a-page,
    #e input,
    .a-container {
        font-family: "Amazon Ember", Arial, "Hiragino Kaku Gothic ProN",
            "Hiragino Sans", Meiryo, var(--foreign, ""), sans-serif;
    }

    .bucket h2 {
        font-family: "Amazon Ember", verdana, arial, helvetica,
            var(--foreign, ""), sans-serif;
    }

    .a-declarative,
    tbody tr td,
    span span a {
        font-family: "Amazon Ember", Arial, var(--foreign, "");
    }

    .a-color-link {
        font-family: "Amazon Ember", AmazonEmber-Regular,
            helvetica_ne_lt_55_roman, HelveticaNeueLTStd-Roman, Helvetica,
            var(--foreign, ""), sans-serif;
    }

    .a-popover-wrapper,
    .a-meter-animate {
        font-family: "Amazon Ember", "Hiragino Kaku Gothic ProN",
            "Hiragino Sans", Meiryo, var(--foreign, ""), sans-serif;
    }
}

@-moz-document domain("soranews24.com"),
domain("rocketnews24.com") {
    #container,
    #searchsubmit {
        font-family: var(--sans, ""), arial, helvetica, clean,
            var(--foreign, ""), sans-serif;
    }

    #main {
        font-family: var(--sans, ""), "Helvetica Neue", Helvetica, Arial,
            var(--foreign, ""), sans-serif;
    }
}

@-moz-document domain("steampowered.com"),
domain("steamcommunity.com") {
    body,
    body._2LxgdMcpWJRjkxZKbmeEEb,
    .workshopItemTitle,
    body.v6 {
        font-family: "Motiva Sans", Arial, Helvetica, var(--foreign, ""),
            sans-serif;
    }
}

@-moz-document domain("msn.com") {
    .lightTheme,
    .locationItem-DS-EntryPoint1-6,
    .suggestion-DS-EntryPoint1-1,
    .weatherButtonWrapper-DS-EntryPoint1-3,
    .weatherFeedbackDialogButton-DS-EntryPoint1-3 {
        font-family: Segoe UI, Segoe WP, Arial, "MS Shell Dlg 2",
            var(--foreign, "");
    }
}

@-moz-document domain("weather.com") {
    div#appWrapper.appWrapper,
    div.appWrapper.Mobile.Daybreak,
    button,
    input,
    optgroup,
    select,
    textarea,
    div.RecentLocations--container--3BLMa.RecentLocations--alwaysOpen--1nn-z,
    div.ModalContent--content--yXRDl {
        font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont,
            Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, var(--foreign, ""), sans-serif;
    }
}

@-moz-document domain("bilibili.com") {
    body {
        font-family: var(--sans, ""), Arial, "Microsoft YaHei",
            "Microsoft Sans Serif", "Microsoft SanSerf", "微软雅黑",
            var(--foreign, "");
    }

    .n .n-num {
        font-family: var(--sans, ""), Arial, var(--foreign, "");
    }

    .feed-card[data-v-87ed4514] {
        font-family: var(--sans, ""), Helvetica Neue, Helvetica, Arial,
            Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei,
            var(--foreign, ""), sans-serif;
    }

    .gift-item[data-v-43b0ef2a],
    .follow-cntr
        .anchor-list
        .three-anchor
        .one-anchor
        .anchor-name
        p[data-v-c58bfb0e] {
        font-family: var(--sans, ""), "PingFang SC", var(--foreign, "");
    }

    .fans-medal-item {
        font-family: var(--sans, ""), "Microsoft YaHei", "Microsoft Sans Serif",
            "Microsoft SanSerf", "微软雅黑", var(--foreign, "");
    }

    .harmony-font,
    .video-card-ad-small .vcd .info .title[data-v-7c4b2c06],
    .video-page-card-small .card-box .info .title {
        font-family: var(--sans, ""), PingFang SC, HarmonyOS_Regular,
            Helvetica Neue, Microsoft YaHei, var(--foreign, ""), sans-serif;
    }

    @media (-webkit-max-device-pixel-ratio: 1) {
        .harmony-font,
        .video-card-ad-small .vcd .info .title[data-v-7c4b2c06],
        .video-page-card-small .card-box .info .title {
            font-family: var(--sans, ""), -apple-system, BlinkMacSystemFont,
                Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB,
                Microsoft YaHei, var(--foreign, ""), sans-serif;
        }
    }
}

@-moz-document domain("spotify.com") {
    :root {
        --encore-body-font-stack: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr,
            CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva,
            var(--fallback-fonts, ""), var(--foreign, "");
        --encore-title-font-stack: SpotifyMixUITitle, CircularSp-Arab,
            CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva,
            var(--fallback-fonts, ""), var(--foreign, "");
    }
}

@-moz-document domain("music.apple.com") {
    html {
        font-family: -apple-system, BlinkMacSystemFont, Apple Color Emoji,
            SF Pro, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
            var(--foreign, ""), sans-serif;
    }
}

@-moz-document domain("tv.apple.com") {
    body {
        font-family: -apple-system, BlinkMacSystemFont, Apple Color Emoji,
            SF Pro, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
            "-apple-system", BlinkMacSystemFont, "-webkit-system-font",
            "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica,
            var(--foreign, ""), sans-serif;
    }
}

@-moz-document domain("huya.com") {
    #videoContainer,
    .more-activity-icon .more-activity-icon-box .icon-span,
    .news-v2-wrap {
        font-family: var(--sans, ""), var(--foreign, ""), Microsoft YaHei;
    }

    body,
    button,
    input,
    select,
    textarea,
    .mod-sidebar,
    .duya-header {
        font-family: -apple-system, BlinkMacSystemFont, var(--foreign, ""),
            Microsoft Yahei, Segoe UI, Helvetica Neue, Helvetica, Tahoma, Arial,
            Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    }

    .jzIsBn {
        font-family: var(--sans, ""), -apple-system, BlinkMacSystemFont,
            "PingFang SC", Helvetica, Tahoma, Arial, "Hiragino Sans GB",
            var(--foreign, ""), "Microsoft YaHei", 微软雅黑, SimSun, 宋体, Heiti,
            黑体, sans-serif;
    }

    .danmu-item span {
        font-family: var(--sans, ""), SimHei, var(--foreign, ""),
            Microsoft Yahei, -apple-system, BlinkMacSystemFont, Segoe UI,
            Helvetica Neue, Helvetica, Tahoma, Arial, Hiragino Sans GB, Heiti SC,
            WenQuanYi Micro Hei, sans-serif;
    }

    div#chat-room_list.chat-room_list,
    .chat-room__list {
        line-height: normal;
    }

    span.msg,
    div.tit-h-send {
        font-size: 25px;
    }

    .chat-room__list .msg-bubble,
    span.cont-item.name.J_userMenu,
    .chat-room__list .msg-normal {
        font-size: 20px;
    }
}

@-moz-document regexp(".*faceit\\.com.*\\/watch.*") {
    .codsZE,
    .kDLXzz {
        font-family: "Play", var(--foreign, ""), sans-serif;
    }

    .codsZE,
    .kDLXzz,
    div.sc-hwdzOV.kOYNaN,
    div.sc-eBMEME.hutjIi img {
        line-height: normal;
    }

    .codsZE,
    .kDLXzz,
    div.sc-eBMEME.hutjIi img {
        font-size: 25px;
    }

    div.sc-hwdzOV.kOYNaN {
        font-size: 20px;
    }
}

@-moz-document domain("lostmediawiki.com") {
    html,
    body {
        font-family: "Levenim MT", var(--foreign, ""), serif;
    }
}

@-moz-document domain("x.com") {
    .r-poiln3 .r-37j5jr,
    .css-175oi2r,
    .css-175oi2r div {
        font-family: "TwitterChirp", "TwitterChirpExtendedHeavy", -apple-system,
            BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
            var(--foreign, ""), sans-serif;
    }
}

@-moz-document domain("baidu.com") {
    body,
    button,
    input,
    select,
    textarea,
    .c-font-normal,
    #container.sam_newgrid,
    .wrapper_new,
    .c_font_2AD7M,
    body,
    th,
    td,
    .p1,
    .p2,
    .new-pmd .c-title,
    .new-pmd .c-font-medium,
    a.n font font,
    body,
    div,
    span,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    code,
    b,
    del,
    dfn,
    em,
    img,
    q,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    dialog,
    figure,
    footer,
    header,
    hgroup,
    nav,
    section {
        font-family: var(--sans, ""), Arial, var(--foreign, ""), sans-serif;
    }

    * {
        font-family: var(--sans, ""), -apple-system, BlinkMacSystemFont,
            Segoe UI, Roboto, Ubuntu, Helvetica Neue, Helvetica, Arial,
            PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei,
            Source Han Sans CN, var(--foreign, ""), sans-serif,
            Apple Color Emoji, Segoe UI Emoji;
    }

    .custom-html li,
    .custom-html ol,
    .custom-html p,
    .custom-html ul {
        font-family: var(--sans, ""), PingFang-SC-Regular, var(--foreign, "");
    }

    .custom-html h1,
    .custom-html h2,
    .custom-html h3,
    .custom-html h4,
    .custom-html h5,
    .custom-html h6 {
        font-family: var(--sans, ""), PingFang-SC-Semibold, var(--foreign, "");
    }
}

@-moz-document domain("fmkorea.com") {
    .btn_pack,
    .btn_pack a,
    .btn_pack button,
    .btn_pack input,
    .btn_pack span,
    .cnb_n_list,
    .fm_hot_key *,
    #gnb .a1 span,
    .top_hotdeal a,
    body,
    .fm_best_widget *,
    #header {
        font-family: var(--sans, ""), "Apple SD Gothic Neo", "Malgun Gothic",
            "맑은 고딕", arial, var(--foreign, ""), sans-serif;
    }

    .rd_body .document_address .a {
        font-family: var(--sans, ""), verdana, var(--foreign, "");
    }
}

@-moz-document domain("espn.com"),
domain("espn.ph") {
    :root {
        --espn: -apple-system, BlinkMacSystemFont, Roboto, Arial, Helvetica Neue,
            Helvetica, sans-serif;
    }

    body,
    .mod-page-header .player-bio ul.general-info li,
    .player-card .mod-page-header h1,
    .mod-page-header .player-bio ul.player-metadata li,
    .mod-header h4,
    .mod-content-feed .result h3,
    .view-more-posts,
    a.view-more-posts:visited,
    #footer,
    .mod-page-header .player-bio .follow-text {
        font-family: var(--espn, ""), helvetica, arial, clean, sans-serif;
    }

    #global-viewport,
    #global-nav-secondary .global-nav-container > ul > li > a,
    #global-nav-secondary .tertiary-nav-container > ul > li > a,
    #global-nav-tertiary .global-nav-container > ul > li > a,
    #global-nav-tertiary .tertiary-nav-container > ul > li > a {
        font-family: var(--espn, ""), "BentonSans", -apple-system, "Roboto",
            Helvetica, Arial, sans-serif;
    }

    .mod-container,
    .tablehead th,
    .tablehead td,
    .mod-page-header .player-stats p,
    .mod-page-tabs ul.ui-tabs {
        font-family: var(--espn, ""), verdana, helvetica, arial, sans-serif;
    }
}

@-moz-document domain("lazada.com.ph") {
    .three-line-clamp,
    .two-line-clamp {
        display: inline;
        overflow: visible;
        white-space: normal;
        word-break: break-word;
    }

    .app {
        --ant-font-family: "Euclid Circular A", NotoSans-Regular, -apple-system,
            BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Tahoma, Arial,
            PingFang SC, Microsoft YaHei, sans-serif, -apple-system,
            BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
            "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
            "Segoe UI Symbol", "Noto Color Emoji", var(--foreign, "");
    }

    ._1cEkb,
    .lzd-header,
    body {
        font-family: "Euclid Circular A", NotoSans-Regular, -apple-system,
            BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Tahoma, Arial,
            PingFang SC, Microsoft YaHei, var(--foreign, ""), sans-serif,
            Roboto-Regular, Helvetica Neue, Helvetica, Tahoma, Arial, Sans-serif;
    }

    .lzd-site-nav-menu
        .lzd-site-menu-nav-container
        .lzd-site-menu-nav-category
        .lzd-site-menu-nav-category-text {
        font-family: "Euclid Circular A", NotoSans-Medium, NotoSans-Regular,
            Roboto-Medium, var(--foreign, "");
    }
}

@-moz-document domain("mercari.com") {
    body,
    pre.merText {
        font-family: var(--sans, ""), "Helvetica Neue", Arial,
            "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo sans-serif",
            var(--foreign, "");
    }

    .itemName__a6f874a2 {
        display: inline;
        overflow: visible;
        white-space: normal;
        word-break: break-word;
    }
}

@-moz-document domain("fril.jp") {
    body {
        font-family: "Rakuten Sans", "rakutensans-a", "rakutensans-b",
            "Helvetica Neue", Helvetica, Arial, var(--foreign, ""), sans-serif;
    }

    .view_grid .item .item-box__item-name {
        display: inline;
        overflow: visible;
        white-space: normal;
        word-break: break-word;
    }
}

@-moz-document domain("auctions.yahoo.co.jp") {
    body,
    input,
    textarea {
        font-family: Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo,
            sans-serif, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3",
            "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS UI Gothic", Helvetica,
            Arial, var(--foreign, ""), sans-serif;
    }
    .Products--grid .Product__titleLink {
        display: inline;
        overflow: visible;
        white-space: normal;
        word-break: break-word;
    }
}

@-moz-document domain("shopee.ph") {
    .shopee_ic .line-clamp-2 {
        display: inline;
        overflow: visible;
        white-space: normal;
        word-break: break-word;
    }
}

@-moz-document domain("jd.com") {
    body,
    button,
    input {
        font-family: var(--sans, ""), tahoma, arial, Microsoft YaHei,
            Hiragino Sans GB, "\u5b8b\u4f53", var(--foreign, ""), sans-serif;
    }

    .ui-area-wrap,
    .choose-btns .btn-lg,
    ._search_main_13eg6_1 ._search_box_13eg6_6 ._search_btn_web_13eg6_195,
    ._search_main_13eg6_1 ._search_box_13eg6_6 ._search_btn_shop_13eg6_196,
    .userv4_container,
    body.new_version
        .userv4_container
        .user_rights_wrap
        ul
        li
        a
        .user_right_item_desc,
    body.new_version
        .userv4_container
        .order_access_container
        .order_access_wrapper
        .order_status__item__text,
    .cate_menu_lk,
    #navitems a,
    .jingyan-trigger,
    #header .w,
    body.new_version
        .userv4_container
        .quick_access_container
        .quick_access_wrapper
        .quick_access__item
        .text-wrapper,
    .userv4_container
        .logistics_container
        .logistics_wrapper
        .logistics_item__info__subtitle,
    .userv4_container
        .logistics_container
        .logistics_wrapper
        .logistics_item__info__title,
    .core_item.core_item_bbx .core_item_bbx_row .core_item_bbx_item_desc,
    #J_LogisticsService .ns_services .logistic-basic,
    #choose-serviceyc .service-type-yb .yb-item-cat .yb-item .name,
    #choose-serviceyc
        .service-type-yb
        .yb-item-cat
        .more-jd-item
        .more-item
        ul
        li
        .title
        .name,
    .m-follow .text {
        font-family: var(--sans, ""), PingFang SC, system-ui, -apple-system,
            var(--foreign, "");
    }

    .p-price strong,
    .goods-list-v2 .gl-item .p-commit strong a,
    .filter .f-pager .fp-text,
    .filter .f-result-sum .num {
        font-family: var(--sans, ""), Verdana, var(--foreign, "");
    }

    .goods-icons4,
    .goods-icons5,
    .crumbs-first,
    #shortcut-2014 #ttbar-login .u-msg,
    .m-user .user-name,
    .mf-goods-item .p-name a,
    .mf-goods-item .p-comment em,
    .mf-goods-item .p-like em,
    .m-tab .tab-trigger .trig-item .text {
        font-family: var(--sans, ""), "Helvetica Neue", Arial,
            "Hiragino Sans GB", "Microsoft YaHei", SimSun, var(--foreign, ""),
            serif;
    }

    #summary-quan .text,
    .choose-baitiao .strong_test,
    .choose-baitiao .strong_tests {
        font-family: JDZhengHeiVRegular2-1, var(--sans, ""), var(--foreign, "");
    }

    #settleup-2014 .ci-count,
    #search-2014 .button {
        font-family: var(--sans, ""), tahoma, arial, var(--foreign, ""), serif;
    }

    .iconfont {
        font-family: iconfont, var(--sans, ""), var(--foreign, "");
    }

    .core_item
        .core_item_skus
        .core_item_sku
        .core_item_sku_img_warp
        .core_item_sku_bybt {
        font-family: 京东正黑体, var(--sans, ""), var(--foreign, "");
    }
}

@-moz-document domain("taobao.com"), domain("tmall.com") {
    body,
    body .search-suggest [data-sg-type="hotWord"] .item,
    .summary--eBfJgSua,
    .invalid--vMVS25Sp,
    .priceWrap--UXwOArpf .benefit--TXOwgQTX,
    .tabs--Zfa33mG8 .item--bE3IJeYi,
    .filterTab--Yj2WiD5_ .label--svyWfwoE,
    .inputWrap--bejJDS0g .text--KL3xOUSI,
    .xM6AVLCbLn--Item2024--_21891f7,
    .xM6AVLCbLn--payInfo--ac7e7d4b,
    .xM6AVLCbLn--skuItem--_68c0cae,
    .xM6AVLCbLn--SkuDelivery--_73341be,
    .xM6AVLCbLn--delivery-from-addr--bcf45b00,
    .xM6AVLCbLn--ItemLabel--_7c6a9cd,
    .xM6AVLCbLn--guaranteeInfo--_247cbc4,
    .xM6AVLCbLn--switchTabsItem--a42e6b76,
    .xM6AVLCbLn--btn--b68f956b,
    .xM6AVLCbLn--itemWrap--ea516d2f,
    .xM6AVLCbLn--normalPrice--_1710011
        .xM6AVLCbLn--priceWrap--acad833a
        .xM6AVLCbLn--highlightPrice--fea17cf4
        .xM6AVLCbLn--desc--f564b559,
    .search-suggest-button-0,
    .search-suggest-button-1,
    .adaptMod--uU2wpGzc .procity--wlcT2xH9,
    .adaptMod--uU2wpGzc .realSales--XZJiepmt,
    .shopNameText--DmtlsDKm,
    .shopTagText--wujObz6g,
    .abstractWrapper--whLX5va5,
    .recommendWrapper--uTcRhdyl .recommendTitle--OhOSFoUc,
    .image-search-wrapper-201
        .image-search-icon-outerMode
        .image-search-icon-wrapper
        .image-icon-text,
    .rankTitleWrapper--AeHheU61,
    .priceDesc--jykuwuhx {
        font-family: Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial,
            "PingFang SC", "Microsoft YaHei", PingFangSC-Regular,
            var(--foreign, "") !important;
    }

    .title--FVm7Dr5O,
    .title--c3UVYQ2m,
    .button--N56qNkwC,
    .xM6AVLCbLn--detailWrap--e9e2b47b .xM6AVLCbLn--shopName--ccf81bdd,
    .title--qJ7Xg_90,
    body .search-suggest .btn-search {
        font-family: Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial,
            "PingFang SC", "Microsoft YaHei", PingFangSC-Medium,
            var(--foreign, "");
    }

    .xM6AVLCbLn--mainTitle--_90838ca {
        font-family: Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial,
            "PingFang SC", "Microsoft YaHei", PingFangSC-Semibold,
            var(--foreign, "");
    }

    .xM6AVLCbLn--normalPrice--_1710011
        .xM6AVLCbLn--priceWrap--acad833a
        .xM6AVLCbLn--salesDesc--dd0678cc {
        font-family: Roboto, Inter V, "Helvetica Neue", Helvetica, Tahoma, Arial,
            "PingFang SC", "Microsoft YaHei", var(--foreign, "") !important;
    }
}