/* ==UserStyle==
@name           changes
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    My personal userstyle
@author         Zerohazard8x + LLM
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/personal-style.user.styl
@homepageURL    https://github.com/Zerohazard8x/custom
==/UserStyle== */

:root {
    /* Define variables */
    --font: "IBM Plex Sans JP", "IBM Plex Sans Thai", "IBM Plex Sans",
        -apple-system, BlinkMacSystemFont, "SF Pro", "SF Pro Text", "Inter",
        "Roboto";
}

@-moz-document domain("youtube.com") {
    /* youtube - Goal: subtitles */
    /* Class ytp-caption-segment  */
    .ytp-caption-segment {
        font-family: var(--font), "YouTube Noto", Roboto, "Arial Unicode Ms",
            Arial, Helvetica, Verdana, "PT Sans Caption", sans-serif !important;
        color: #fff000 !important;
        text-shadow: #000000 0 0 5px, #000000 0 0 5px, #000000 0 0 5px !important; /* #000000 shadow with x and y offsets of 0 and blur radius 5px applied 3 times */
    }

    .captions-text {
        line-height: 350% !important;
    }
}

@-moz-document domain("facebook.com"), domain("messenger.com"), domain("instagram.com") {
    /* facebook, messenger, instagram - goal: reduce use of system font, grayscale */
    .x9f619 {
        font-family: var(--font), Segoe UI, Segoe UI Historic, Helvetica, Arial,
            sans-serif !important;
    }

    ._1gaz {
        font-family: var(--font), SFProText-Medium, Helvetica, Arial, sans-serif !important;
    }

    ._8e63 {
        font-family: var(--font), SFProDisplay-Regular, Helvetica, Arial,
            sans-serif !important;
    }

    ._45ks,
    ._4bl9,
    ._58mk,
    ._8e4l,
    #globalContainer {
        font-family: var(--font), SFProText-Regular, Helvetica, Arial,
            sans-serif !important;
    }

    ._8esh {
        font-family: var(--font), SFProText-Semibold, Helvetica, Arial,
            sans-serif !important;
    }

    ._aacl,
    .x1i0vuye,
    ._acan {
        font-family: var(--font), -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Helvetica, Arial, sans-serif;
    }

    #mount_0_0_CV,
    #mount_0_0_KX,
    #mount_0_0_ff,
    #mount_0_0_ui,
    #splash-screen,
    div.AdBox.Ad.advert.post-ads,
    div._li,
    div.download_link_sponsored,
    div.fb_reset,
    div.ob-hover {
        filter: grayscale(80%);
    }
}

@-moz-document domain("google.com") {
    /* Google - Goal: Reduce usage of Arial font, grayscale */
    a.K1yPdf,
    .L3eUgb,
    .NUnG9d,
    .ZkkK1e,
    .e9EfHf,
    .g,
    .tNxQIb,
    .tsp-fm,
    .tsp-fr,
    .wbJOMb,
    .ZwRhJd,
    .LGwnxb,
    .hgKElc,
    .CSkcDe,
    .YrbPuc,
    .eniVJf,
    .wfg6Pb,
    .C0mf1d,
    .HK7bjf,
    .HmPpvd,
    .eUOBKb,
    .PlQycd,
    .cS4Vcb-pGL6qe-k1Ncfe,
    .gb_Kd {
        font-family: Roboto, Roboto-Regular, arial, sans-serif !important;
    }

    .T8VaVe {
        font-family: Roboto, Roboto-Regular, arial, sans-serif !important;
    }

    .H1HQf,
    .SW5pqf {
        font-family: Roboto, Roboto-Regular, arial, sans-serif-medium,
            sans-serif !important;
    }

    /* Force Google Sans (if available) */
    input {
        font-family: "Google Sans", Roboto, Roboto-Regular, arial !important;
    }

    #result-stats,
    .O3S9Rb,
    .aTI8gc,
    .aTI8gc,
    .fKmH1e,
    .nfSF8e,
    .tsp-ht,
    .MBeuO,
    .wHYlTd,
    .q8U8x,
    .QXROIe,
    .IFnjPb,
    .GLcBOb,
    .normal-header,
    .yLcQMd,
    .cS4Vcb-pGL6qe-mji9Ze,
    .yKMVIe,
    h1.mGOaCb,
    input[type="submit"],
    .gLFyf {
        font-family: "Google Sans", Roboto, Roboto-Regular, arial, sans-serif !important;
    }

    .wx62f {
        font-family: Roboto, Roboto-Regular, Helvetica Neue, Arial, sans-serif !important;
    }

    #Rvx4kc,
    #_2mOxZN2bHsP8hwP9q7jwBQ_1,
    #_2mOxZN2bHsP8hwP9q7jwBQ_55,
    #gac_scont,
    #hfcr,
    #hfcr,
    #lb,
    #lfootercc,
    #snbc,
    div.CvDJxb,
    div.DH7hPe,
    div.MVPoib,
    div.T1diZc.KWE8qe,
    div.fp-nh,
    div.gb_jd,
    div.gb_kd,
    div.gb_n,
    div.gb_n,
    div.main,
    div.wYq63b,
    h1.Uo8X3b.OhScic.zsYMMe,
    span.kpshf.line.gsr.bilit.big.mdm,
    #pagetual-preload {
        filter: grayscale(80%);
    }
}

@-moz-document domain("nitter.net"), domain("nitter.riverside.rocks"), domain("nitter.tiekoetter.com"), domain("twt.funami.tech") {
    /* Nitter - goal: change all fonts */
    .container,
    .tweet-content,
    .site-name,
    button,
    select,
    input {
        font-family: var(--font), sans-serif !important;
    }
}

@-moz-document domain("inv.riverside.rocks"), domain("invidious.tiekoetter.com"), domain("yt.funami.tech"), domain("yewtu.be") {
    /* Invidious - goal: change all fonts */
    #searchbox,
    .feed-menu,
    .h-box,
    .pure-menu-heading,
    .pure-u-14-24,
    .pure-u-20-24,
    .pure-u-23-24,
    .pure-u-10-24 {
        font-family: var(--font), sans-serif !important;
    }
}

@-moz-document domain("deepl.com") {
    /* DeepL - Goal: Replace Segoe font */
    body *:not(.fa) {
        font-family: var(--font), -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Helvetica, Arial, sans-serif !important;
    }
}

@-moz-document domain("cagematch.net") {
    /* Cagematch - Goal: Reduce usage of Arial font */
    .TemplateBody,
    .HeaderMenu,
    .RatingsBoxAdjustedRating,
    input {
        font-family: var(--font), Arial, "Segoe UI", Frutiger,
            "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", sans-serif !important;
    }
}

@-moz-document domain("quora.com") {
    /* Quora - Goal: Reduce usage of system font */
    .q-box {
        font-family: var(--font), -apple-system, system-ui, BlinkMacSystemFont,
            "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
            sans-serif !important;
    }
}

@-moz-document domain("steampowered.com") {
    /* Steam - goal: reduce usage of Arial font, grayscale */
    #game_area_metascore > div,
    #queueActionsCtn,
    #review_context,
    #reviews_filter_language,
    .block_header > div,
    .flyout,
    .game_area_sys_req strong,
    .game_page_autocollapse_readmore,
    .rightcol,
    .store_nav,
    .store_horizontal_minislider,
    .tab_review_summary,
    div > a,
    #footer_text {
        font-family: "Motiva Sans", Arial, Helvetica, sans-serif !important;
    }

    /* grayscale */
    div.miniprofile_hover,
    div.responsive_page_frame.with_header,
    div.FullModalOverlay {
        filter: grayscale(80%);
    }
}