/* ==UserStyle==
@author         Zerohazard8x + LLM
@description    My personal userstyle
@homepageURL    https://github.com/Zerohazard8x/custom/tree/main/stylus
@name           personal
@namespace      github.com/openstyles/stylus
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/personal-style.user.styl
@version        2.2.5
==/UserStyle== */

@-moz-document domain("youtube.com"), domain("facebook.com"), domain("messenger.com"), domain("instagram.com"), domain("nitter.net"), domain("nitter.riverside.rocks"), domain("nitter.tiekoetter.com"), domain("twt.funami.tech"), domain("nitter.privacydev.net"), domain("nitter.poast.org"), domain("instructure.com"), domain("msn.com"), domain("metacritic.com"), domain("espn.com"), domain("espn.com.au"), domain("espn.ph"), domain("espn.co.uk"), domain("flightaware.com"), domain("twitch.tv"), domain("emojipedia.org"), domain("amazon.com"), domain("amazon.co.jp"), domain("amazon.in"), domain("soranews24.com"), domain("rocketnews24.com"), domain("steampowered.com"), domain("quora.com"), domain("deepl.com"), domain("aftership.com"), domain("weibo.com"), domain("weibo.cn"), domain("wordcounter.net"), domain("hupu.com"), domain("sports.cctv.com"), regexp(".*youtube.com\/live_chat.*"), domain("baked.live") {
    :root {
        /* Define variables */
        --font-personal: -apple-system, BlinkMacSystemFont, "SF Pro",
            "SF Pro Text", "Inter", "Roboto Flex", "Roboto", "Ubuntu", "Lato",
            "Avenir Next", "Avenir", "Proxima Nova", "IBM Plex Sans",
            "IBM Plex Sans JP", "IBM Plex Sans KR", "Helvetica Neue",
            "Helvetica", "Noto Sans JP", "Noto Sans TC", "Noto Sans SC",
            "Noto Sans KR", "Noto Sans", "Open Sans", "Droid Sans",
            ".SF UI Display", "SF Pro Display", "SF Compact", "SF Hello";
    }
}

@-moz-document domain("youtube.com") {
    /* Class ytp-caption-segment  */
    .ytp-caption-segment {
        font-family: "Fira Sans", "FF Meta", "Road UA", "Roadgeek 2014",
            "Roadgeek 2005", "Source Sans Pro", "DIN Next", "Bahnschrift",
            "Nunito Sans", "Nunito", "alte din 1451 mittelschrift", "Keiner",
            "Dinish", "Dinish Expanded", "Altinn-DIN", "D-DIN", "D-DIN Expanded",
            "DIN", "IBM Plex Sans", "Noto Sans", "Noto Sans JP", "Noto Sans TC",
            "Noto Sans SC", "Noto Sans KR", "Trebuchet MS", var(--font-personal),
            "YouTube Noto", Roboto, "Arial Unicode Ms", Arial, Helvetica,
            Verdana, "PT Sans Caption", sans-serif !important;
        color: #fff000 !important;
        background: none !important;

        /* #000000 shadow with x and y offsets of 0 and blur radius 5px applied 4 times */
        /* text-shadow: #000000 0 0 5px, #000000 0 0 5px, #000000 0 0 5px,
            #000000 0 0 5px !important; */

        /* line-height: calc(2px + 2ex + 2px); */
        /* computed: 2px + (2 * 20px) + 2px = 44px */

        /* font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); */
        /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
        /* https://madebymike.com.au/writing/fluid-type-calc-examples/ */
    }

    .caption-window {
        padding: 0.2% !important;
        border-radius: 5px !important;
        background-color: rgba(8, 8, 8, 0.75) !important;
    }

    /*     .dynamic-text-view-model-wiz,
    #meta > ytd-channel-name > div > div > yt-formatted-string,
    h2 > #title,
    h2 > yt-formatted-string {
        font-family: "YouTube Sans", "Arial", sans-serif !important;
    } */

    .dynamic-text-view-model-wiz,
    #meta > ytd-channel-name > div > div > yt-formatted-string {
        font-weight: 700 !important;
    }

    /*     h2 > yt-formatted-string {
        font-weight: 600 !important;
    } */
}

@-moz-document domain("facebook.com"), domain("messenger.com"), domain("instagram.com") {
    :root {
        --facebook: "Optimistic Text", "Optimistic Display", "Facebook Sans",
            "Optimistic Text Normal", "Optimistic Display Bold",
            "Facebook Sans Bold", FacebookSansApp-Bold;
    }

    .x12qp5cl {
        font-family: var(--facebook), var(--font-personal), Placeholder Font,
            Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif !important;
    }

    .x9f619 {
        font-family: var(--facebook), Segoe UI Historic, Segoe UI, Helvetica,
            Arial, sans-serif !important;
    }

    ._1gaz {
        font-family: var(--facebook), var(--font-personal), SFProText-Medium,
            Helvetica, Arial, sans-serif !important;
    }

    ._8e63,
    ._9axz,
    ._8eso {
        font-family: var(--facebook), var(--font-personal), SFProDisplay-Regular,
            Helvetica, Arial, sans-serif !important;
    }

    ._45ks,
    ._4bl9,
    ._58mk,
    ._8e4l,
    #globalContainer {
        font-family: var(--facebook), var(--font-personal), SFProText-Regular,
            Helvetica, Arial, sans-serif !important;
    }

    ._8esh {
        font-family: var(--facebook), var(--font-personal), SFProText-Semibold,
            Helvetica, Arial, sans-serif !important;
    }

    ._4g34,
    ._53jh {
        font-family: var(--facebook), var(--font-personal), Helvetica, Arial,
            sans-serif !important;
    }

    ._aacl,
    .x1i0vuye,
    ._acan {
        font-family: var(--facebook), var(--font-personal), -apple-system,
            BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }

    ._7y88 {
        font-family: var(--facebook), var(--font-personal), Arial;
    }
}

@-moz-document domain("nitter.net"), domain("nitter.riverside.rocks"), domain("nitter.tiekoetter.com"), domain("twt.funami.tech"), domain("nitter.privacydev.net"), domain("nitter.poast.org") {
    /* Nitter */
    .container,
    .tweet-content,
    .site-name,
    button,
    select,
    input {
        font-family: var(--font-personal), sans-serif !important;
    }
}

@-moz-document domain("deepl.com") {
    body *:not(.fa) {
        font-family: var(--font-personal), -apple-system, BlinkMacSystemFont,
            "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
    }
}

@-moz-document domain("quora.com") {
    .q-box {
        font-family: var(--font-personal), -apple-system, system-ui,
            BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
            Cantarell, "Helvetica Neue", sans-serif !important;
    }
}

@-moz-document domain("steampowered.com") {
    #game_area_metascore > div,
    #queueActionsCtn,
    #review_context,
    #reviews_filter_language,
    .block_header > div,
    .flyout,
    .game_area_sys_req strong,
    .game_page_autocollapse_readmore,
    .rightcol,
    .store_nav,
    .store_horizontal_minislider,
    .tab_review_summary,
    div > a,
    #footer_text {
        font-family: "Motiva Sans", Arial, Helvetica, sans-serif !important;
    }
}

@-moz-document domain("soranews24.com"), domain("rocketnews24.com") {
    #container,
    #searchsubmit {
        font-family: var(--font-personal), arial, helvetica, clean, sans-serif !important;
    }

    #main {
        font-family: var(--font-personal), "Helvetica Neue", Helvetica, Arial,
            sans-serif !important;
    }
}

@-moz-document domain("amazon.com"), domain("amazon.co.jp"), domain("amazon.in") {
    .NavigationBar-module__navHeader_myx_35WiMq43R8TeP3p0_dnLLH
        .NavigationBar-module__navOptions_myx_3-DW6_KRV7Rh8qixes2XJu,
    .NavigationBar-module__navHeader_title_style_myx_gLKlYY_oND8vgB6axwgyW {
        font-family: "Amazon Ember", Arial, sans-serif !important;
    }

    #a-page,
    #e > input,
    .a-container {
        font-family: "Amazon Ember", Arial, "Hiragino Kaku Gothic ProN",
            "Hiragino Sans", Meiryo, sans-serif !important;
    }

    .bucket h2 {
        font-family: "Amazon Ember", verdana, arial, helvetica, sans-serif !important;
    }

    tbody > tr > td,
    span > span > a {
        font-family: "Amazon Ember", Arial !important;
    }

    .a-color-link {
        font-family: "Amazon Ember", AmazonEmber-Regular,
            helvetica_ne_lt_55_roman, HelveticaNeueLTStd-Roman, Helvetica,
            sans-serif !important;
    }

    .a-popover-wrapper,
    .a-meter-animate {
        font-family: "Amazon Ember", "Hiragino Kaku Gothic ProN",
            "Hiragino Sans", Meiryo, sans-serif !important;
    }
}

@-moz-document domain("emojipedia.org") {
    :root {
        --font-plus-jakarta: "__Plus_Jakarta_Sans_c26b88",
            "__Plus_Jakarta_Sans_Fallback_c26b88";
    }

    body,
    .flex {
        font-family: var(--font-plus-jakarta), var(--font-personal),
            ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
            segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji !important;
    }
}

@-moz-document domain("twitch.tv") {
    .bTKXKk {
        background-color: transparent !important;
    }

    .chat-line__message,
    .bQEtql {
        font-size: 50px !important;
    }

    .cCvSAC,
    .chat-line__status {
        font-size: 38px !important;
    }

    .chat-line__message,
    section[data-test-selector="chat-room-component-layout"].chat-scrollable-area__message-container,
    .whispers .thread-message__message,
    .video-chat__message {
        line-height: 1.5 !important;
    }

    .chat-badge,
    .chat-line__message--emote,
    .ScSvg-sc-1hrsqw6-1:not(.tw-svg > .ScSvg-sc-1hrsqw6-1),
    .tw-svg
        > svg:not(.tw-svg > .ihOSMR):not(.hZiShc > svg):not(
            .ScFigure-sc-wkgzod-0 > svg
        ):not(figure > svg) {
        height: 50px !important;
        width: auto !important;
    }

    .live-time {
        font-family: "Inter", "Roobert", "Helvetica Neue", Helvetica, Arial,
            sans-serif !important;
        font-weight: var(--font-weight-semibold) !important;
    }
}

@-moz-document domain("flightaware.com") {
    input,
    #s2id_autogen1,
    #s2id_autogen2,
    .localePicker {
        font-family: "FontAwesome", Roboto, "MS Shell Dlg 2" !important;
    }

    #home-main-messaging > h1,
    .messaging-title > h2 {
        font-family: Lato, "Roboto", Arial, Helvetica, sans-serif !important;
    }
}

@-moz-document domain("metacritic.com") {
    #container,
    #content_section,
    #hpbanner,
    #site_layout,
    .col_layout,
    .hpbanner_wrapper,
    .metascore_w,
    .site_gutters,
    #primary_nav {
        font-family: ProximaNova, sans-serif !important;
    }
}

@-moz-document domain("msn.com") {
    .lightTheme,
    .locationItem-DS-EntryPoint1-6,
    .suggestion-DS-EntryPoint1-1,
    .weatherButtonWrapper-DS-EntryPoint1-3,
    .weatherFeedbackDialogButton-DS-EntryPoint1-3 {
        font-family: Segoe UI, Segoe WP, Arial, sans-serif, "MS Shell Dlg 2" !important;
    }
}

@-moz-document domain("instructure.com") {
    /* Canvas */
    /*     a {
        text-decoration: none !important;
    } */

	.ic-DashboardCard__action-badge,
    .css-xvfq40-view--flex-flex,
    .convo-peeker-convo,
    .canvasplus-convo-peeker-convo-top,
    .css-14jozxf-view--inlineBlock {
        background: none !important;
    }
}
@-moz-document domain("weibo.com"), domain("weibo.cn") {
    .woo-box-flex {
        font-family: var(--font-personal), system-ui, -apple-system, Segoe UI,
            Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif !important;
    }

    .WB_main,
    .gn_position,
    .WB_footer {
        font-family: var(--font-personal), Arial, "PingFang SC",
            "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei",
            sans-serif;
    }

    .card,
    .main-text,
    h4 {
        font-family: var(--font-personal), Helvetica Neue, Helvetica, Arial,
            sans-serif !important;
    }

    .woo-input-main {
        font-family: var(--font-personal), "MS Shell Dlg 2" !important;
    }
}

@-moz-document domain("wordcounter.net") {
    .container,
    #box {
        font-family: var(--font-personal), Helvetica, Arial !important;
    }
}

@-moz-document domain("gsmarena.com") {
    .autocomplete-desc,
    .pricing > span,
    .meta-item-time,
    .meta-item-comments,
    #footmenu > p,
    #opinions-total,
    #topsearch-text,
    #wrapper,
    .buyers-guide-notification > span,
    .meta-line > time,
    .meta-line,
    .module-fit,
    .module-phones-link,
    .module-review-xl-title > span,
    .more-news-link,
    .news-item,
    .nfo,
    .review-body,
    .row2 > span,
    .ttl,
    .user-thread,
    a,
    font > strong,
    h3,
    tr > th,
    tbody > tr > td {
        font-family: "Roboto Flex", Roboto, Arimo, Arial !important;
    }

    .specs-fans > span,
    .section-heading > a,
    #menu > li > a,
    #specs-list > table > tbody > tr > th,
    #user-comments > h2 > a,
    .accent,
    .article-info,
    .article-info-meta-link > a,
    .block-link > header > h3,
    .brandmenu-v2 > ul > li > a,
    .brandmenu-v2,
    .center-stage,
    .feat-item-header,
    .feat-item-title,
    .icon-count,
    .module-review-xl-title > strong,
    .news-item > a > h3,
    .pad > a,
    .pricing > tbody,
    .specs-phone-name-title,
    .specs-spotlight-features > li,
    h4,
    h5,
    tr > td > a:not(.collapse):not(.ttl > a):not(.nfo > a) {
        font-family: "Barlow Condensed", Google-Oswald, Arial !important;
    }
}

@-moz-document domain("hupu.com"), domain("sports.cctv.com") {
    /* Hupu + Iframe */
    .index_simple-detail-content__3FPFA,
    .hp-pc-rc-SuperMenu-sub-menu-container,
    .bbs-search-web,
    .bbs-search-web-content,
    .index_game-center-entrance-container-title__BNope,
    .index_hp-pc-breadcrumb___Sojb,
    .index_post-info___hEkW,
    .index_post-title__xE1Ku,
    .index_right-post-item__VLcv7,
    .index_right-post__Yuzlv > a,
    .index_right-post__Yuzlv,
    .post-reply-list-user-info-top-name,
    .post-reply-list-user-info-top-time,
    .post-reply-list-user-info-user-location,
    .post-user_post-user-comp-info-bottom__CqR2O,
    .search-wrap-input,
    .thread-content-detail,
    .type-wrap-txt,
    .bbs-index-web-bbsindexWarp > div {
        font-family: var(--font-personal), PingFangSC-Regular, PingFang SC, miui,
            system-ui, -apple-system, BlinkMacSystemFont, Helvetica Neue,
            Helvetica, sans-serif !important;
    }

    .post-wrapper_bbs-post-wrapper-title__TLQdd > p,
    .index_bbs-post-web-main-title-provider__uHAn9 > span,
    .index_bbs-post-web-main-title-provider__uHAn9,
    .main-c {
        font-family: var(--font-personal), PingFangSC-Semibold !important;
    }

    .content-header {
        font-family: var(--font-personal), PingFangSC-Semibold, PingFang SC !important;
    }

    .post-user_user-base-info__AxpCI > a,
    .post-wrapper_toggle-tool__MGO_Q > span,
    .index_quote-operate__28QIi > span,
    .bbs-index-web,
    .bbs-index-web-body,
    .bbs-index-web-holder,
    .bbs-index-web-middle,
    .list-item,
    .list-item-desc,
    .list-item-wrap,
    .list-wrap,
    .middle-module,
    .post-user_user-base-info__AxpCI,
    .text-list-model,
    .user-operate,
    .list-item-lights {
        font-family: var(--font-personal), PingFangSC-Regular !important;
    }

    .notLogin > a > span,
    .banneritem,
    .content-wrap,
    .hot-search,
    .hot-search-item,
    .hot-search-title,
    .hp-pc-rc-TopMenu-top,
    .radio-txt,
    .hot-title {
        font-family: var(--font-personal), PingFangSC-Regular, PingFang SC !important;
    }

    .index_right-post-title__zN9JN,
    font,
    .right-post-title,
    .post-title,
    .post-info > div {
        font-family: var(--font-personal), PingFangSC !important;
    }

    .nav_qiantao_hupu210316,
    .title,
    .cntv_list > ul > li > a {
        font-family: var(--font-personal), PingFangSC-Regular, Helvetica, Arial,
            Microsoft Yahei, sans-serif !important;
    }

    .hot-index {
        font-family: var(--font-personal), HelveticaNeue-CondensedBold,
            HelveticaNeue !important;
    }
}

@-moz-document regexp(".*youtube.com\/live_chat.*") {
    .yt-live-chat-text-message-renderer {
        font-size: 50px !important;
        line-height: 1.5 !important;
    }

    #card,
    yt-live-chat-author-chip > #author-name,
    #header-subtext,
    #message {
        font-size: 38px !important;
        line-height: 1.5 !important;
    }

    #icon > * > * > div > svg,
    .emoji,
    .yt-live-chat-author-badge-renderer,
    #img {
        height: 50px !important;
        width: auto !important;
    }
}

@-moz-document domain("yandex.com") {
    .SearchPage-Container {
        font-family: "YS Text", Arial, Helvetica, "Arial Unicode MS", sans-serif,
            -apple-system, BlinkMacSystemFont, Helvetica Neue, Roboto, Segoe UI,
            Arial, Helvetica, sans-serif !important;
    }

    .HeaderDesktop,
    .mini-suggest__input {
        font-family: "YS Text", Arial, Helvetica, "Arial Unicode MS", sans-serif,
            Arial, Helvetica, "Arial Unicode MS", sans-serif !important;
    }

    .mini-suggest__button-text {
        font-family: "YS Text", Arial, Helvetica, "Arial Unicode MS", sans-serif,
            arial, sans-serif !important;
    }
}

@-moz-document domain("baked.live") {
    #messagebuffer > div {
        font-size: 50px !important;
        line-height: 1.5 !important;
    }
}