/* ==UserStyle==
@name           tweetdeck
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    changes
@author         Zerohazard8x
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/personal-tweetdeck.user.styl
@homepageURL    https://github.com/Zerohazard8x/custom
==/UserStyle== */

@-moz-document domain("tweetdeck.twitter.com") {
    .js-column.column {
        /* Change column width */
        width: 380px !important;
    }
    
    html.dark .is-wide-columns .media-size-medium, .media-image, .media-grid-container {
        /* Make images taller */
        height: 360px !important;
    }
    
    .is-wide-columns,
    .js-dropdown-content,
    .js-modal-panel,
    .js-submittable-input,
    .action-text,
    .s-fluid-height,
    .prf,
    .js-popover-content,
    .is-focused,
    .r-1qd0xha {
        font-family: "TwitterChirp", "IBM Plex Sans JP", "IBM Plex Sans Thai",
            "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Ubuntu, "Helvetica Neue", sans-serif, "Apple Color Emoji",
            "Segoe UI Emoji", "Segoe UI Symbol", Arial, "ヒラギノ角ゴ Pro W3",
            "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック",
            "MS PGothic" !important;
    }

    .label,
    .js-action-button {
        font-family: "TwitterChirp", "IBM Plex Sans JP", "IBM Plex Sans Thai",
            "IBM Plex Sans", Helvetica Neue, Helvetica, Arial, sans-serif !important;
    }
}