/* ==UserStyle==
@name           personal2
@namespace      github.com/openstyles/stylus
@version        1.3.3
@description    My personal userstyle
@author         Zerohazard8x LLM
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/personal2.user.css
@homepageURL    https://github.com/Zerohazard8x/custom/tree/main/stylus
==/UserStyle== */
@-moz-document domain("emojipedia.org") {
    body,
    .flex {
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
            segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif,
            apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji,
            var(--foreign, "") !important;
    }
}

@-moz-document domain("flightaware.com") {
    input,
    #s2id_autogen1,
    #s2id_autogen2,
    .localePicker {
        font-family: "FontAwesome", Roboto, "MS Shell Dlg 2" !important;
    }

    #home-main-messaging h1,
    .messaging-title h2 {
        font-family: Lato, "Roboto", Arial, Helvetica, sans-serif,
            var(--foreign, "") !important;
    }
}

@-moz-document domain("weibo.com"),
domain("weibo.cn") {
    html,
    :host {
        font-family: var(--sans, ""), ui-sans-serif, system-ui, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
            "Noto Color Emoji", var(--foreign, "") !important;
    }

    .woo-box-flex {
        font-family: var(--sans, ""), system-ui, -apple-system, Segoe UI, Roboto,
            Ubuntu, Cantarell, Noto Sans, var(--foreign, ""), sans-serif !important;
    }

    .woo-like-count,
    .WB_main,
    .gn_position,
    .WB_footer {
        font-family: var(--sans, ""), Arial, "PingFang SC", "Hiragino Sans GB",
            "Microsoft YaHei", "WenQuanYi Micro Hei", var(--foreign, ""),
            sans-serif;
    }

    .mod-fil-fans span,
    .m-container-max,
    .card,
    .main-text,
    h4 {
        font-family: var(--sans, ""), Helvetica Neue, Helvetica, Arial,
            var(--foreign, ""), sans-serif !important;
    }

    .woo-input-main {
        font-family: var(--sans, ""), "MS Shell Dlg 2" !important;
    }
}

@-moz-document domain("wordcounter.net") {
    .container,
    #box {
        font-family: var(--sans, ""), Helvetica, Arial !important;
    }
}

@-moz-document domain("gsmarena.com") {
    .autocomplete-desc,
    .pricing span,
    .meta-item-time,
    .meta-item-comments,
    #footmenu p,
    #opinions-total,
    #topsearch-text,
    #wrapper,
    .buyers-guide-notification span,
    .meta-line time,
    .meta-line,
    .module-fit,
    .module-phones-link,
    .module-review-xl-title span,
    .more-news-link,
    .news-item,
    .nfo,
    .review-body,
    .row2 span,
    .ttl,
    .user-thread,
    a,
    font strong,
    h3,
    tr th,
    tbody tr td {
        font-family: "Roboto Flex", Roboto, Arimo, Arial !important;
    }

    .specs-fans span,
    .section-heading a,
    #menu li a,
    #specs-list table tbody tr th,
    #user-comments h2 a,
    .accent,
    .article-info,
    .article-info-meta-link a,
    .block-link header h3,
    .brandmenu-v2 ul li a,
    .brandmenu-v2,
    .center-stage,
    .feat-item-header,
    .feat-item-title,
    .icon-count,
    .module-review-xl-title strong,
    .news-item a h3,
    .pad a,
    .pricing tbody,
    .specs-phone-name-title,
    .specs-spotlight-features li,
    h4,
    h5,
    tr td a:not(.collapse):not(.ttl a):not(.nfo a) {
        font-family: "Barlow Condensed", Google-Oswald, Arial !important;
    }
}

@-moz-document domain("hupu.com") {
    :root {
        --hupu: hupufont, hupufont-Medium, hupufont-Regular, "HarmonyOS Sans TC",
            "HarmonyOS Sans SC", "HarmonyOS Sans", "DIN Next", "URW DIN", "DIN",
            var(--sans, "");
    }

    /* iframe */
    html[stylus-iframe$="sports.cctv.com"] {
        font-family: var(--hupu, ""), PingFangSC, var(--foreign, "") !important;
    }

    body,
    button,
    input,
    select,
    textarea {
        font-family: var(--hupu, ""), "lucida grande", tahoma, verdana, arial,
            \5b8b\4f53, var(--foreign, ""), sans-serif !important;
    }

    body,
    body *,
    html {
        font-family: var(--hupu, ""), hupufont-Regular, PingFangSC-Regular,
            PingFang SC, Helvetica Neue, Helvetica, STHeiTi, sans-serif,
            var(--foreign, "") !important;
    }

    .index_simple-detail-content__3FPFA,
    .hp-pc-rc-SuperMenu-sub-menu-container,
    .bbs-search-web,
    .bbs-search-web-content,
    .index_game-center-entrance-container-title__BNope,
    .index_hp-pc-breadcrumb___Sojb,
    .index_post-info___hEkW,
    .index_post-title__xE1Ku,
    .index_right-post-item__VLcv7,
    .index_right-post__Yuzlv a,
    .index_right-post__Yuzlv,
    .post-reply-list-user-info-top-name,
    .post-reply-list-user-info-top-time,
    .post-reply-list-user-info-user-location,
    .post-user_post-user-comp-info-bottom__CqR2O,
    .search-wrap-input,
    .thread-content-detail,
    .type-wrap-txt,
    .bbs-index-web-bbsindexWarp div {
        font-family: var(--hupu, ""), PingFangSC-Regular, PingFang SC, miui,
            system-ui, -apple-system, BlinkMacSystemFont, Helvetica Neue,
            Helvetica, var(--foreign, ""), sans-serif !important;
    }

    .bbs-sl-web-post-body,
    .bbs-sl-web-post-header,
    .bbs-sl-web-intro-detail-desc-title {
        font-family: var(--hupu, ""), PingFangSC-Medium, var(--foreign, "") !important;
    }

    .post-wrapper_bbs-post-wrapper-title__TLQdd p,
    .index_bbs-post-web-main-title-provider__uHAn9 span,
    .index_bbs-post-web-main-title-provider__uHAn9,
    .main-c {
        font-family: var(--hupu, ""), PingFangSC-Semibold, var(--foreign, "") !important;
    }

    .content-header {
        font-family: var(--sans, ""), PingFangSC-Semibold, PingFang SC,
            var(--foreign, "") !important;
    }

    .post-reply-list_post-reply-list-wrapper__o4_81
        .post-reply-list
        .reply-list-content
        .post-reply-list-operate,
    .post-operate_post-operate-comp-wrapper___odBI .post-operate-comp,
    .bbs-sl-web-intro-detail div,
    .bbs-sl-web-admin-detail-desc-text,
    .bbs-sl-web-intro-detail-desc-text,
    .post-user_user-base-info__AxpCI a,
    .post-wrapper_toggle-tool__MGO_Q span,
    .index_quote-operate__28QIi span,
    .bbs-index-web,
    .bbs-index-web-body,
    .bbs-index-web-holder,
    .bbs-index-web-middle,
    .list-item,
    .list-item-desc,
    .list-item-wrap,
    .list-wrap,
    .middle-module,
    .post-user_user-base-info__AxpCI,
    .text-list-model,
    .user-operate,
    .list-item-lights {
        font-family: var(--hupu, ""), PingFangSC-Regular, var(--foreign, "") !important;
    }

    .notLogin a span,
    .banneritem,
    .content-wrap,
    .hot-search,
    .hot-search-item,
    .hot-search-title,
    .hp-pc-rc-TopMenu-top,
    .radio-txt,
    .hot-title {
        font-family: var(--hupu, ""), PingFangSC-Regular, PingFang SC,
            var(--foreign, "") !important;
    }

    .bbs-sl-web-intro-detail-title,
    .bbs-sl-web-type-wrap div,
    .bbs-sl-web-type,
    .index_right-post-title__zN9JN,
    .right-post-title,
    .post-title,
    .post-info div {
        font-family: var(--hupu, ""), PingFangSC, var(--foreign, "") !important;
    }

    .nav_qiantao_hupu210316,
    .title,
    .cntv_list ul li a {
        font-family: var(--hupu, ""), PingFangSC-Regular, Helvetica, Arial,
            Microsoft Yahei, var(--foreign, ""), sans-serif !important;
    }

    .hot-index {
        font-family: var(--hupu, ""), HelveticaNeue-CondensedBold, HelveticaNeue,
            var(--foreign, "") !important;
    }
}

@-moz-document domain("baked.live") {
    #messagebuffer div {
        font-size: 50px !important;
        line-height: 1.5 !important;
    }
}

@-moz-document domain("naver.com") {
    body,
    button,
    input,
    select,
    table,
    textarea,
    .nng-viewer .se-viewer:lang(ko-KR),
    .nng-viewer .se-viewer:lang(ko-KR) .se-ff-system,
    .nng-viewer
        .se-viewer:lang(ko-KR)
        .se-section-image.se-l-default
        .se-caption
        .se-ff-,
    .nng-viewer .se-viewer:lang(ko-KR) .se-section-text.se-l-default .se-ff- {
        font-family: var(--sans, ""), -apple-system, BlinkMacSystemFont,
            Apple SD Gothic Neo, Helvetica, Arial, NanumGothic, 나눔고딕,
            Malgun Gothic, 맑은 고딕, Dotum, 굴림, gulim, 새굴림, noto sans,
            돋움, var(--foreign, ""), sans-serif !important;
    }
}

@-moz-document domain("amazon.com"),
domain("amazon.co.jp"),
domain("amazon.in") {
    .NavigationBar-module__navHeader_myx_35WiMq43R8TeP3p0_dnLLH
        .NavigationBar-module__navOptions_myx_3-DW6_KRV7Rh8qixes2XJu,
    .NavigationBar-module__navHeader_title_style_myx_gLKlYY_oND8vgB6axwgyW {
        font-family: "Amazon Ember", Arial, var(--foreign, ""), sans-serif !important;
    }

    #a-page,
    #e input,
    .a-container {
        font-family: "Amazon Ember", Arial, "Hiragino Kaku Gothic ProN",
            "Hiragino Sans", Meiryo, var(--foreign, ""), sans-serif !important;
    }

    .bucket h2 {
        font-family: "Amazon Ember", verdana, arial, helvetica, sans-serif,
            var(--foreign, "") !important;
    }

    .a-declarative,
    tbody tr td,
    span span a {
        font-family: "Amazon Ember", Arial, var(--foreign, "") !important;
    }

    .a-color-link {
        font-family: "Amazon Ember", AmazonEmber-Regular,
            helvetica_ne_lt_55_roman, HelveticaNeueLTStd-Roman, Helvetica,
            var(--foreign, ""), sans-serif !important;
    }

    .a-popover-wrapper,
    .a-meter-animate {
        font-family: "Amazon Ember", "Hiragino Kaku Gothic ProN",
            "Hiragino Sans", Meiryo, var(--foreign, ""), sans-serif !important;
    }
}

@-moz-document domain("soranews24.com"),
domain("rocketnews24.com") {
    #container,
    #searchsubmit {
        font-family: var(--sans, ""), arial, helvetica, clean, sans-serif,
            var(--foreign, "") !important;
    }

    #main {
        font-family: var(--sans, ""), "Helvetica Neue", Helvetica, Arial,
            var(--foreign, ""), sans-serif !important;
    }
}

@-moz-document domain("steampowered.com"),
domain("steamcommunity.com") {
    body,
    body._2LxgdMcpWJRjkxZKbmeEEb,
    .workshopItemTitle,
    body.v6 {
        font-family: "Motiva Sans", Arial, Helvetica, sans-serif,
            var(--foreign, "") !important;
    }
}

@-moz-document domain("msn.com") {
    .lightTheme,
    .locationItem-DS-EntryPoint1-6,
    .suggestion-DS-EntryPoint1-1,
    .weatherButtonWrapper-DS-EntryPoint1-3,
    .weatherFeedbackDialogButton-DS-EntryPoint1-3 {
        font-family: Segoe UI, Segoe WP, Arial, sans-serif, "MS Shell Dlg 2",
            var(--foreign, "") !important;
    }
}

@-moz-document domain("weather.com") {
    div#appWrapper.appWrapper,
    div.appWrapper.Mobile.Daybreak,
    button,
    input,
    optgroup,
    select,
    textarea,
    div.RecentLocations--container--3BLMa.RecentLocations--alwaysOpen--1nn-z,
    div.ModalContent--content--yXRDl {
        font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont,
            Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, var(--foreign, ""), sans-serif !important;
    }
}

@-moz-document domain("bilibili.com") {
    body {
        font-family: var(--sans, ""), Arial, "Microsoft YaHei",
            "Microsoft Sans Serif", "Microsoft SanSerf", "微软雅黑",
            var(--foreign, "") !important;
    }

    .n .n-num {
        font-family: var(--sans, ""), Arial, var(--foreign, "") !important;
    }

    .feed-card[data-v-87ed4514] {
        font-family: var(--sans, ""), Helvetica Neue, Helvetica, Arial,
            Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei,
            var(--foreign, ""), sans-serif !important;
    }

    .gift-item[data-v-43b0ef2a],
    .follow-cntr
        .anchor-list
        .three-anchor
        .one-anchor
        .anchor-name
        p[data-v-c58bfb0e] {
        font-family: var(--sans, ""), "PingFang SC", var(--foreign, "") !important;
    }

    .fans-medal-item {
        font-family: var(--sans, ""), "Microsoft YaHei", "Microsoft Sans Serif",
            "Microsoft SanSerf", "微软雅黑", var(--foreign, "") !important;
    }

    .harmony-font,
    .video-card-ad-small .vcd .info .title[data-v-7c4b2c06],
    .video-page-card-small .card-box .info .title {
        font-family: var(--sans, ""), PingFang SC, HarmonyOS_Regular,
            Helvetica Neue, Microsoft YaHei, var(--foreign, ""), sans-serif !important;
    }

    @media (-webkit-max-device-pixel-ratio: 1) {
        .harmony-font,
        .video-card-ad-small .vcd .info .title[data-v-7c4b2c06],
        .video-page-card-small .card-box .info .title {
            font-family: var(--sans, ""), -apple-system, BlinkMacSystemFont,
                Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB,
                Microsoft YaHei, var(--foreign, ""), sans-serif !important;
        }
    }
}

@-moz-document domain("spotify.com") {
    :root {
        --encore-body-font-stack: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr,
            CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva,
            var(--fallback-fonts, sans-serif), var(--foreign, "");
        --encore-title-font-stack: SpotifyMixUITitle, CircularSp-Arab,
            CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva,
            var(--fallback-fonts, sans-serif), var(--foreign, "");
    }
}

@-moz-document domain("music.apple.com") {
    html {
        font-family: -apple-system, BlinkMacSystemFont, Apple Color Emoji,
            SF Pro, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
            var(--foreign, ""), sans-serif !important;
    }
}

@-moz-document domain("tv.apple.com") {
    body {
        font-family: -apple-system, BlinkMacSystemFont, Apple Color Emoji,
            SF Pro, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
            "-apple-system", BlinkMacSystemFont, "-webkit-system-font",
            "Malgun Gothic", "Segoe UI", "Helvetica Neue", Helvetica,
            var(--foreign, ""), sans-serif;
    }
}

@-moz-document domain("huya.com") {
    #videoContainer,
    .more-activity-icon .more-activity-icon-box .icon-span,
    .news-v2-wrap {
        font-family: var(--sans, ""), var(--foreign, ""), Microsoft YaHei !important;
    }

    body,
    button,
    input,
    select,
    textarea,
    .mod-sidebar,
    .duya-header {
        font-family: -apple-system, BlinkMacSystemFont, var(--foreign, ""),
            Microsoft Yahei, Segoe UI, Helvetica Neue, Helvetica, Tahoma, Arial,
            Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif !important;
    }

    .jzIsBn {
        font-family: var(--sans, ""), -apple-system, BlinkMacSystemFont,
            "PingFang SC", Helvetica, Tahoma, Arial, "Hiragino Sans GB",
            var(--foreign, ""), "Microsoft YaHei", 微软雅黑, SimSun, 宋体, Heiti,
            黑体, sans-serif !important;
    }

    .danmu-item span {
        font-family: var(--sans, ""), SimHei, var(--foreign, ""),
            Microsoft Yahei, -apple-system, BlinkMacSystemFont, Segoe UI,
            Helvetica Neue, Helvetica, Tahoma, Arial, Hiragino Sans GB, Heiti SC,
            WenQuanYi Micro Hei, sans-serif !important;
    }

    div#chat-room_list.chat-room_list,
    .chat-room__list {
        line-height: normal !important;
    }

    span.msg,
    div.tit-h-send {
        font-size: 25px !important;
    }

    .chat-room__list .msg-bubble,
    span.cont-item.name.J_userMenu,
    .chat-room__list .msg-normal {
        font-size: 20px !important;
    }
}

@-moz-document regexp(".*faceit\\.com.*\\/watch.*") {
    .codsZE,
    .kDLXzz {
        font-family: "Play", var(--foreign, ""), sans-serif !important;
    }

    .codsZE,
    .kDLXzz,
    div.sc-hwdzOV.kOYNaN,
    div.sc-eBMEME.hutjIi img {
        line-height: normal !important;
    }

    .codsZE,
    .kDLXzz,
    div.sc-eBMEME.hutjIi img {
        font-size: 25px !important;
    }

    div.sc-hwdzOV.kOYNaN {
        font-size: 20px !important;
    }
}

@-moz-document domain("lostmediawiki.com") {
    html,
    body {
        font-family: "Levenim MT", var(--foreign, ""), serif !important;
    }
}

@-moz-document domain("x.com") {
    .r-poiln3 .r-37j5jr,
    .css-175oi2r,
    .css-175oi2r div {
        font-family: "TwitterChirp", "TwitterChirpExtendedHeavy", -apple-system,
            BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
            var(--foreign, ""), sans-serif !important;
    }
}

@-moz-document domain("baidu.com") {
    body,
    button,
    input,
    select,
    textarea,
    .c-font-normal,
    #container.sam_newgrid,
    .wrapper_new,
    .c_font_2AD7M,
    body,
    th,
    td,
    .p1,
    .p2,
    .new-pmd .c-title,
    .new-pmd .c-font-medium,
    a.n font font,
    body,
    div,
    span,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    code,
    b,
    del,
    dfn,
    em,
    img,
    q,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    dialog,
    figure,
    footer,
    header,
    hgroup,
    nav,
    section {
        font-family: var(--sans, ""), Arial, var(--foreign, ""), sans-serif !important;
    }
}

@-moz-document domain("fmkorea.com") {
    .btn_pack,
    .btn_pack a,
    .btn_pack button,
    .btn_pack input,
    .btn_pack span,
    .cnb_n_list,
    .fm_hot_key *,
    #gnb .a1 span,
    .top_hotdeal a,
    body,
    .fm_best_widget *,
    #header {
        font-family: var(--sans, ""), "Apple SD Gothic Neo", "Malgun Gothic",
            "맑은 고딕", arial, var(--foreign, ""), sans-serif !important;
    }

    .rd_body .document_address .a {
        font-family: var(--sans, ""), verdana, var(--foreign, "") !important;
    }
}

@-moz-document domain("espn.com"),
domain("espn.ph") {
    :root {
        --espn: -apple-system, BlinkMacSystemFont, Roboto, Arial, Helvetica Neue,
            Helvetica, sans-serif;
    }

    body,
    .mod-page-header .player-bio ul.general-info li,
    .player-card .mod-page-header h1,
    .mod-page-header .player-bio ul.player-metadata li,
    .mod-header h4,
    .mod-content-feed .result h3,
    .view-more-posts,
    a.view-more-posts:visited,
    #footer,
    .mod-page-header .player-bio .follow-text {
        font-family: var(--espn, ""), helvetica, arial, clean, sans-serif !important;
    }

    #global-viewport,
    #global-nav-secondary .global-nav-container > ul > li > a,
    #global-nav-secondary .tertiary-nav-container > ul > li > a,
    #global-nav-tertiary .global-nav-container > ul > li > a,
    #global-nav-tertiary .tertiary-nav-container > ul > li > a {
        font-family: var(--espn, ""), "BentonSans", -apple-system, "Roboto",
            Helvetica, Arial, sans-serif !important;
    }

    .mod-container,
    .tablehead th,
    .tablehead td,
    .mod-page-header .player-stats p,
    .mod-page-tabs ul.ui-tabs {
        font-family: var(--espn, ""), verdana, helvetica, arial, sans-serif !important;
    }
}

@-moz-document domain("lazada.com.ph") {
    body,
    .lzd-header,
    .just-for-you .sale-price .currency,
    .just-for-you .sale-price .price,
    .lzd-site-nav-menu-dropdown
        .lzd-site-menu-root-item
        > .lzd-site-menu-root-item-link
        > span,
    .lzd-site-nav-menu-dropdown
        .lzd-site-menu-sub
        .sub-item-remove-arrow
        > a
        > span,
    .search-box__input--O34g {
        font-family: NotoSans-Regular, -apple-system, BlinkMacSystemFont, Roboto,
            "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC",
            "Microsoft YaHei", sans-serif, Roboto-Regular, Helvetica Neue,
            Helvetica, Tahoma, Arial, Sans-serif !important;
    }

    .lzd-site-nav-menu
        .lzd-site-menu-nav-container
        .lzd-site-menu-nav-category
        .lzd-site-menu-nav-category-text {
        font-family: NotoSans-Medium, NotoSans-Regular, Roboto-Medium !important;
    }
}