/* ==UserStyle==
@name           changes
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    My personal userstyle
@author         Zerohazard8x + LLM
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/personal-style.user.styl
@homepageURL    https://github.com/Zerohazard8x/custom
==/UserStyle== */

:root {
    /* Define variables */
    --plex-base: "IBM Plex Sans JP", "IBM Plex Sans Thai", "IBM Plex Sans";
}

@-moz-document domain("youtube.com") {
    /* youtube - Goal: subtitles */
    /* Class ytp-caption-segment  */
    .ytp-caption-segment {
        font-family: var(--plex-base), "YouTube Noto", Roboto,
            "Arial Unicode Ms", Arial, Helvetica, Verdana, "PT Sans Caption",
            sans-serif !important;
        color: #fff000 !important;
        text-shadow: #000000 0 0 5px, #000000 0 0 5px, #000000 0 0 5px !important; /* #000000 shadow with x and y offsets of 0 and blur radius 5px applied 3 times */
    }

    .ytp-caption-window-container {
        line-height: 250% !important;
    }
    
    .ytp-caption-window-container {
        line-height: 250% !important;
    }
}

@-moz-document domain("facebook.com"), domain("messenger.com") {
    /* facebook, messenger - goal: change all fonts */
    .x9f619 {
        font-family: var(--plex-base), Segoe UI, Segoe UI Historic, Helvetica,
            Arial, sans-serif !important;
    }
}

@-moz-document domain("bing.com") {
    /* Bing - Goal: Make sure website uses one single font + "fluent" changes */
    /* Var initializations */
    :root {
        --font-text: "Roboto", "Segoe UI Variable Text", "Segoe UI", SegoeUI,
            Segoe;
        --header-display: "Segoe UI Variable Display", "Segoe UI", SegoeUI,
            Segoe, "Roboto";
        --footer-small: "Roboto", "Segoe UI Variable Small", "Segoe UI", SegoeUI,
            Segoe;
        /* --logo-url: url(https://r.bing.com/rp/QO12R6eZz9WMzJPOio-qN8bXJZ4.png); */
    }

    /* Japanese font fix by Kenji Iguchi */
    /* :root * { */
    /* Redefine variable cib-font-text */
    /* --cib-font-text: font-family: -apple-system, Roboto, "Segoe UI Variable Text", SegoeUI, "Segoe UI", "Helvetica Neue", Helvetica, "Meiryo UI", Meiryo, Arial Unicode MS, sans-serif !important; */
    /* } */

    /* Search box */
    .b_searchboxForm {
        border-radius: 12px !important; /* Box searchbar corners */
    }

    /* Navigation bar */
    /* All ul and li under a .b_scopebar element */
    .b_scopebar > ul li {
        /* Undo small caps */
        text-transform: none !important;
        font-size: 14px !important;
        font-family: var(--font-text), Arial, Helvetica, sans-serif !important;
    }

    .b_scopebar ul {
        height: 45px !important;
    }

    .b_scopebar li,
    .b_scopebar #b-scopeListItem-menu {
        line-height: 40px !important;
    }

    /* Navigation bar "pill" */
    .b_scopebar li::after {
        margin-top: -1px !important;
    }

    /* Navigation bar submenu */
    .b_scopebar_item > a {
        text-transform: none !important;
        font-size: 13px !important;
    }

    /* Change logo (at least on results pages) */
    /* .b_logo {
         height: 50px !important;
         margin-top: 0px !important;
         width: 150px !important;
     }
 
     .b_logo::after {
         content: var(--logo-url) !important;
         transform-origin: 47px 8px !important;
         transform: scale(0.1) !important;
     }
 
     .icon::after {
         content: none !important;
     } */

    /* Fonts */
    .b_respl,
    #b_footerItems a,
    #b_footerItems span,
    .items,
    .idp-refresh-page-main-line,
    .lite-entcard-main,
    .lite-entcard-exp,
    .mc_vtvc_meta,
    .mc_bc_rc,
    .metaItem,
    .img_info,
    .vd-duration,
    .cbtn,
    .tit,
    .img_badges > span a,
    .rsa,
    #fltIdtCon,
    #vvlb,
    #id_h,
    .title {
        font-family: var(--font-text), Arial, Helvetica, sans-serif !important;
    }

    #sw_as {
        font-family: var(--font-text) !important;
        filter: opacity(100%) !important;
    }

    /* Variable Small Fallback */
    #imagemeta,
    .b_vPanel,
    .l_ecrd_ftr_txt,
    .rd_gtrtb_nav_item,
    .rstc,
    .sto_attr_header,
    .fdbtext,
    .b_fbText,
    .b_seeMoreCont,
    .b_algospacing,
    .recommendationsTableTitle > h2 {
        font-family: var(--footer-small), Arial, sans-serif !important;
        filter: opacity(100%) !important;
    }

    /* Variable Small */
    .mc_vtvc_title > span strong,
    .mc_vtvc_title > strong,
    .mc_vtvc_meta_row_channel,
    .dg_b .infnmpt .infpd a,
    .b_title {
        font-family: "Segoe UI Variable Small", "Segoe UI", SegoeUI, Segoe,
            "Roboto", Helvetica, sans-serif;
        filter: opacity(100%) !important;
    }

    /* Variable Text */
    h2,
    .wpvn_ala_wtt,
    .b_primtxt,
    .b_searchboxForm,
    .rwrl,
    .sto_attrlitc,
    .sto_attr_table,
    .ent-dtab-nam-ov-dtp,
    .b_topTitle,
    .b_vList,
    .b_entityTitle,
    #detailMeta,
    .qna_algoLink_title,
    .dest_name,
    .b_rc_gb_widget_title {
        font-family: "Segoe UI Variable Text", "Segoe UI", SegoeUI, Segoe,
            "Roboto", Helvetica, sans-serif !important;
    }

    /* Variable Display */
    h2 > span,
    span > a,
    .b_mgridTitle,
    .b_focusTextMedium,
    .sto_title,
    .thdrail_card_title > div,
    .b_focusTextLarge,
    .irp-video-slogan,
    .scs_metactn > div h2,
    container-title {
        font-family: var(--header-display), Helvetica, Arial, sans-serif !important;
        filter: opacity(100%) !important;
    }
}

@-moz-document domain("google.com") {
    /* Google - Goal: Reduce usage of Arial font */
    a.K1yPdf,
    .L3eUgb,
    .NUnG9d,
    .ZkkK1e,
    .e9EfHf,
    .g,
    .tNxQIb,
    .tsp-fm,
    .tsp-fr,
    .wbJOMb,
    .ZwRhJd,
    .LGwnxb,
    .hgKElc,
    .CSkcDe,
    .YrbPuc,
    .eniVJf,
    .wfg6Pb,
    .C0mf1d,
    .HK7bjf,
    .HmPpvd,
    .eUOBKb,
    .PlQycd,
    .cS4Vcb-pGL6qe-k1Ncfe,
    .gb_Kd {
        font-family: Roboto, arial, sans-serif !important;
    }

    .T8VaVe {
        font-family: Roboto, roboto-regular, arial, sans-serif !important;
    }

    .H1HQf,
    .SW5pqf {
        font-family: Roboto, arial, sans-serif-medium, sans-serif !important;
    }

    /* Force Google Sans (if available) */
    input {
        font-family: "Google Sans", Roboto, arial !important;
    }

    #result-stats,
    .O3S9Rb,
    .aTI8gc,
    .aTI8gc,
    .fKmH1e,
    .nfSF8e,
    .tsp-ht,
    .MBeuO,
    .wHYlTd,
    .q8U8x,
    .QXROIe,
    .IFnjPb,
    .GLcBOb,
    .normal-header,
    .yLcQMd,
    .cS4Vcb-pGL6qe-mji9Ze,
    h1.mGOaCb,
    input[type="submit"],
    .gLFyf {
        font-family: "Google Sans", Roboto, arial, sans-serif !important;
    }
}

@-moz-document domain("nitter.net"), domain("nitter.riverside.rocks"), domain("nitter.tiekoetter.com"), domain("twt.funami.tech") {
    /* Nitter - goal: change all fonts */
    .container,
    .tweet-content,
    .site-name,
    button,
    select,
    input {
        font-family: var(--plex-base), sans-serif !important;
    }
}

@-moz-document domain("inv.riverside.rocks"), domain("invidious.tiekoetter.com"), domain("yt.funami.tech"), domain("yewtu.be") {
    /* Invidious - goal: change all fonts */
    #searchbox,
    .feed-menu,
    .h-box,
    .pure-menu-heading,
    .pure-u-14-24,
    .pure-u-20-24,
    .pure-u-23-24,
    .pure-u-10-24 {
        font-family: var(--plex-base), sans-serif !important;
    }
}

@-moz-document domain("deepl.com") {
    /* DeepL - Goal: Replace Segoe font */
    body *:not(.fa) {
        font-family: var(--plex-base), -apple-system, BlinkMacSystemFont,
            "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
    }
}

@-moz-document domain("cagematch.net") {
    /* Cagematch - Goal: Reduce usage of Arial font */
    .TemplateBody,
    .HeaderMenu,
    .RatingsBoxAdjustedRating,
    input {
        font-family: var(--plex-base), Arial, "Segoe UI", Frutiger,
            "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", sans-serif !important;
    }
}

@-moz-document domain("poe.com") {
    /* Poe - Goal: Reduce usage of system font */
    .PageWithSidebarLayout_centeredPage__D42BU,
    .ReactModal__Content {
        font-family: var(--plex-base), apple-system, system-ui,
            BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell,
            Helvetica Neue, sans-serif !important;
    }
}

@-moz-document domain("quora.com") {
    /* Quora - Goal: Reduce usage of system font */
    .q-box {
        font-family: var(--plex-base), -apple-system, system-ui,
            BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
            Cantarell, "Helvetica Neue", sans-serif !important;
    }
}
