/* ==UserStyle==
@author         Zerohazard8x + LLM
@description    My personal userstyle
@homepageURL    https://github.com/Zerohazard8x/custom/tree/main/stylus
@name           personal
@namespace      github.com/openstyles/stylus
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/personal.user.css
@version        2.8.6
==/UserStyle== */

@-moz-document domain("youtube.com"), domain("youtube-nocookie.com"), domain("facebook.com"), domain("messenger.com"), domain("instagram.com"), domain("nitter.net"), domain("instructure.com"), domain("twitch.tv"), domain("deepl.com"), regexp(".*youtube.com\/live_chat.*"), domain("9xbuddy.in"), domain("x.com"), domain("nitter.tiekoetter.com"), domain("nitter.privacydev.net"), domain("nitter.poast.org"), domain("xcancel.com"), domain("feedly.com"), domain("inoreader.com"), domain("mail.google.com"), domain("translate.google.com") {
    :root {
        /* Define variables */
        --noto: var(--emoji, ""), "Noto Sans JP", "Noto Sans TC", "Noto Sans SC",
            "Noto Sans KR", "Noto Sans Thai", "Noto Sans Devanagari", PingFang,
            "PingFang SC", "Hiragino Sans", "Apple SD Gothic Neo", Thonburi,
            "Tiro Devanagari Hindi", "Geeza Pro", Geeza, "Yu Gothic",
            "Microsoft YaHei UI", "Microsoft YaHei", "Malgun Gothic",
            "Leelawadee UI", "Nirmala UI", "Segoe UI Arabic";
        --emoji: "Apple Color Emoji", "SF Symbols", "Segoe UI Emoji",
            "Segoe Fluent Icons", "Segoe MDL2 Assets", "Segoe UI Symbol",
            "Noto Color Emoji", "Noto Sans Symbols", "EmojiOne Color",
            "Twemoji Mozilla";
        --sans: -apple-system, BlinkMacSystemFont, "Inter V", "Roboto",
            "Avenir Next", Avenir, "Segoe UI Variable", "Segoe UI";
        --readable: "Public Sans", "Fira Sans", "Bahnschrift", "Aptos Narrow",
            "IBM Plex Sans";
        /* --readable-full: "Public Sans", "Fira Sans", FiraGO, "FF Meta",
            Recursive, "Atkinson Hyperlegible", "Aptos", "Source Sans Pro",
            "Nunito Sans", "Nunito", "Raleway", "Road UA", "Akshar", "DIN Next",
            "URW DIN", "DIN Alternate", "Bahnschrift", "Aptos Narrow",
            "alte din 1451 mittelschrift", "Keiner", "Dinish", "Dinish Expanded",
            "Altinn-DIN", "D-DIN", "D-DIN Expanded", "DIN", "IBM Plex Sans Var",
            "IBM Plex Sans JP", "IBM Plex Sans KR", "IBM Plex Sans",
            "Aptos Display", "Trebuchet MS", "Roadgeek 2014",
            "Roadgeek 2005"; */
    }
}

@-moz-document domain("youtube.com"), domain("youtube-nocookie.com") {
    /* YouTube */
    /* Class ytp-caption-segment  */
    .ytp-caption-segment {
        font-family: var(--readable, ""), var(--sans, ""), "YouTube Noto",
            Roboto, "Arial Unicode Ms", Arial, Helvetica, Verdana,
            "PT Sans Caption", sans-serif, var(--noto, "") !important;
        color: #fff000 !important;
        background: none !important;
        font-size: 175% !important;

        /* #000000 shadow with x and y offsets of 0 and blur radius 5px applied 4 times */
        /* text-shadow: #000000 0 0 5px, #000000 0 0 5px, #000000 0 0 5px,
            #000000 0 0 5px !important; */

        /* line-height: calc(2px 2ex 2px); */
        /* computed: 2px (2 * 20px) 2px = 44px */

        /* font-size: calc(14px (26 - 14) * ((100vw - 300px) / (1600 - 300))); */
        /* font-size: calc([minimum size] ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
        /* https://madebymike.com.au/writing/fluid-type-calc-examples/ */
    }

    .caption-window {
        padding: 0.45% !important;
        border-radius: 5px !important;
        margin-bottom: 4% !important;
        background-color: rgba(8, 8, 8, 0.75) !important;
    }

    li.sbsb_c.gsfs div,
    .badge-shape-wiz,
    .badge.ytd-badge-supported-renderer,
    #owner-name.ytd-miniplayer,
    #modern-owner-name.ytd-miniplayer,
    .miniplayer-title.ytd-miniplayer,
    div.metadata.style-scope.ytd-miniplayer,
    ytd-page-manager * .style-scope,
    div#items.ytd-mini-guide-renderer,
    tp-yt-paper-toast.yt-notification-action-renderer,
    div#guide-content.ytd-app,
    div.style-scope.ytd-guide-renderer,
    div.style-scope.ytd-guide-section-renderer,
    div.title.ytd-guide-entry-renderer,
    div.style-scope.ytd-popup-container,
    div.style-scope.ytd-multi-page-menu-renderer,
    div.style-scope.ytd-active-account-header-renderer,
    #label.ytd-compact-link-renderer,
    #label.ytd-toggle-theme-compact-link-renderer {
        font-family: Roboto, Arial, sans-serif, var(--noto, "") !important;
    }

    #search-input.ytd-searchbox-spt input,
    tp-yt-paper-item {
        font-family: Roboto, Noto, sans-serif, var(--noto, "") !important;
    }
}

@-moz-document domain("music.youtube.com") {
    html,
    .title.ytmusic-two-row-item-renderer,
    .subtitle.ytmusic-two-row-item-renderer,
    .third-title.ytmusic-two-row-item-renderer,
    .title.ytmusic-responsive-list-item-renderer,
    .secondary-flex-columns.ytmusic-responsive-list-item-renderer
        .flex-column.ytmusic-responsive-list-item-renderer {
        font-family: Roboto, Noto Naskh Arabic UI, Arial, var(--noto, ""),
            sans-serif, var(--noto, "") !important;
    }
}

@-moz-document regexp(".*youtube.com\/live_chat.*"), regexp(".*hyperchat.*") {
    div.content.overflow-y-scroll,
    .yt-live-chat-text-message-renderer,
    #card,
    yt-live-chat-author-chip #author-name,
    #header-subtext,
    #message,
    #icon * * div svg,
    .emoji,
    .yt-live-chat-author-badge-renderer,
    #img {
        line-height: normal !important;
    }

    div.content.overflow-y-scroll {
        font-family: Roboto, sans-serif, var(--noto, "") !important;
    }

    .yt-live-chat-text-message-renderer,
    #card,
    yt-live-chat-author-chip #author-name,
    #header-subtext,
    #message {
        font-family: Roboto, Arial, sans-serif, var(--noto, "") !important;
    }

    .yt-live-chat-text-message-renderer,
    span.font-bold.tracking-wide.align-middle {
        font-size: 25px !important;
    }

    span.svelte-g0o36m span,
    #card,
    yt-live-chat-author-chip #author-name,
    #header-subtext,
    #message {
        font-size: 20px !important;
    }

    #icon * * div svg,
    .emoji,
    .yt-live-chat-author-badge-renderer,
    #img {
        height: 25px !important;
        width: auto !important;
    }
}

@-moz-document domain("facebook.com"), domain("messenger.com"), domain("instagram.com") {
    :root {
        --facebook: Optimistic, "Optimistic Text", "Optimistic Display",
            "Optimistic Text Normal", "Optimistic Display Bold";
    }

    .x12qp5cl {
        font-family: var(--facebook, ""), Placeholder Font, Segoe UI Historic,
            Segoe UI, Helvetica, Arial, sans-serif, var(--noto, "") !important;
    }

    .x78zum5 {
        font-family: var(--facebook, ""), Segoe UI Historic, Segoe UI, Helvetica,
            Arial, sans-serif, var(--noto, "") !important;
    }

    ._9o1- div,
    ._9ai0,
    ._1gaz {
        font-family: var(--facebook, ""), SFProText-Medium, Helvetica, Arial,
            var(--noto, ""), sans-serif, var(--noto, "") !important;
    }

    ._8e63,
    ._9axz,
    ._8eso {
        font-family: var(--facebook, ""), SFProDisplay-Regular, Helvetica, Arial,
            var(--noto, ""), sans-serif, var(--noto, "") !important;
    }

    ._9nq2,
    ._9ai4,
    ._4bl9,
    ._58mk,
    ._8e4l,
    #globalContainer {
        font-family: var(--facebook, ""), SFProText-Regular, Helvetica, Arial,
            var(--noto, ""), sans-serif, var(--noto, "") !important;
    }

    ._9o1v,
    ._42ft,
    ._9ai2,
    ._8esh {
        font-family: var(--facebook, ""), SFProText-Semibold, Helvetica, Arial,
            var(--noto, ""), sans-serif, var(--noto, "") !important;
    }

    .uiHeaderTitle {
        font-family: var(--facebook, ""), SFProDisplay-Bold, Helvetica, Arial,
            var(--noto, ""), sans-serif, var(--noto, "") !important;
    }

    ._4g34,
    ._53jh {
        font-family: var(--facebook, ""), Helvetica, Arial, var(--noto, ""),
            sans-serif, var(--noto, "") !important;
    }

    ._ap3a,
    ._aacl,
    .x1i0vuye,
    ._acan {
        font-family: var(--facebook, ""), -apple-system, BlinkMacSystemFont,
            "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }

    ._7y88 {
        font-family: var(--facebook, ""), Arial, var(--noto, "");
    }

    .inputtext {
        font-family: var(--facebook, ""), Roboto-Regular, Helvetica, Arial,
            var(--noto, ""), sans-serif, var(--noto, "") !important;
    }

    div.x18l40ae.x14ctfv.x1lkfr7t.xk50ysn.x37zpob.xdj266r.xv81d3b.xat24cr.x5jn1jc.xulzisn.x1msn8f2.x1uwfbks.x1qobr7z
        span {
        font-family: var(--readable, ""), var(--facebook, ""), Placeholder Font,
            Segoe UI Historic, Segoe UI, Helvetica, Arial, var(--noto, ""),
            sans-serif, var(--noto, "") !important;
        color: #fff000 !important;
        background: none !important;
    }

    div.x18l40ae.x14ctfv.x1lkfr7t.xk50ysn.x37zpob.xdj266r.xv81d3b.xat24cr.x5jn1jc.xulzisn.x1msn8f2.x1uwfbks.x1qobr7z {
        padding: 0.45% !important;
        border-radius: 5px !important;
        background-color: rgba(8, 8, 8, 0.75) !important;
    }
}

@-moz-document domain("deepl.com") {
    body *:not(.fa) {
        font-family: var(--sans, ""), -apple-system, BlinkMacSystemFont,
            "Segoe UI", Roboto, Helvetica, Arial, sans-serif, var(--noto, "") !important;
    }
}

@-moz-document domain("twitch.tv") {
    /* Twitch */
    div.Layout-sc-1xcs6mc-0.iXyRYU.clips-chat-replay,
    .chat-line__status,
    span.CoreText-sc-1txzju1-0.doCFUd {
        line-height: normal !important;
    }

    img.chat-image.InjectLayout-sc-1i43xsx-0.clips-chat-line-emote.jbmPmA,
    .chat-badge {
        width: auto !important;
    }

    div.Layout-sc-1xcs6mc-0.iXyRYU.clips-chat-replay,
    span.CoreText-sc-1txzju1-0.doCFUd,
    .chat-author__display-name,
    .chat-line__status,
    .bQEtql,
    body,
    .live-time {
        font-family: "Inter", "Roobert", "Helvetica Neue", Helvetica, Arial,
            var(--noto, ""), sans-serif, var(--noto, "") !important;
    }

    /* Chat messages */
    div.Layout-sc-1xcs6mc-0.iXyRYU.clips-chat-replay,
    .bQEtql {
        font-size: 25px !important;
    }

    img.chat-image.InjectLayout-sc-1i43xsx-0.clips-chat-line-emote.jbmPmA {
        height: 25px !important;
    }

    /* Chat authors */
    span.CoreText-sc-1txzju1-0.doCFUd,
    .chat-author__display-name,
    .chat-line__status {
        font-size: 20px !important;
    }

    a.ScCoreLink-sc-16kq0mq-0.eFqEFL.tw-link img.chat-badge {
        height: 20px !important;
    }
}

@-moz-document domain("9xbuddy.in") {
    #root section {
        font-family: var(--sans, ""), ui-sans-serif, system-ui, -apple-system,
            BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
            Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
            Segoe UI Symbol, Noto Color Emoji !important;
    }
}

@-moz-document domain("x.com") {
    .r-poiln3 .r-37j5jr,
    .css-175oi2r,
    .css-175oi2r div {
        font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont,
            "Segoe UI", Roboto, Helvetica, Arial, sans-serif, var(--noto, "") !important;
    }
}

@-moz-document domain("nitter.tiekoetter.com"), domain("nitter.privacydev.net"), domain("nitter.poast.org"), domain("xcancel.com") {
    /* Nitter */
    .container,
    .tweet-content,
    .site-name,
    button,
    select,
    input {
        font-family: var(--sans, ""), sans-serif, var(--noto, "") !important;
    }
}

@-moz-document domain("feedly.com") {
    body {
        font-family: var(--sans, ""), var(--sans-serif, "") !important;
    }
}

@-moz-document domain("inoreader.com") {
    body {
        font-family: Roboto, sans-serif, var(--noto, "") !important;
    }
}

@-moz-document domain("mail.google.com") {
    body,
    input,
    textarea,
    select,
    .zA > .a4W,
    .yW,
    .ha > .hP,
    .gb_xe {
        font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial,
            var(--noto, ""), sans-serif, var(--noto, "") !important;
    }
}

@-moz-document domain("translate.google.com") {
    body {
        font-family: Roboto, RobotoDraft, Helvetica, Arial, var(--noto, ""),
            sans-serif, var(--noto, "") !important;
    }

    .VhOj3e,
    .l6Jrx {
        font-family: "Google Sans", sans-serif, var(--noto, "") !important;
    }
}