/* ==UserStyle==
@author         Zerohazard8x + LLM
@description    My personal userstyle
@homepageURL    https://github.com/Zerohazard8x/custom/tree/main/stylus
@name           personal
@namespace      github.com/openstyles/stylus
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/personal.user.css
@version        2026.01.25
==/UserStyle== */

@-moz-document domain("youtube.com"), domain("youtube-nocookie.com") {
    /* YouTube */

    /* Regex that excludes e.g. music.youtube.com */
    /* Separate:  regexp("^.*www\.youtube\.com.*"), regexp("^(?!.*(\w+\.youtube\.com)).*youtube\.com.*") */
    /* Combined: ^(?:.*www\.youtube\.com.*|(?!.*(\w+\.google\.com)).*youtube\.com.*) */

    /* Class ytp-caption-segment  */
    .ytp-caption-segment {
        font-family:
            var(--readable, ""), var(--sans, ""), "YouTube Noto", Roboto,
            "Arial Unicode Ms", Arial, Helvetica, Verdana, "PT Sans Caption",
            var(--foreign, ""), sans-serif !important;
        color: #fff000 !important;

        /* #000000 shadow with x and y offsets of 0 and blur radius 5px applied 4 times */
        /* text-shadow: #000000 0 0 5px, #000000 0 0 5px, #000000 0 0 5px,
            #000000 0 0 5px; */
        /* line-height: calc(2px 2ex 2px); */
        /* computed: 2px (2 * 15px) 2px = 44px */
        /* font-size: calc(14px (26 - 14) * ((100vw - 300px) / (1600 - 300))); */
        /* font-size: calc([minimum size] ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
        /* https://madebymike.com.au/writing/fluid-type-calc-examples/ */
    }

    .ytp-caption-segment:not(#inline-preview-player *) {
        background: none !important;
        /* font-size: 1.5em !important; */
    }

    .caption-window:not(#inline-preview-player *) {
        padding: 0.45em;
        border-radius: 5px;
        margin-bottom: 4em;
        background-color: rgba(8, 8, 8, 0.5);
        width: auto !important;
        /* backdrop-filter: blur(5px); */
    }

    /* class containing "ytd-miniplayer", etc */
    /* ... i] means case insensitive */
    .ytSearchboxComponentInput,
    .yt-content-metadata-view-model--medium-text
        .yt-content-metadata-view-model__metadata-text,
    .yt-lockup-metadata-view-model--standard.yt-lockup-metadata-view-model--rich-grid-legacy-typography
        .yt-lockup-metadata-view-model__title,
    .ytChipShapeChip,
    .shortsLockupViewModelHostOutsideMetadataTitle,
    div#right-tabs,
    .ytMarqueeScrollPrimaryString,
    .ytMarqueeScrollDuplicateString,
    .yt-spec-button-shape-next,
    ytd-text-inline-expander,
    .truncated-text-wiz,
    .page-header-view-model-wiz__page-header-title--page-header-title-large,
    ytd-watch-metadata[title-headline-xs] h1.ytd-watch-metadata,
    [class*="metadata-view-model-wiz" i],
    ytd-video-meta-block:not([rich-meta])
        #byline-container.ytd-video-meta-block,
    ytd-video-meta-block[rich-meta] #byline-container.ytd-video-meta-block,
    [class*="ytd-miniplayer" i],
    [class*="ytd" i][id*="title" i],
    [class*="ytd" i][class*="renderer" i],
    #content-text.ytd-comment-view-model,
    yt-chip-cloud-chip-renderer[modern] {
        font-family: Roboto, Arial, var(--foreign, ""), sans-serif !important;
    }

    tp-yt-paper-dialog,
    #search-input.ytd-searchbox-spt input,
    tp-yt-paper-item {
        font-family: Roboto, Noto, var(--foreign, ""), sans-serif;
    }

    .html5-video-player {
        font-family:
            "YouTube Noto", Roboto, Arial, Helvetica, var(--foreign, ""),
            sans-serif !important;
    }

    ytd-engagement-panel-title-header-renderer[modern-panels]:not(
            [ads-semantic-text]
        )
        #title-text.ytd-engagement-panel-title-header-renderer,
    [class*="yt-sans" i] {
        font-family: "YouTube Sans", "Roboto", var(--foreign, ""), sans-serif;
    }

    /* Firefox RTX video super resolution fix */
    #ytd-player.ytd-watch-flexy {
        border-radius: 0 !important;
    }

    ytd-masthead {
        opacity: 0.98 !important;
    }

    /* Cleaning */
    ytd-ad-slot-renderer.style-scope.ytd-search-pyv-renderer,
    div.ytp-suggested-action,
    /* ytd-popup-container.style-scope.ytd-app, */
    div#player-ads.style-scope.ytd-watch-flexy,
    .YtwTopBannerImageTextIconButtonedLayoutViewModelHostBannerImage,
    ytd-merch-shelf-renderer.style-scope.ytd-watch-flexy,
    #mealbar-promo-renderer,
    #Ci0KK1NVQlNDUklCRVJTX09OTFlfVkVNMjAyMy8xMi8yNy0wMzoxODo1OS4zMDU\%3D,
    #about-these-results,
    #paid-comment-background,
    #sub-header,
    #ticker,
    .ytd-rich-section-renderer.style-scope,
    .ytd-video-description-infocards-section-renderer.style-scope.yt-simple-endpoint,
    #plasmo-csui,
    #yt-live-chat-author-chip.yt-live-chat-message-input-renderer.style-scope,
    #ytd-guide-entry-renderer.style-scope.ytd-guide-section-renderer:nth-child(
            2
        ),
    #ytd-guide-section-renderer.style-scope.ytd-guide-renderer:nth-child(
            n + 3
        ):nth-child(-n + 4),
    #ytd-metadata-row-container-renderer.ytd-watch-metadata.style-scope {
        display: none;
    }
}

@-moz-document domain("music.youtube.com") {
    html,
    [class*="ytmusic" i][class*="renderer" i] {
        font-family:
            Roboto,
            Noto Naskh Arabic UI,
            Arial,
            sans-serif,
            var(--foreign, "");
    }

    .title.ytmusic-carousel-shelf-basic-header-renderer,
    .title.ytmusic-responsive-header-renderer,
    ytmusic-shelf-renderer[is-bauhaus-web-detail-page-redesign-enabled]
        .title.ytmusic-shelf-renderer
        > yt-formatted-string.ytmusic-shelf-renderer {
        font-family:
            YouTube Sans,
            Roboto,
            Noto Naskh Arabic UI,
            Arial,
            var(--foreign, ""),
            sans-serif;
    }
}

@-moz-document regexp(".*youtube\\.com\\/live_chat.*") {
    /* youtube live chat */
    /* chat font size */
    :root {
        --tv-font-size: 0.8em;
    }

    /* div.content.overflow-y-scroll,
    .yt-live-chat-text-message-renderer,
    #card,
    yt-live-chat-author-chip #author-name,
    #header-subtext,
    #message,
    #icon * * div svg,
    .emoji,
    .yt-live-chat-author-badge-renderer,
    #img {
        line-height: normal;
    } */

    div.content.overflow-y-scroll {
        font-family: Roboto, var(--foreign, ""), sans-serif;
    }

    .yt-live-chat-text-message-renderer,
    #card,
    yt-live-chat-author-chip #author-name,
    #header-subtext,
    #message {
        font-family: Roboto, Arial, var(--foreign, ""), sans-serif;
    }

    .yt-spec-button-shape-next--size-xs,
    .ytSpecIconShapeHost,
    span.svelte-g0o36m span,
    #header-subtext,
    #message,
    .yt-live-chat-text-message-renderer,
    span.font-bold.tracking-wide.align-middle {
        font-size: var(--tv-font-size, initial);
        /* text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black,
            -1px 1px 1px black; */
    }

    #card,
    yt-live-chat-author-chip #author-name {
        font-size: calc(var(--tv-font-size, initial) * 0.75);
    }

    .yt-spec-button-shape-next--size-xs,
    .ytSpecIconShapeHost,
    #message.yt-live-chat-text-message-renderer
        .emoji.yt-live-chat-text-message-renderer,
    #icon * * div svg,
    .emoji,
    .yt-live-chat-author-badge-renderer,
    #img {
        height: var(--tv-font-size, initial);
        width: auto;
    }

    .yt-spec-button-shape-next--size-xs .yt-spec-button-shape-next__icon {
        width: calc(var(--tv-font-size, initial) * 1.5);
    }

    yt-live-chat-text-message-renderer,
    [data-ytlstm-theater-mode] #chat #items > *,
    html[data-ytlstm-chat-over-video] #chat #items > *,
    [data-ytlstm-chat-over-video] yt-live-chat-text-message-renderer #content {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .yt-spec-button-shape-next--size-xs {
        padding: 0px;
    }
}

@-moz-document domain("facebook.com"),
domain("messenger.com"),
domain("instagram.com"),
domain("threads.net") {
    :root {
        --facebook:
            Optimistic, "Optimistic AI VF", "Optimistic Text",
            "Optimistic Display", "Optimistic Text Normal",
            "Optimistic Display Bold";
    }

    :root,
    .__fb-dark-mode,
    ._aa4c {
        --font-family-segoe:
            var(--facebook, ""), Segoe UI Historic, Segoe UI, Helvetica, Arial,
            var(--foreign, ""), sans-serif;
        --font-family-system:
            var(--facebook, ""), system-ui, -apple-system, BlinkMacSystemFont,
            Roboto, Helvetica, Arial, sans-serif, var(--foreign, "");
    }

    #facebook .system-fonts--body *,
    #facebook .system-fonts--body.segoe {
        font-family: var(--font-family-segoe, "");
    }

    ._9o1- div,
    ._9ai0,
    ._1gaz {
        font-family:
            var(--facebook, ""), SFProText-Medium, Helvetica, Arial,
            var(--foreign, ""), sans-serif;
    }

    ._8e63,
    ._9axz,
    ._8eso {
        font-family:
            var(--facebook, ""), SFProDisplay-Regular, Helvetica, Arial,
            var(--foreign, ""), sans-serif;
    }

    ._9nq2,
    ._9ai4,
    ._4bl9,
    ._58mk,
    ._8e4l,
    #globalContainer {
        font-family:
            var(--facebook, ""), SFProText-Regular, Helvetica, Arial,
            var(--foreign, ""), sans-serif;
    }

    ._9o1v,
    ._42ft,
    ._9ai2,
    ._8esh {
        font-family:
            var(--facebook, ""), SFProText-Semibold, Helvetica, Arial,
            var(--foreign, ""), sans-serif;
    }

    .uiHeaderTitle {
        font-family:
            var(--facebook, ""), SFProDisplay-Bold, Helvetica, Arial,
            var(--foreign, ""), sans-serif;
    }

    ._4g34,
    ._53jh {
        font-family:
            var(--facebook, ""), Helvetica, Arial, sans-serif,
            var(--foreign, "");
    }

    ._ap3a,
    ._aacl,
    ._acan {
        font-family:
            var(--facebook, ""),
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Helvetica,
            Arial,
            var(--foreign, ""),
            sans-serif;
    }

    ._7y88 {
        font-family: var(--facebook, ""), Arial, var(--foreign, "");
    }

    .inputtext {
        font-family:
            var(--facebook, ""), Roboto-Regular, Helvetica, Arial,
            var(--foreign, ""), sans-serif;
    }

    div.x18l40ae.x14ctfv.x1lkfr7t.xk50ysn.x37zpob.xdj266r.x32vodv.xat24cr.x1v6o4qg.xulzisn.xoge9qh.x1uwfbks.xytt9sc
        span,
    div.x18l40ae.x14ctfv.x1lkfr7t.xk50ysn.x37zpob.xdj266r.xv81d3b.xat24cr.x5jn1jc.xulzisn.x1msn8f2.x1uwfbks.x1qobr7z
        span {
        font-family:
            var(--readable, ""),
            var(--facebook, ""),
            Placeholder Font,
            Segoe UI Historic,
            Segoe UI,
            Helvetica,
            Arial,
            sans-serif,
            var(--foreign, "");
        color: #fff000;
        background: none;
    }

    div.x18l40ae.x14ctfv.x1lkfr7t.xk50ysn.x37zpob.xdj266r.x32vodv.xat24cr.x1v6o4qg.xulzisn.xoge9qh.x1uwfbks.xytt9sc,
    div.x18l40ae.x14ctfv.x1lkfr7t.xk50ysn.x37zpob.xdj266r.xv81d3b.xat24cr.x5jn1jc.xulzisn.x1msn8f2.x1uwfbks.x1qobr7z {
        padding: 0.45vw;
        border-radius: 5px;
        background-color: rgba(8, 8, 8, 0.5);
        width: auto !important;
        /* backdrop-filter: blur(5px); */
    }
}

@-moz-document domain("deepl.com") {
    body *:not(.fa) {
        font-family:
            var(--sans, ""),
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Helvetica,
            Arial,
            var(--foreign, ""),
            sans-serif;
    }
}

@-moz-document domain("twitch.tv") {
    :root {
        --font-base:
            "Inter", "Roobert", "Helvetica Neue", Helvetica, Arial,
            var(--foreign, ""), sans-serif;
        --tv-font-size: 1em;
    }

    /* Anu Twitch Chat Overlay */
    .anu-chat-overlay-inner:not(.atco-dettached):not(.hovered)
        .chat-list--default
        .chat-line__message,
    .anu-chat-overlay-container
        .atco-dettached:not(.hovered)
        .chat-list--default
        .chat-line__message,
    .anu-chat-overlay-container
        .atco-dettached:not(.hovered)
        .chat-list--default
        .seventv-chat-message-body,
    .anu-chat-overlay-container
        .atco-dettached:not(.hovered)
        .video-chat__message-list-wrapper
        .vod-message,
    .anu-chat-overlay-container
        .atco-dettached:not(.hovered)
        .video-chat__message-list-wrapper
        .seventv-chat-message-body {
        font-family: var(--font-base, ""), Roobert;
        background-color: rgba(0, 0, 0, 0.5);
        /* backdrop-filter: blur(5px); */
    }

    /* FrankerFaceZ chat overlay*/
    /* .ffz--fschat .channel-root__right-column > div {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .ffz--fschat .ffz--meta-tray,
    .ffz--fschat .channel-root__right-column > div {
        backdrop-filter: blur(5px);
    } */

    /* subtitles */
    .player-captions-container__caption-line {
        font-family:
            var(--readable, ""), var(--font-base, ""), Verdana, Arial,
            Helvetica, "PT Sans Caption", sans-serif;
        background: none;
        color: #fff000;
    }

    div.player-captions-container__caption-window {
        padding: 0.45em;
        border-radius: 5px;
        margin-bottom: 4em;
        background-color: rgba(8, 8, 8, 0.5);
        width: auto !important;
    }

    /* div.Layout-sc-1xcs6mc-0.iXyRYU.clips-chat-replay,
    .chat-line__status,
    span.CoreText-sc-1txzju1-0.doCFUd {
        line-height: normal;
    } */

    /* .chat-line__message,
    .chat-line__moderation,
    .chat-line__status {
        padding-top: 0.125rem;
        padding-bottom: 0.125rem;
    } */

    .ffz-badge,
    img.chat-image.chat-line__message--emote,
    .ScFigure-sc-wkgzod-0.dTgXNe.tw-svg svg,
    .chat-badge {
        width: auto;
    }

    /* Chat messages */
    a.link-fragment,
    strong.chat-line__message-mention,
    a.ScCoreLink-sc-16kq0mq-0.eFqEFL.link-fragment.tw-link,
    span.text-fragment,
    div.Layout-sc-1xcs6mc-0.iXyRYU.clips-chat-replay,
    .bQEtql {
        font-size: var(--tv-font-size, initial);
        text-shadow:
            1px 1px 1px black,
            -1px -1px 1px black,
            1px -1px 1px black,
            -1px 1px 1px black;
    }

    img.chat-image.chat-line__message--emote {
        height: var(--tv-font-size, initial);
    }

    /* Chat authors */
    span.chat-author__intl-login,
    p.CoreText-sc-1txzju1-0.cCvSAC,
    span.CoreText-sc-1txzju1-0.doCFUd,
    .chat-author__display-name,
    .chat-line__status {
        font-size: calc(var(--tv-font-size, initial) * 0.75);
        text-shadow:
            1px 1px 1px black,
            -1px -1px 1px black,
            1px -1px 1px black,
            -1px 1px 1px black;
    }

    a.ScCoreLink-sc-16kq0mq-0.eFqEFL.tw-link img.chat-badge,
    .ScFigure-sc-wkgzod-0.dTgXNe.tw-svg svg {
        height: calc(var(--tv-font-size, initial) * 0.75);
    }

    .ffz-badge {
        background-size: calc(var(--tv-font-size, initial) * 0.75);
        height: calc(var(--tv-font-size, initial) * 0.75);
        min-width: calc(var(--tv-font-size, initial) * 0.75);
    }
}

@-moz-document domain("9xbuddy.in") {
    #root section {
        font-family:
            ui-sans-serif,
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            Segoe UI,
            Roboto,
            Helvetica Neue,
            Arial,
            Noto Sans,
            sans-serif,
            Apple Color Emoji,
            Segoe UI Emoji,
            Segoe UI Symbol,
            Noto Color Emoji,
            var(--foreign, "");
    }
}

@-moz-document domain("nitter.tiekoetter.com"),
domain("nitter.privacydev.net"),
domain("nitter.poast.org"),
domain("xcancel.com"), 
domain("nitter.net") {
    /* Nitter */
    body {
        font-family:
            var(--sans, ""),
            Helvetica Neue,
            Helvetica,
            Arial,
            var(--foreign, ""),
            sans-serif;
    }

    .tweet-content,
    input[type="text"],
    input[type="date"],
    select {
        font-family: var(--sans, ""), var(--foreign, ""), sans-serif;
    }
}

@-moz-document domain("mail.google.com") {
    .asor_c,
    .asor_e,
    .asor_b,
    .aqe,
    .gb_2d,
    body,
    input,
    textarea,
    select,
    .zA > .a4W,
    .yW,
    .ha > .hP,
    .gb_xe {
        font-family:
            Google Sans Flex,
            Google Sans,
            Helvetica Neue,
            var(--foreign, ""),
            sans-serif,
            "Google Sans",
            Roboto,
            RobotoDraft,
            Helvetica,
            Arial,
            sans-serif;
    }
}

@-moz-document domain("translate.google.com") {
    body {
        font-family:
            Google Sans Flex,
            Google Sans,
            Helvetica Neue,
            var(--foreign, ""),
            var(--foreign, ""),
            sans-serif,
            Roboto,
            RobotoDraft,
            Helvetica,
            Arial,
            sans-serif;
    }

    .VhOj3e,
    .l6Jrx {
        font-family:
            "Google Sans",
            Google Sans Flex,
            Google Sans,
            Helvetica Neue,
            var(--foreign, ""),
            sans-serif,
            var(--foreign, ""),
            sans-serif;
    }
}

@-moz-document domain("searx.tiekoetter.com") {
    /* SearX */
    html {
        font-family: var(--sans, ""), var(--foreign, ""), sans-serif;
    }
}

@-moz-document domain("translate.kagi.com") {
    @layer theme {
        :root,
        :host {
            --font-sans:
                var(--sans, ""), Helvetica, Arial, var(--foreign, ""),
                sans-serif;
            --font-universal:
                "Noto Sans", "Noto Sans SC", "Noto Sans JP", "Noto Sans KR",
                "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans Thai",
                "Noto Sans Devanagari", "Noto Sans Bengali", "Noto Sans Tamil",
                "Noto Sans Telugu", "Noto Sans Gujarati", "Noto Sans Kannada",
                "Noto Sans Malayalam", "Noto Sans Myanmar", "Noto Sans Khmer",
                "Noto Sans Armenian", "Noto Sans Georgian",
                "Noto Sans Ethiopic", "Segoe UI", "Roboto", "Helvetica Neue",
                Arial, var(--foreign, ""), sans-serif;
        }
    }
}

@-moz-document domain("inoreader.com") {
    html,
    body {
        font-family:
            Public Sans,
            var(--foreign, ""),
            sans-serif;
    }
}