/* ==UserStyle==
@name           personal2
@namespace      github.com/openstyles/stylus
@version        1.0.1
@description    My personal userstyle
@author         Zerohazard8x LLM
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/personal2.user.styl
@homepageURL    https://github.com/Zerohazard8x/custom/tree/main/stylus
==/UserStyle== */

@-moz-document domain("tweetdeck.twitter.com") {
    :root {
        /* Define variables */
        --font: -apple-system, BlinkMacSystemFont, "SF Pro", "SF Pro Text",
            "Roboto Flex", "Roboto", "Fira Sans", FiraGO, "FF Meta",
            "Noto Sans JP", "Noto Sans TC", "Noto Sans SC", "Noto Sans KR",
            "Noto Sans";
        --readable: "Public Sans", "Fira Sans", FiraGO, "FF Meta", "Aptos",
            "Bahnschrift", "Aptos Narrow", "DIN", "Noto Sans JP", "Noto Sans TC",
            "Noto Sans SC", "Noto Sans KR", "Noto Sans";
    }
}

@-moz-document domain("tweetdeck.twitter.com") {
    .js-column.column {
        /* Change column width */
        width: 370px !important;
    }

    html.dark .is-wide-columns .media-size-medium,
    .media-image,
    .media-grid-container {
        /* Make images taller */
        height: 360px !important;
    }

    .is-wide-columns,
    .js-dropdown-content,
    .js-modal-panel,
    .js-submittable-input,
    .action-text,
    .s-fluid-height,
    .prf,
    .js-popover-content,
    .is-focused,
    label,
    .js-filter-types,
    .js-filter-input,
    .login-container,
    .r-1qd0xha {
        font-family: "TwitterChirp", var(--font-personal), -apple-system,
            BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue",
            sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
            Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ,
            Meiryo, "ＭＳ Ｐゴシック", "MS PGothic" !important;
    }

    .btn,
    .label,
    .btn-on-dark,
    .Button,
    .js-action-button {
        font-family: "TwitterChirp", var(--font-personal), Helvetica Neue,
            Helvetica, Arial, sans-serif !important;
    }

    /* AMOLED dark */
    html.dark .app-columns-container,
    html.dark .stream-item,
    html.dark .column-panel,
    html.dark .column-title-edit-box,
    html.dark .column-header,
    html.dark .app-header,
    html.dark .column-nav-item,
    html.dark .app-navigator,
    html.dark .app-title,
    html.dark .border-divider,
    html.dark .with-column-divider-bottom,
    html.dark .column-options .button-tray,
    html.dark .dropdown-menu,
    html.dark .popover,
    html.dark input,
    html.dark .detail-view-inline,
    html.dark .detail-view-inline-text,
    html.dark .facet-type.is-active,
    html.dark .column,
    html.dark .mdl {
        background-color: black !important;
        border-bottom-color: black !important;
        border-color: black !important;
    }

    /* #btdRoot,
    #update-sound,
    div.application.js-app.is-condensed,
    div.context-menu,
    div.is-hidden.js-message-banner.message-banner,
    div.js-app-loading.login-container,
    div.js-modals-container,
    div.js-app-loading.login-container,
    div.is-hidden.application.js-app,
    div.Layer.NotificationListLayer,
    #react-root {
        filter: sepia(40%);
    } */
}

@-moz-document domain("nitter.net"), domain("nitter.riverside.rocks"), domain("nitter.tiekoetter.com"), domain("twt.funami.tech"), domain("nitter.privacydev.net"), domain("nitter.poast.org") {
    /* Nitter */
    .container,
    .tweet-content,
    .site-name,
    button,
    select,
    input {
        font-family: var(--font), sans-serif !important;
    }
}

@-moz-document domain("quora.com") {
    .q-box {
        font-family: var(--font), -apple-system, system-ui, BlinkMacSystemFont,
            "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
            sans-serif !important;
    }
}

@-moz-document domain("emojipedia.org") {
    :root {
        --font-plus-jakarta: "__Plus_Jakarta_Sans_c26b88",
            "__Plus_Jakarta_Sans_Fallback_c26b88";
    }

    body,
    .flex {
        font-family: var(--font-plus-jakarta), var(--font), ui-sans-serif,
            system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
            helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
            segoe ui emoji, segoe ui symbol, noto color emoji !important;
    }
}

@-moz-document domain("flightaware.com") {
    input,
    #s2id_autogen1,
    #s2id_autogen2,
    .localePicker {
        font-family: "FontAwesome", Roboto, "MS Shell Dlg 2" !important;
    }

    #home-main-messaging h1,
    .messaging-title h2 {
        font-family: Lato, "Roboto", Arial, Helvetica, sans-serif !important;
    }
}

@-moz-document domain("metacritic.com") {
    #container,
    #content_section,
    #hpbanner,
    #site_layout,
    .col_layout,
    .hpbanner_wrapper,
    .metascore_w,
    .site_gutters,
    #primary_nav {
        font-family: ProximaNova, sans-serif !important;
    }
}

@-moz-document domain("weibo.com"), domain("weibo.cn") {
    .woo-box-flex {
        font-family: var(--font), system-ui, -apple-system, Segoe UI, Roboto,
            Ubuntu, Cantarell, Noto Sans, sans-serif !important;
    }

    .WB_main,
    .gn_position,
    .WB_footer {
        font-family: var(--font), Arial, "PingFang SC", "Hiragino Sans GB",
            "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    }

    .card,
    .main-text,
    h4 {
        font-family: var(--font), Helvetica Neue, Helvetica, Arial, sans-serif !important;
    }

    .woo-input-main {
        font-family: var(--font), "MS Shell Dlg 2" !important;
    }
}

@-moz-document domain("wordcounter.net") {
    .container,
    #box {
        font-family: var(--font), Helvetica, Arial !important;
    }
}

@-moz-document domain("gsmarena.com") {
    .autocomplete-desc,
    .pricing span,
    .meta-item-time,
    .meta-item-comments,
    #footmenu p,
    #opinions-total,
    #topsearch-text,
    #wrapper,
    .buyers-guide-notification span,
    .meta-line time,
    .meta-line,
    .module-fit,
    .module-phones-link,
    .module-review-xl-title span,
    .more-news-link,
    .news-item,
    .nfo,
    .review-body,
    .row2 span,
    .ttl,
    .user-thread,
    a,
    font strong,
    h3,
    tr th,
    tbody tr td {
        font-family: "Roboto Flex", Roboto, Arimo, Arial !important;
    }

    .specs-fans span,
    .section-heading a,
    #menu li a,
    #specs-list table tbody tr th,
    #user-comments h2 a,
    .accent,
    .article-info,
    .article-info-meta-link a,
    .block-link header h3,
    .brandmenu-v2 ul li a,
    .brandmenu-v2,
    .center-stage,
    .feat-item-header,
    .feat-item-title,
    .icon-count,
    .module-review-xl-title strong,
    .news-item a h3,
    .pad a,
    .pricing tbody,
    .specs-phone-name-title,
    .specs-spotlight-features li,
    h4,
    h5,
    tr td a:not(.collapse):not(.ttl a):not(.nfo a) {
        font-family: "Barlow Condensed", Google-Oswald, Arial !important;
    }
}

@-moz-document domain("hupu.com"), domain("sports.cctv.com") {
    /* Hupu Iframe */
    .index_simple-detail-content__3FPFA,
    .hp-pc-rc-SuperMenu-sub-menu-container,
    .bbs-search-web,
    .bbs-search-web-content,
    .index_game-center-entrance-container-title__BNope,
    .index_hp-pc-breadcrumb___Sojb,
    .index_post-info___hEkW,
    .index_post-title__xE1Ku,
    .index_right-post-item__VLcv7,
    .index_right-post__Yuzlv a,
    .index_right-post__Yuzlv,
    .post-reply-list-user-info-top-name,
    .post-reply-list-user-info-top-time,
    .post-reply-list-user-info-user-location,
    .post-user_post-user-comp-info-bottom__CqR2O,
    .search-wrap-input,
    .thread-content-detail,
    .type-wrap-txt,
    .bbs-index-web-bbsindexWarp div {
        font-family: var(--font), PingFangSC-Regular, PingFang SC, miui,
            system-ui, -apple-system, BlinkMacSystemFont, Helvetica Neue,
            Helvetica, sans-serif !important;
    }

    .post-wrapper_bbs-post-wrapper-title__TLQdd p,
    .index_bbs-post-web-main-title-provider__uHAn9 span,
    .index_bbs-post-web-main-title-provider__uHAn9,
    .main-c {
        font-family: var(--font), PingFangSC-Semibold !important;
    }

    .content-header {
        font-family: var(--font), PingFangSC-Semibold, PingFang SC !important;
    }

    .post-user_user-base-info__AxpCI a,
    .post-wrapper_toggle-tool__MGO_Q span,
    .index_quote-operate__28QIi span,
    .bbs-index-web,
    .bbs-index-web-body,
    .bbs-index-web-holder,
    .bbs-index-web-middle,
    .list-item,
    .list-item-desc,
    .list-item-wrap,
    .list-wrap,
    .middle-module,
    .post-user_user-base-info__AxpCI,
    .text-list-model,
    .user-operate,
    .list-item-lights {
        font-family: var(--font), PingFangSC-Regular !important;
    }

    .notLogin a span,
    .banneritem,
    .content-wrap,
    .hot-search,
    .hot-search-item,
    .hot-search-title,
    .hp-pc-rc-TopMenu-top,
    .radio-txt,
    .hot-title {
        font-family: var(--font), PingFangSC-Regular, PingFang SC !important;
    }

    .index_right-post-title__zN9JN,
    font,
    .right-post-title,
    .post-title,
    .post-info div {
        font-family: var(--font), PingFangSC !important;
    }

    .nav_qiantao_hupu210316,
    .title,
    .cntv_list ul li a {
        font-family: var(--font), PingFangSC-Regular, Helvetica, Arial,
            Microsoft Yahei, sans-serif !important;
    }

    .hot-index {
        font-family: var(--font), HelveticaNeue-CondensedBold, HelveticaNeue !important;
    }
}

@-moz-document domain("yandex.com") {
    .SearchPage-Container {
        font-family: "YS Text", Arial, Helvetica, "Arial Unicode MS", sans-serif,
            -apple-system, BlinkMacSystemFont, Helvetica Neue, Roboto, Segoe UI,
            Arial, Helvetica, sans-serif !important;
    }

    .HeaderDesktop,
    .mini-suggest__input {
        font-family: "YS Text", Arial, Helvetica, "Arial Unicode MS", sans-serif,
            Arial, Helvetica, "Arial Unicode MS", sans-serif !important;
    }

    .mini-suggest__button-text {
        font-family: "YS Text", Arial, Helvetica, "Arial Unicode MS", sans-serif,
            arial, sans-serif !important;
    }

    .Label-Content {
        font-family: "YS Text", Verdana, Arial, Helvetica, sans-serif !important;
    }
}

@-moz-document domain("baked.live") {
    #messagebuffer div {
        font-size: 50px !important;
        line-height: 1.5 !important;
    }
}