/* ==UserStyle==
@name           personal2
@namespace      github.com/openstyles/stylus
@version        1.1.2
@description    My personal userstyle
@author         Zerohazard8x LLM
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/personal2.user.styl
@homepageURL    https://github.com/Zerohazard8x/custom/tree/main/stylus
==/UserStyle== */

@-moz-document domain("weibo.com"), domain("weibo.cn"), domain("hupu.com"), domain("sports.cctv.com"), domain("naver.com"), domain("bilibili.com"), domain("spotify.com"), domain("music.apple.com") {
    :root {
        --noto: var(--emoji, ""), "Noto Sans JP", "Noto Sans TC", "Noto Sans SC",
            "Noto Sans KR", "Noto Sans Thai", "Noto Sans Devanagari", PingFang,
            "PingFang SC", "Hiragino Sans", "Apple SD Gothic Neo", Thonburi,
            "Tiro Devanagari Hindi", "Yu Gothic", "Microsoft YaHei UI",
            "Microsoft YaHei", "Malgun Gothic", "Leelawadee UI", "Nirmala UI";
        --emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
            "Noto Color Emoji", "EmojiOne Color", "Twemoji Mozilla";
        --sans: -apple-system, BlinkMacSystemFont, "Inter V", "Roboto",
            "Segoe UI Variable", "Segoe UI", var(--noto, "");
        --readable: "Public Sans", "Fira Sans", "Work Sans", "Bahnschrift",
            "Aptos Narrow", "IBM Plex Sans Var", "IBM Plex Sans JP",
            "IBM Plex Sans KR", "IBM Plex Sans", var(--noto, "");
    }
}

@-moz-document domain("quora.com") {
    .q-box {
        font-family: var(--sans, ""), -apple-system, system-ui,
            BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
            Cantarell, "Helvetica Neue", sans-serif !important;
    }
}

@-moz-document domain("emojipedia.org") {
    :root {
        --sans-plus-jakarta: "__Plus_Jakarta_Sans_c26b88",
            "__Plus_Jakarta_Sans_Fallback_c26b88";
    }

    body,
    .flex {
        font-family: var(--sans-plus-jakarta), var(--sans, ""), ui-sans-serif,
            system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
            helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
            segoe ui emoji, segoe ui symbol, noto color emoji !important;
    }
}

@-moz-document domain("flightaware.com") {
    input,
    #s2id_autogen1,
    #s2id_autogen2,
    .localePicker {
        font-family: "FontAwesome", Roboto, "MS Shell Dlg 2" !important;
    }

    #home-main-messaging h1,
    .messaging-title h2 {
        font-family: Lato, "Roboto", Arial, Helvetica, sans-serif !important;
    }
}

@-moz-document domain("weibo.com"), domain("weibo.cn") {
    .woo-box-flex {
        font-family: var(--sans, ""), system-ui, -apple-system, Segoe UI, Roboto,
            Ubuntu, Cantarell, Noto Sans, var(--noto, ""), sans-serif !important;
    }

    .woo-like-count,
    .WB_main,
    .gn_position,
    .WB_footer {
        font-family: var(--sans, ""), Arial, "PingFang SC", "Hiragino Sans GB",
            "Microsoft YaHei", "WenQuanYi Micro Hei", var(--noto, ""),
            sans-serif;
    }

    .card,
    .main-text,
    h4 {
        font-family: var(--sans, ""), Helvetica Neue, Helvetica, Arial,
            var(--noto, ""), sans-serif !important;
    }

    .woo-input-main {
        font-family: var(--sans, ""), var(--noto, ""), "MS Shell Dlg 2" !important;
    }
}

@-moz-document domain("wordcounter.net") {
    .container,
    #box {
        font-family: var(--sans, ""), Helvetica, Arial !important;
    }
}

@-moz-document domain("gsmarena.com") {
    .autocomplete-desc,
    .pricing span,
    .meta-item-time,
    .meta-item-comments,
    #footmenu p,
    #opinions-total,
    #topsearch-text,
    #wrapper,
    .buyers-guide-notification span,
    .meta-line time,
    .meta-line,
    .module-fit,
    .module-phones-link,
    .module-review-xl-title span,
    .more-news-link,
    .news-item,
    .nfo,
    .review-body,
    .row2 span,
    .ttl,
    .user-thread,
    a,
    font strong,
    h3,
    tr th,
    tbody tr td {
        font-family: "Roboto Flex", Roboto, Arimo, Arial !important;
    }

    .specs-fans span,
    .section-heading a,
    #menu li a,
    #specs-list table tbody tr th,
    #user-comments h2 a,
    .accent,
    .article-info,
    .article-info-meta-link a,
    .block-link header h3,
    .brandmenu-v2 ul li a,
    .brandmenu-v2,
    .center-stage,
    .feat-item-header,
    .feat-item-title,
    .icon-count,
    .module-review-xl-title strong,
    .news-item a h3,
    .pad a,
    .pricing tbody,
    .specs-phone-name-title,
    .specs-spotlight-features li,
    h4,
    h5,
    tr td a:not(.collapse):not(.ttl a):not(.nfo a) {
        font-family: "Barlow Condensed", Google-Oswald, Arial !important;
    }
}

@-moz-document domain("hupu.com") {
    :root {
        --hupu: hupufont, hupufont-Medium, hupufont-Regular, "HarmonyOS Sans TC",
            "HarmonyOS Sans SC", "HarmonyOS Sans", "DIN Next", "URW DIN", "DIN",
            var(--sans, "");
    }

    /* iframe */
    html[stylus-iframe$="sports.cctv.com"] {
        font-family: var(--hupu, ""), PingFangSC, var(--noto, "") !important;
    }

    body,
    button,
    input,
    select,
    textarea {
        font-family: var(--hupu, ""), "lucida grande", tahoma, verdana, arial,
            \5b8b\4f53, var(--noto, ""), sans-serif !important;
    }

    body,
    body *,
    html {
        font-family: var(--hupu, ""), hupufont-Regular, PingFangSC-Regular,
            PingFang SC, Helvetica Neue, Helvetica, STHeiTi, sans-serif !important;
    }

    .index_simple-detail-content__3FPFA,
    .hp-pc-rc-SuperMenu-sub-menu-container,
    .bbs-search-web,
    .bbs-search-web-content,
    .index_game-center-entrance-container-title__BNope,
    .index_hp-pc-breadcrumb___Sojb,
    .index_post-info___hEkW,
    .index_post-title__xE1Ku,
    .index_right-post-item__VLcv7,
    .index_right-post__Yuzlv a,
    .index_right-post__Yuzlv,
    .post-reply-list-user-info-top-name,
    .post-reply-list-user-info-top-time,
    .post-reply-list-user-info-user-location,
    .post-user_post-user-comp-info-bottom__CqR2O,
    .search-wrap-input,
    .thread-content-detail,
    .type-wrap-txt,
    .bbs-index-web-bbsindexWarp div {
        font-family: var(--hupu, ""), PingFangSC-Regular, PingFang SC, miui,
            system-ui, -apple-system, BlinkMacSystemFont, Helvetica Neue,
            Helvetica, var(--noto, ""), sans-serif !important;
    }

    .bbs-sl-web-post-body,
    .bbs-sl-web-post-header,
    .bbs-sl-web-intro-detail-desc-title {
        font-family: var(--hupu, ""), PingFangSC-Medium, var(--noto, "") !important;
    }

    .post-wrapper_bbs-post-wrapper-title__TLQdd p,
    .index_bbs-post-web-main-title-provider__uHAn9 span,
    .index_bbs-post-web-main-title-provider__uHAn9,
    .main-c {
        font-family: var(--hupu, ""), PingFangSC-Semibold, var(--noto, "") !important;
    }

    .content-header {
        font-family: var(--sans, ""), PingFangSC-Semibold, PingFang SC,
            var(--noto, "") !important;
    }

    .post-reply-list_post-reply-list-wrapper__o4_81
        .post-reply-list
        .reply-list-content
        .post-reply-list-operate,
    .post-operate_post-operate-comp-wrapper___odBI .post-operate-comp,
    .bbs-sl-web-intro-detail div,
    .bbs-sl-web-admin-detail-desc-text,
    .bbs-sl-web-intro-detail-desc-text,
    .post-user_user-base-info__AxpCI a,
    .post-wrapper_toggle-tool__MGO_Q span,
    .index_quote-operate__28QIi span,
    .bbs-index-web,
    .bbs-index-web-body,
    .bbs-index-web-holder,
    .bbs-index-web-middle,
    .list-item,
    .list-item-desc,
    .list-item-wrap,
    .list-wrap,
    .middle-module,
    .post-user_user-base-info__AxpCI,
    .text-list-model,
    .user-operate,
    .list-item-lights {
        font-family: var(--hupu, ""), PingFangSC-Regular, var(--noto, "") !important;
    }

    .notLogin a span,
    .banneritem,
    .content-wrap,
    .hot-search,
    .hot-search-item,
    .hot-search-title,
    .hp-pc-rc-TopMenu-top,
    .radio-txt,
    .hot-title {
        font-family: var(--hupu, ""), PingFangSC-Regular, PingFang SC,
            var(--noto, "") !important;
    }

    .bbs-sl-web-intro-detail-title,
    .bbs-sl-web-type-wrap div,
    .bbs-sl-web-type,
    .index_right-post-title__zN9JN,
    .right-post-title,
    .post-title,
    .post-info div {
        font-family: var(--hupu, ""), PingFangSC, var(--noto, "") !important;
    }

    .nav_qiantao_hupu210316,
    .title,
    .cntv_list ul li a {
        font-family: var(--hupu, ""), PingFangSC-Regular, Helvetica, Arial,
            Microsoft Yahei, var(--noto, ""), sans-serif !important;
    }

    .hot-index {
        font-family: var(--hupu, ""), HelveticaNeue-CondensedBold, HelveticaNeue,
            var(--noto, "") !important;
    }
}

@-moz-document domain("yandex.com") {
    .SearchPage-Container {
        font-family: "YS Text", Arial, Helvetica, "Arial Unicode MS", sans-serif,
            -apple-system, BlinkMacSystemFont, Helvetica Neue, Roboto, Segoe UI,
            Arial, Helvetica, var(--noto, ""), sans-serif !important;
    }

    .mini-suggest__button-text,
    .HeaderDesktop,
    .mini-suggest__input {
        font-family: "YS Text", Arial, Helvetica, "Arial Unicode MS", sans-serif,
            Arial, Helvetica, "Arial Unicode MS", var(--noto, ""), sans-serif !important;
    }

    .Label-Content {
        font-family: "YS Text", Verdana, Arial, Helvetica, var(--noto, ""),
            sans-serif !important;
    }
}

@-moz-document domain("baked.live") {
    #messagebuffer div {
        font-size: 50px !important;
        line-height: 1.5 !important;
    }
}

@-moz-document domain("naver.com") {
    body,
    button,
    input,
    select,
    table,
    textarea,
    .nng-viewer .se-viewer:lang(ko-KR),
    .nng-viewer .se-viewer:lang(ko-KR) .se-ff-system,
    .nng-viewer
        .se-viewer:lang(ko-KR)
        .se-section-image.se-l-default
        .se-caption
        .se-ff-,
    .nng-viewer .se-viewer:lang(ko-KR) .se-section-text.se-l-default .se-ff- {
        font-family: var(--sans, ""), -apple-system, BlinkMacSystemFont,
            Apple SD Gothic Neo, Helvetica, Arial, NanumGothic, 나눔고딕,
            Malgun Gothic, 맑은 고딕, Dotum, 굴림, gulim, 새굴림, noto sans,
            돋움, var(--noto, ""), sans-serif !important;
    }
}

@-moz-document domain("amazon.com"), domain("amazon.co.jp"), domain("amazon.in") {
    .NavigationBar-module__navHeader_myx_35WiMq43R8TeP3p0_dnLLH
        .NavigationBar-module__navOptions_myx_3-DW6_KRV7Rh8qixes2XJu,
    .NavigationBar-module__navHeader_title_style_myx_gLKlYY_oND8vgB6axwgyW {
        font-family: "Amazon Ember", Arial, var(--noto, ""), sans-serif !important;
    }

    #a-page,
    #e input,
    .a-container {
        font-family: "Amazon Ember", Arial, "Hiragino Kaku Gothic ProN",
            "Hiragino Sans", Meiryo, var(--noto, ""), sans-serif !important;
    }

    .bucket h2 {
        font-family: "Amazon Ember", verdana, arial, helvetica, var(--noto, ""),
            sans-serif !important;
    }

    .a-declarative,
    tbody tr td,
    span span a {
        font-family: "Amazon Ember", Arial, var(--noto, "") !important;
    }

    .a-color-link {
        font-family: "Amazon Ember", AmazonEmber-Regular,
            helvetica_ne_lt_55_roman, HelveticaNeueLTStd-Roman, Helvetica,
            var(--noto, ""), sans-serif !important;
    }

    .a-popover-wrapper,
    .a-meter-animate {
        font-family: "Amazon Ember", "Hiragino Kaku Gothic ProN",
            "Hiragino Sans", Meiryo, var(--noto, ""), sans-serif !important;
    }
}

@-moz-document domain("soranews24.com"), domain("rocketnews24.com") {
    #container,
    #searchsubmit {
        font-family: var(--sans, ""), arial, helvetica, clean, sans-serif !important;
    }

    #main {
        font-family: var(--sans, ""), "Helvetica Neue", Helvetica, Arial,
            sans-serif !important;
    }
}

@-moz-document domain("steampowered.com") {
    body.v6,
    .apphub_CardContentDiscussionTitle {
        font-family: "Motiva Sans", "Motiva Sans Light", Arial, Helvetica,
            sans-serif !important;
    }

    .pre_release_review {
        font-family: "Motiva Sans", arial !important;
    }
}

@-moz-document domain("msn.com") {
    .lightTheme,
    .locationItem-DS-EntryPoint1-6,
    .suggestion-DS-EntryPoint1-1,
    .weatherButtonWrapper-DS-EntryPoint1-3,
    .weatherFeedbackDialogButton-DS-EntryPoint1-3 {
        font-family: Segoe UI, Segoe WP, Arial, sans-serif, "MS Shell Dlg 2" !important;
    }
}

@-moz-document domain("weather.com") {
    div#appWrapper.appWrapper,
    div.appWrapper.Mobile.Daybreak,
    button,
    input,
    optgroup,
    select,
    textarea,
    div.RecentLocations--container--3BLMa.RecentLocations--alwaysOpen--1nn-z,
    div.ModalContent--content--yXRDl {
        font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont,
            Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
            Helvetica Neue, sans-serif !important;
    }
}

@-moz-document domain("bilibili.com") {
    body {
        font-family: var(--sans, ""), Arial, "Microsoft YaHei",
            "Microsoft Sans Serif", "Microsoft SanSerf", "微软雅黑" !important;
    }

    .feed-card[data-v-87ed4514] {
        font-family: var(--sans, ""), Helvetica Neue, Helvetica, Arial,
            Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei,
            sans-serif !important;
    }

    .gift-item[data-v-43b0ef2a],
    .follow-cntr
        .anchor-list
        .three-anchor
        .one-anchor
        .anchor-name
        p[data-v-c58bfb0e] {
        font-family: var(--sans, ""), "PingFang SC" !important;
    }

    .fans-medal-item {
        font-family: var(--sans, ""), "Microsoft YaHei", "Microsoft Sans Serif",
            "Microsoft SanSerf", "微软雅黑" !important;
    }

    .harmony-font,
    .video-card-ad-small .vcd .info .title[data-v-7c4b2c06],
    .video-page-card-small .card-box .info .title {
        font-family: var(--sans, ""), PingFang SC, HarmonyOS_Regular,
            Helvetica Neue, Microsoft YaHei, sans-serif !important;
    }

    @media (-webkit-max-device-pixel-ratio: 1) {
        .harmony-font,
        .video-card-ad-small .vcd .info .title[data-v-7c4b2c06],
        .video-page-card-small .card-box .info .title {
            font-family: var(--sans, ""), -apple-system, BlinkMacSystemFont,
                Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB,
                Microsoft YaHei, sans-serif !important;
        }
    }
}

@-moz-document domain("spotify.com") {
    .circular-sp-vietnamese,
    .circular-sp-vietnamese button,
    .circular-sp-vietnamese input,
    .circular-sp-vietnamese select,
    .circular-sp-vietnamese textarea {
        font-family: Roboto, CircularSpVietnamese, CircularSp-Arab,
            CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva,
            var(--noto, ""), var(--fallback-fonts, sans-serif) !important;
    }

    .encore-text-body-medium,
    .encore-text-body-medium-bold,
    .encore-text-body-small,
    .encore-text-body-small-bold {
        font-family: Roboto, CircularSp, CircularSp-Arab, CircularSp-Hebr,
            CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--noto, ""),
            var(--fallback-fonts, sans-serif) !important;
    }

    .encore-text-headline-large {
        font-family: Roboto, CircularSpVietnameseTitle, CircularSp-Arab,
            CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva,
            var(--noto, ""), var(--fallback-fonts, sans-serif) !important;
    }
}

@-moz-document domain("music.apple.com") {
    html {
        font-family: Roboto, -apple-system, BlinkMacSystemFont,
            Apple Color Emoji, SF Pro, SF Pro Icons, Helvetica Neue, Helvetica,
            Arial, var(--noto, ""), sans-serif !important;
    }
}