/* ==UserStyle==
@name           programming
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    My personal changes to codeblocks, etc
@author         Zerohazard8x + LLM
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/personal-style.user.styl
@homepageURL    https://github.com/Zerohazard8x/custom/stylus
==/UserStyle== */

:root {
    /* Define variables */
    --plex-base: "IBM Plex Sans JP", "IBM Plex Sans Thai", "IBM Plex Sans";
    --monospace: "Fira Code", "Fira Mono", "Noto Mono", "Noto Sans Mono",
        "DroidSansM", "Hack", "Bitstream Vera Sans Mono", "BitstromVera",
        "DejaVu Sans Mono", "Segoe UI Mono", "SF Mono", "SFMono-Regular", Menlo,
        Monaco, "Consolas", "Andale Mono", "Lucida Console",
        "Lucida Sans Typewriter", "Source Code Pro";
    --block-mono: "JetBrains Mono", "JetBrains Mono NL", "Input Mono",
        "IBM Plex Mono", "BlexMono", "Roboto Mono", "Iosevka Expanded",
        "Iosevka", "Input Sans", "Liberation Mono";
}

@-moz-document domain("github.com") {
    /* Github - Goal: Change all fonts, change font and formatting of code blocks */
    .page-responsive,
    .Box-sc-g0xbh4-0,
    .Dialog__Footer-sc-uaxjsn-6,
    .markdown-body > p,
    .markdown-body > h3,
    details,
    .container-lg {
        font-family: var(--plex-base), -apple-system, BlinkMacSystemFont,
            "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji" !important;
    }

    #commit-summary-input,
    .blob-code-inner,
    .blob-num,
    .branch-name,
    .diffstat,
    .file-info,
    .sha,
    .sha-block,
    .text-mono,
    .input-monospace,
    .BranchName-sc-sg8jsy-0,
    .markdown-body pre,
    kbd,
    .markdown-body code {
        font-family: var(--monospace), var(--block-mono), Consolas, monospace !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;

        /* -webkit-font-feature-settings: "liga", "calt" !important;
        -moz-font-feature-settings: "liga", "calt" !important;
        -o-font-feature-settings: "liga", "calt" !important; */
    }

    .file-info,
    .sha-block,
    .sha,
    .diffstat,
    .blob-code-inner,
    .blob-num,
    .markdown-body pre,
    .markdown-body code {
        font-size: 16px !important;
    }
}

@-moz-document domain("discord.com") {
    /* Discord - Goal: Change font and formatting of code blocks */
    .hljs,
    .codeLine-2C-9aH,
    .inlineCode-ERyvy_,
    .inline {
        font-family: var(--block-mono), var(--monospace), Consolas,
            "Andale Mono WT", "Andale Mono", "Lucida Console",
            "Lucida Sans Typewriter", "Liberation Mono", "Nimbus Mono L", Monaco,
            "Courier New", Courier, monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }
}
@-moz-document domain("wikipedia.org") {
    /* Wikipedia - Goal: Replace Arial font, Codeblocks */
    #searchform,
    .vector-body,
    .vector-menu,
    .vector-menu-content-list,
    .vector-pinnable-header-toggle-button,
    .vector-toc,
    cite,
    .mwe-popups-container {
        font-family: var(--plex-base), sans-serif !important;
    }

    p > code,
    li > code,
    pre > span {
        font-family: var(--monospace), var(--block-mono), monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }
}

@-moz-document domain("reddit.com") {
    /* Reddit - Goal: Code blocks */
    ._34q3PgLsx9zIU5BiSOjFoM {
        font-family: var(--monospace), var(--block-mono), Noto Mono, Monaco,
            Consolas, monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }
}

@-moz-document domain("stackoverflow.com") {
    /* StackOverflow - Goal: All fonts */
    code {
        font-family: var(--monospace), var(--block-mono), ui-monospace,
            "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco,
            Consolas, monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }

    .unified-theme,
    .question-hyperlink,
    .comment-copy,
    .s-prose {
        font-family: var(--plex-base), -apple-system, BlinkMacSystemFont,
            "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif !important;
    }
}

@-moz-document domain("poe.com") {
    /* Poe - Goal: Reduce usage of system font */
    .PageWithSidebarLayout_centeredPage__D42BU,
    .ReactModal__Content {
        font-family: var(--plex-base), apple-system, system-ui,
            BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell,
            Helvetica Neue, sans-serif !important;
    }
}

@-moz-document domain("chat.openai.com") {
    /* ChatGPT - Goal: Code blocks */
    code {
        font-family: var(--monospace), var(--block-mono), Söhne Mono, Monaco,
            Andale Mono, Ubuntu Mono, monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }
}

@-moz-document domain("w3schools.com") {
    /* W3Schools - Goal: Code blocks */
    .w3-white > code,
    .w3-codespan {
        font-family: var(--monospace), var(--block-mono), Consolas,
            "Source Code Pro", Menlo, Monaco, "Andale Mono", "Ubuntu Mono",
            monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }
}

@-moz-document domain("learn.microsoft.com") {
    /* MS Learn - Goal: Code blocks */
    pre > code,
    p > code,
    li > code {
        font-family: var(--monospace), var(--block-mono), SFMono-Regular,
            Consolas, Liberation Mono, Menlo, Courier, monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }
}

@-moz-document domain("wikiwand.com") {
    /* Wikiwand - Goal: Code blocks */
    p > code,
    li > code,
    pre > span {
        font-family: var(--monospace), var(--block-mono), Noto Sans Mono, Menlo,
            Consolas, Courier New, Courier, monospace !important;
        font-size: 16px !important;

        /* Ligatures */
        font-variant-ligatures: common-ligatures, contextual !important;
        font-feature-settings: "liga" 1, "calt" 1 !important;
    }
}