/* ==UserStyle==
@name           Search Engine Assistant... Assistant
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Companion to https://github.com/F9y4ng/GreasyFork-Scripts - Thanks to original authors
@author         Zerohazard8x
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/seaa.user.css
@homepageURL    https://github.com/Zerohazard8x/custom/tree/main/stylus
==/UserStyle== */
@-moz-document domain("bing.com"), domain("google.com"), domain("duckduckgo.com") {
    gb-button {
        display: inline-grid;
        height: unset;
        min-width: unset;
    }

    gb-button span input {
        border-radius: 24px;
        padding: unset;
    }

    gb-button span {
        height: unset;
    }

    gb-button input {
        height: unset;
        min-width: 115px;
    }
}