/* ==UserStyle==
@name           Font legibility style
@namespace      github.com/openstyles/stylus
@version        4.1.0
@author         zerohazard8x + LLM
@updateURL      https://mirror.ghproxy.com/https://github.com/Zerohazard8x/custom/raw/main/stylus/text-rendering.user.styl
@homepageURL    https://github.com/Zerohazard8x/custom/tree/main/stylus
==/UserStyle== */

/* Ligatures */
/* body {
    font-variant-ligatures: common-ligatures, contextual !important;
}
.example1 {
    -webkit-font-feature-settings: "liga", "calt" !important;
    -moz-font-feature-settings: "liga", "calt" !important;
    -o-font-feature-settings: "liga", "calt" !important;
    font-feature-settings: "liga", "calt" !important;
} */

/* Readable characters (slashed zero, numbers of equal height, serif I) */
/* .example1 {
    -webkit-font-feature-settings: "lnum" 1, "tnum" 1, "ss01" 1, "ss06" 1 !important;
    -moz-font-feature-settings: "lnum" 1, "tnum" 1, "ss01" 1, "ss06" 1 !important;
    -o-font-feature-settings: "lnum" 1, "tnum" 1, "ss01" 1, "ss06" 1 !important;
    font-feature-settings: "lnum" 1, "tnum" 1, "ss01" 1, "ss06" 1 !important;
}
.example2 {
    font-variant-numeric: lining-nums tabular-nums slashed-zero !important;
} */

@-moz-document regexp(".*") {
    *:not(
            pre *,
            .far,
            .fa,
            .glyphicon,
            [class*="vjs-"],
            .fab,
            .fa-github,
            .fas,
            .material-icons,
            .icofont,
            .typcn,
            mu,
            [class*="mu-"],
            .glyphicon,
            .icon
        ) {
        -webkit-font-smoothing: antialiased !important; /* for WebKit browsers */
        -moz-osx-font-smoothing: grayscale !important; /* for Firefox */
        -ms-font-smoothing: antialiased !important; /* for IE */
        text-rendering: optimizeLegibility !important;

        font-synthesis: none !important;
        font-optical-sizing: auto !important;

        font-size-adjust: from-font !important;
    }

    pre,
    code,
    tt {
        font-feature-settings: "liga", "clig", "calt" !important;

        /* -webkit-font-feature-settings: "liga", "calt" !important;
        -moz-font-feature-settings: "liga", "calt" !important;
        -o-font-feature-settings: "liga", "calt" !important; */

        -webkit-font-smoothing: antialiased !important;
        -moz-osx-font-smoothing: grayscale !important;
        -ms-font-smoothing: antialiased !important;
        text-rendering: optimizeLegibility !important;

        font-synthesis: none !important;
        font-optical-sizing: auto !important;

        font-size-adjust: from-font !important;
    }
}
