/* ==UserStyle==
@name           Font legibility style
@namespace      github.com/openstyles/stylus
@version        2025.06.01
@author         zerohazard8x + LLM
@updateURL      https://github.com/Zerohazard8x/custom/raw/main/stylus/text-rendering.user.css
@homepageURL    https://github.com/Zerohazard8x/custom/tree/main/stylus
==/UserStyle== */

/* Ligatures */
/* body {
    font-variant-ligatures: common-ligatures, contextual;
}
.example1 {
    -webkit-font-feature-settings: "liga", "calt";
    -moz-font-feature-settings: "liga", "calt";
    -o-font-feature-settings: "liga", "calt";
    font-feature-settings: "liga", "calt";
} */

/* Readable characters (slashed zero, numbers of equal height, serif I) */
/* .example1 {
    -webkit-font-feature-settings: "lnum" 1, "tnum" 1, "ss01" 1, "ss06" 1;
    -moz-font-feature-settings: "lnum" 1, "tnum" 1, "ss01" 1, "ss06" 1;
    -o-font-feature-settings: "lnum" 1, "tnum" 1, "ss01" 1, "ss06" 1;
    font-feature-settings: "lnum" 1, "tnum" 1, "ss01" 1, "ss06" 1;
}
.example2 {
    font-variant-numeric: lining-nums tabular-nums slashed-zero;
} */

@-moz-document regexp(".*") {
    *:not(
            pre *,
            .far,
            .fa,
            .glyphicon,
            [class*="vjs-"],
            .fab,
            .fa-github,
            .fas,
            .material-icons,
            .icofont,
            .typcn,
            mu,
            [class*="mu-"],
            .glyphicon,
            .icon
        ),
    pre,
    code,
    tt {
        -webkit-font-smoothing: antialiased; /* for WebKit browsers */
        -moz-osx-font-smoothing: grayscale; /* for Firefox */
        -ms-font-smoothing: antialiased; /* for IE */
        text-rendering: optimizeLegibility;
        font-optical-sizing: auto;
    }

    pre,
    code,
    tt {
        font-feature-settings: "liga", "clig", "calt";

        /* -webkit-font-feature-settings: "liga", "calt";
        -moz-font-feature-settings: "liga", "calt";
        -ms-font-feature-settings: "liga", "calt";
        -o-font-feature-settings: "liga", "calt"; */
    }
}