/* ==UserStyle==
@name           Zerohazard's Web Fonts
@namespace      github.com/openstyles/stylus
@version        3.2.0
@description    web font imports
@author         Zerohazard8x
@updateURL      https://mirror.ghproxy.com/https://github.com/Zerohazard8x/custom/raw/main/stylus/webfonts.user.styl
@homepageURL    https://github.com/Zerohazard8x/custom/tree/main/stylus
==/UserStyle== */

@-moz-document regexp(".*") {
    @import url("https://fonts.googleapis.com/css?family=Roboto+Flex|Fira+Mono:wght@100;200;300;400;500;600;700;800;900");
    @import url("https://fonts.googleapis.com/css?family=Source+Serif+4:wght@100;200;300;400;500;600;700;800;900");
    /* @import url("https://fonts.googleapis.com/css?family=Fira+Mono:wght@100;200;300;400;500;600;700;800;900"); */
    @import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Sans+TC|Noto+Sans+SC|Noto+Sans+KR|Noto+Sans+Thai|Shippori+Mincho|Noto+Serif+JP|Noto+Serif+TC|Noto+Serif+SC|Noto+Serif+KR|Noto+Serif+Thai:wght@100;200;300;400;500;600;700;800;900");
}